// ATTENZIONE! QUESTO FILE SCSS è UGUALE A CLASSI.CSS MA CON UNA AGGIUNTA IN FONDO: INTRODOTTO PER PROVARE RESIZABLE COLUMNS


  ._table-container {
      position: relative;
      min-height: 200px;
      max-height: 100%;
      overflow: auto;
  }
    
  /* table {
    width: 100%;
  } */

  /* .element-row {
      cursor: pointer;
  } */

  /* :host ::ng-deep .mat-form-field-infix {
    border: 0px !important;
  } */

  /* Larghezza colonne specifiche nelle table di questa sezione*/
  .mat-column-descrizione {
    min-width: 170px;
  }

  .mat-column-sezione {
    max-width: 30px;
  }

  .mat-column-sezioneCSAA {
    max-width: 30px;
  }

  .mat-column-actionsColumn {
    min-width: 50px;
  }

  .mat-column-numAlunni {
    width: 80px;
  }

  .mat-column-numMaschi {
    width: 80px;
  }

  .mat-column-numFemmine {
    width: 80px;
  }

  .mat-column-stato {
    background-color: rgba(173, 173, 173, 0.142);
    padding-left: 10px;
  }

  /*evidenziazione della riga che rimane selezionata*/
  ._table-row-selected-highlight{
    background: rgba(100, 100, 100, 0.2);
  }

  /*colonna di sx classi dashboard*/ 
  ._columnleft-dashboard {
    width:315px;
    height: 83% ;
    position: absolute;
    top: 75px;
    left: 8px;
  }

    /*colonna di dx classi dashboard*/ 
  ._columnright-dashboard {
    width:76%;
    height: 83%;
    position: absolute;
    top: 75px;
    left: 330px
  }


// *************************************************

// COPIATO COME STA DA QUI IN GIU'
  mat-table {
    width: 100%;
    &.resizing {
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: col-resize;
    }
    mat-cell {
      span {       
        display: block; 
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    mat-header-cell {
      position: relative;      
      &:not(:last-child) {
        .resize-holder {
          cursor: col-resize;
          width: 20px;
          height: 100%;
          position: absolute;
          right: -10px;
          top: 0;
          z-index: 1;
        }
      }
    }
    mat-cell,
    mat-header-cell {
      border-right: 0.5px solid rgba(0, 0, 0, 0.12);
      &:not(:nth-child(1)) {
        padding: 0 10px;
      }
    }
}

  

