<form class="data-form flex-form" [formGroup] = "form">

    <div mat-list-item style="text-align: center; margin-bottom: 10px;">
        Filtri Avanzati
    </div>
    <mat-list-item >
        <mat-icon>face</mat-icon>
        <mat-form-field>
            <mat-label>Nome e Cognome Alunno</mat-label>
            <input type="text"
                    placeholder="<digita e seleziona>"
                    matInput
                    formControlName="nomeCognomeAlunno"
                    [matAutocomplete]="auto1" #nomeCognomeAlunno 
                    (keydown.enter) = "onEnter()"
                    >
                    <!-- [displayWith]="displayFn" DisplayWith impedisce che si possa scrivere qualcosa nella input in maniera programmatica-->
            <mat-autocomplete #auto1="matAutocomplete">
                <!-- <mat-spinner *ngIf="nomeAlunnoIsLoading" class="is-loading" diameter="40"></mat-spinner> -->
                <mat-option *ngFor="let element of (filteredAlunni$ | async)" (click) = "clickAlunnoCombo(element)" [value]="element.nome + ' ' + element.cognome" #option>
                    <small>{{element.nome}} {{element.cognome}}</small>
                </mat-option>
            </mat-autocomplete>
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="resetInput('nomeCognomeAlunno')">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </mat-list-item >

    <mat-list-item >
        <mat-icon>family_restroom</mat-icon>
        <mat-form-field class="ml20">
            <mat-label>per Genitore</mat-label>
            <input matInput placeholder="ID" formControlName="idGenitore" #idGenitore>
            <button mat-button *ngIf = "idGenitore.value" matSuffix mat-icon-button aria-label="Clear" (click)="resetInput('idGenitore')">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </mat-list-item >
    <mat-list-item >
        <mat-icon>event</mat-icon>
        <span class="descMenu">per anno</span>
    </mat-list-item >
    <mat-list-item >
        <mat-icon>groups</mat-icon>
        <span class="descMenu">per classe</span>
    </mat-list-item >
    <button mat-button matSuffix class="w90 ml12" mat-stroked-button aria-label="Clear" (click)="resetAllInputs()" >
        Pulisci Filtri
    </button>
</form>
