.grid-checkboxes {
    width: 600px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.grid-checkboxes th {
    text-align: left;
    font-weight: normal;
}

 /* .is-loading ::ng-deep .mat-option-text {
    display: flex;
    justify-content: center;
  }  */


  .is-loading{
    position: absolute;
    float:center;
    margin-left: 65px;
  } 

