<div class="mt70">
    <div>
        <button mat-mini-fab class="button-transparent _btn-PDF" matTooltip="Scarica PDF" (click)="PDF()">
        </button>
    </div>
    <div class="mt10">
        <button mat-mini-fab class="button-transparent _btn-XLS" matTooltip="Scarica Excel" (click)="XLS()">
        </button>
    </div>
    <div class="mt10">
        <button mat-mini-fab class="button-transparent" matTooltip="Invia mail" (click)="email()">
            <mat-icon class="material-icons color_white">email</mat-icon>
        </button>
    </div> 
    <div class="mt10">
        <button mat-mini-fab class="button-transparent" matTooltip="Scelta Colonne" (click)="scegliColonne()">
            <mat-icon class="material-icons color_white">table_chart</mat-icon>
        </button>
    </div>  
</div>