<mat-card class="form-card">
    <mat-card-content>
        <form *ngIf="blocco$ | async" class="data-form flex-form" [formGroup] = "form">

            <!-- ********************************    BOTTONI     ************************************* -->
            <div class="center">

                <img class="iconaMenuBig" src="./assets/blocco_edit_T.svg">

                <button mat-icon-button aria-label="Back" matTooltip="Chiudi" class="_btn-toolbar-close" mat-dialog-close></button>

                <button *ngIf="bloccoID" mat-mini-fab aria-label="Back" matTooltip="Ricarica" class="btn ml10" (click)="loadData()">
                    <mat-icon>restart_alt</mat-icon>
                </button>

                <button mat-mini-fab aria-label="Salva" matTooltip="Salva" class="btn ml10"
                        [disabled]= "!form.valid" 
                        (click)="save()" >
                    <mat-icon>save</mat-icon>
                </button>

                <button *ngIf="bloccoID" mat-mini-fab aria-label="Cancella" matTooltip="Cancella" class="btn ml10"

                        (click)="delete()" >
                    <mat-icon>delete</mat-icon>
                </button>

            </div>
            <mat-grid-list class="mt10" [cols]="2" rowHeight="60px" >
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput type="number" required placeholder="Distanza da bordo sx" formControlName="x">
                        <mat-error *ngIf="form.controls.x.errors?.required"> Campo obbligatorio</mat-error>
                        <!-- <mat-error *ngIf="form.errors?.['tooWide']">Il blocco termina fuori dall'area disponibile</mat-error> -->
                        <div class="_red fs10 mt10 _pos-absolute" *ngIf="form.errors?.['tooWide']">Il blocco termina fuori dall'area disponibile</div>

                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput type="number" required placeholder="Distanza dall'alto" formControlName="y">
                        <mat-error *ngIf="form.controls.y.errors?.required"> Campo obbligatorio</mat-error>
                        <div class="_red fs10 mt10 _pos-absolute" *ngIf="form.errors?.['tooHigh']">Il blocco termina fuori dall'area disponibile</div>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list class="mt10" [cols]="2" rowHeight="60px" >
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput type="number" required placeholder="Larghezza" formControlName="w">
                        <mat-error *ngIf="form.controls.w.errors?.required"> Campo obbligatorio</mat-error>
                        <div class="_red fs10 mt10 _pos-absolute" *ngIf="form.errors?.['tooWide']">Il blocco termina fuori dall'area disponibile</div>
                    </mat-form-field>

                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput type="number" required placeholder="Altezza" formControlName="h">
                        <mat-error *ngIf="form.controls.h.errors?.required"> Campo obbligatorio</mat-error>
                        <div class="_red fs10 mt10 _pos-absolute" *ngIf="form.errors?.['tooHigh']">Il blocco termina fuori dall'area disponibile</div>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list *ngIf="tipoBloccoDesc == 'Testo'" class="mt10" [cols]="1" rowHeight="60px" formControlName="tipoBlocco">
                <mat-grid-tile class="ml15">
                    <mat-checkbox color="primary" formControlName="ckFill">
                        Riempimento
                    </mat-checkbox>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list [cols]="1" rowHeight="30px" >
                <mat-grid-tile *ngIf="tipoBloccoDesc == 'Testo'" [ngClass]="{'invisible': !form.controls.ckFill.value}">
                    <button type="button" class="_btnColorPicker" 
                    (click)="openColorPicker()"  [ngStyle]="{'background-color': form.controls.color.value}" > </button>
                </mat-grid-tile>
                <!-- <mat-grid-tile>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Codice colore" formControlName="color" #color>
                    </mat-form-field>
                </mat-grid-tile> -->
            </mat-grid-list>


            <div *ngIf="tipoBloccoDesc == 'Immagine'" class="w100px h100px ma-lr mt20 shadowed" >
                <img #myImg *ngIf="imgFile" class="w100px bordered " [src]="imgFile">
            </div>

            <div *ngIf="tipoBloccoDesc == 'Immagine'" class="flex-container form-group mt20 ">
                <div class="form-group">
                    <input type="file" class="form-control" id="file" accept=".gif,.jpg,.jpeg,.png" formControlName="file" (change)="onImageChange($event)"hidden #selectFile>
                    <button type="button" mat-button matSuffix class="w180px ma" mat-stroked-button (click)="selectFile.click()" >Seleziona Immagine</button>
                    <!-- <div *ngIf="uf.file.touched && uf.file.invalid" class="alert alert-danger">
                        <div *ngIf="uf.file.errors.required">Image file is required.</div>
                    </div> -->
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>