<mat-card appearance="outlined" class="form-card" >
    <mat-card-content >
        <form *ngIf="blocco$ | async" class="data-form flex-form" [formGroup] = "form" >

<!--#region ************ BOTTONI ********************-->
            <div class="center">

                <img *ngIf="tipoBloccoDesc == 'Text'" class="iconaMenuBig" src="./assets/blocco_edit_testo_T.svg">
                <img *ngIf="tipoBloccoDesc == 'Table'" class="iconaMenuBig" src="./assets/blocco_edit_tabella_T.svg">
                <img *ngIf="tipoBloccoDesc == 'Image'" class="iconaMenuBig" src="./assets/blocco_edit_immagine_T.svg">


                <button mat-icon-button aria-label="Back" matTooltip="Chiudi" class="_btn-toolbar-close" mat-dialog-close></button>

                <button *ngIf="bloccoID" mat-mini-fab aria-label="Back" matTooltip="Ricarica" class="btn ml10" (click)="loadData()">
                    <mat-icon>restart_alt</mat-icon>
                </button>

                <button mat-mini-fab aria-label="Salva" matTooltip="Salva" class="btn ml10"
                        [disabled]= "!form.valid" 
                        (click)="save()" >
                    <mat-icon>save</mat-icon>
                </button>

                <button *ngIf="bloccoID" mat-mini-fab aria-label="Cancella" matTooltip="Cancella" class="btn ml10"

                        (click)="delete()" >
                    <mat-icon>delete</mat-icon>
                </button>

            </div>
<!--#endregion-->

<!--#region ************ X W Y H ********************-->

            <mat-grid-list [cols]="2" rowHeight="20px" >
                <mat-grid-tile>
                    <div class="_red fs12" [ngClass]="{'invisible': !form.errors?.['tooWide']}" >Il blocco termina in larghezza fuori dall'area disponibile</div>
                </mat-grid-tile>

                <mat-grid-tile>
                    <div class="_red fs12 " [ngClass]="{'invisible': !form.errors?.['tooHigh']}" >Il blocco termina in altezza fuori dall'area disponibile</div>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list  [cols]="4" rowHeight="80px" >
                <mat-grid-tile>
                    <mat-form-field  appearance="outline">
                        <mat-label>Da sinistra</mat-label>
                        <input matInput type="number" required formControlName="x" #x>
                        <mat-error *ngIf="form.controls.x.errors?.required"> Obbligatorio</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline"> 
                        <mat-label>Larghezza</mat-label>
                        <input matInput type="number" required formControlName="w" #w>
                        <mat-error *ngIf="form.controls.w.errors?.required"> Obbligatorio</mat-error>
                    </mat-form-field>

                </mat-grid-tile>


                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Dall'alto</mat-label>
                        <input matInput type="number" required formControlName="y">
                        <mat-error *ngIf="form.controls.y.errors?.required"> Obbligatorio</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Altezza</mat-label>
                        <input matInput type="number" required formControlName="h" #h>
                        <mat-error *ngIf="form.controls.h.errors?.required"> Obbligatorio</mat-error>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>   
            <mat-grid-list  [cols]="1" rowHeight="80px" *ngIf="tipoBloccoDesc == 'Text' || tipoBloccoDesc == 'Table'">
                
                <mat-grid-tile class="w100">
                    <mat-form-field  class="w100" appearance="outline" >
                        <mat-label>Campi dalla tabella ....</mat-label>
                        <mat-select formControlName="tableNames" (selectionChange)="setCampiMention()">
                            <mat-option *ngFor="let col of obsCols$ | async" [value]="col.tableName">
                                {{col.tableName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
<!--#endregion-->

<!--#region ************ QUILL x Testo **************-->
<!-- (onSelectionChanged)="onSelectionChanged($event)" -->
            <quill-editor *ngIf="tipoBloccoDesc == 'Text'"

                placeholder="Inserire il proprio testo..."
                formControlName="testo"
                [customOptions]="customOptions"
                [modules] = "modules"
                #QuillEditor>
                
                <div quill-editor-toolbar>
                    <span class="ql-formats">
                        <select class="ql-font" [title]="'Carattere'">
                        </select>
                    </span>

                    <span class="ql-formats">
                      <button class="ql-bold" [title]="'Grassetto'"></button>
                      <button class="ql-italic" [title]="'Corsivo'"></button>
                      <button class="ql-underline" [title]="'Sottolineato'"></button>
                      <button class="ql-strike" [title]="'Barrato'"></button>
                    </span>
                
                    <span class="ql-formats">
                        <button class="ql-list ordered" value="ordered" [title]="'Elenco Numerato'"></button>
                        <button class="ql-list bullet" value="bullet" [title]="'Elenco Puntato'"></button>

                      </span>
                    <span class="ql-formats">
                      <select class="ql-size" [title]="'Dimensione Font'" formControlName="fontSize" (change)="changeFontSize()">
                        <option value="10px"></option>
                        <option value="12px"></option>
                        <option value="14px"></option>
                        <option value="16px"></option>
                        <option value="18px"></option>
                        <option value="20px"></option>
                        <option value="22px"></option>
                        <option value="24px"></option>
                      </select>
                    </span>
                
                    <span class="ql-formats">                      
                        <select class="ql-align" [title]="'Allineamento'" formControlName="alignment" (change)="changeAlignment()">
                        </select>
                    </span>

                    <span class="ql-formats">
                        <button class="ql-clean" [title]="'Pulizia Formato'"></button>
                    </span>

                  </div>

            </quill-editor>
<!--#endregion-->

<!--#region ************ Riempimento e Bordi x Testo -->
            <mat-grid-list *ngIf="tipoBloccoDesc == 'Text'" class=" _cell-bordered mt10" [cols]="7" rowHeight="60px">
                <mat-grid-tile>
                <mat-label class="frameLabel t10 fs12">RIEMPIMENTO </mat-label>
                </mat-grid-tile>

                <mat-grid-tile colspan="2">
                    <mat-label class="_pos-absolute t0">Trasparente</mat-label>
                    <mat-checkbox class="_pos-absolute t10" color="primary" formControlName="ckTraspFill" (change)="setTraspFill($event)">
                    </mat-checkbox>
                </mat-grid-tile>

                <mat-grid-tile [ngClass]="{'invisible': form.controls.ckTraspFill.value}">
                    <mat-label class="_pos-absolute t0">Colore</mat-label>

                    <button type="button" class="_btnColorPicker _pos-absolute t25" 
                    (click)="openColorPickerFill()"  [ngStyle]="{'background-color': form.controls.color?form.controls.color.value: '#FFFFFF'}" > </button>
                </mat-grid-tile>

            </mat-grid-list>





            <mat-grid-list *ngIf="tipoBloccoDesc == 'Text'" class="_cell-bordered mt10" [cols]="9" rowHeight="90px">
                
                <mat-grid-tile>
                    <mat-label class="frameLabel t10 fs12">BORDI </mat-label>
                </mat-grid-tile>
    
                <mat-grid-tile colspan="3" >
                    <mat-label class="_pos-absolute t0">Lati Attivi</mat-label>
                    <mat-button-toggle-group class="_pos-absolute t8" formControlName="latiAttivi" aria-label="latiAttivi" multiple>
                        <mat-button-toggle   value="bordertop" (change)="bordersChange($event)" [checked]="form.controls.borderTop.value"><mat-icon>border_top</mat-icon></mat-button-toggle>
                        <mat-button-toggle   value="borderright" (change)="bordersChange($event)"  [checked]="form.controls.borderRight.value"><mat-icon>border_right</mat-icon></mat-button-toggle>
                        <mat-button-toggle   value="borderbottom" (change)="bordersChange($event)"  [checked]="form.controls.borderBottom.value"><mat-icon>border_bottom</mat-icon></mat-button-toggle>
                        <mat-button-toggle   value="borderleft" (change)="bordersChange($event)"  [checked]="form.controls.borderLeft.value"><mat-icon>border_left</mat-icon></mat-button-toggle>
                    </mat-button-toggle-group>
                </mat-grid-tile>


                <mat-grid-tile colspan="2" >
                    <mat-label class="_pos-absolute t0">Tratteggio</mat-label>

                    <mat-button-toggle-group class="_pos-absolute t8" formControlName="typeBorders" aria-label="Font Style" (change)="bordersTypeChange($event)">
                        <mat-button-toggle value="solid" ><img class="w24px" src="./assets/border_solid.svg"></mat-button-toggle>
                        <mat-button-toggle value="dashed" ><img class="w24px" src="./assets/border_dashed.svg"></mat-button-toggle>
                        <mat-button-toggle value="dotted" ><img class="w24px" src="./assets/border_dotted.svg"></mat-button-toggle>
                    </mat-button-toggle-group>
                </mat-grid-tile>

                <mat-grid-tile colspan="2" >
                    <mat-label class="_pos-absolute t0">Spessore</mat-label>

                    <mat-button-toggle-group class="_pos-absolute t8" formControlName="thicknBorders">
                        <mat-button-toggle value="sottili" ><img class="w24px" src="./assets/border_solid.svg"></mat-button-toggle>
                        <mat-button-toggle value="spessi" ><img class="w24px" src="./assets/border_solid_thick.svg"></mat-button-toggle>
                        <mat-button-toggle value="enormi" ><img class="w24px" src="./assets/border_solid_huge.svg"></mat-button-toggle>

                    </mat-button-toggle-group>
                </mat-grid-tile>

                <mat-grid-tile >

                    <mat-label class="_pos-absolute t0">Colore</mat-label>

                    <button type="button" class="_btnColorPicker _pos-absolute t30" 
                    (click)="openColorPickerBorders()"  [ngStyle]="{'background-color': form.controls.colorBorders?form.controls.colorBorders.value: '#000000'}" > </button>
                </mat-grid-tile>

            </mat-grid-list>

<!--endregion-->

<!--#region ************ Immagine *******************-->

            <div *ngIf="tipoBloccoDesc == 'Image'" class="flex-container form-group mt20 ">
                <div class="form-group">
                    <input type="file" class="form-control" id="file" accept=".gif,.jpg,.jpeg,.png" formControlName="file" (change)="onImageChange($event)"hidden #selectFile>
                    <button type="button" mat-button matSuffix class="w180px ma" mat-stroked-button (click)="selectFile.click()" >Seleziona Immagine</button>
                </div>
            </div>
            
            <div *ngIf="tipoBloccoDesc == 'Image'" class=" ma-lr mt20" >
                <img  
                    *ngIf="imgFile" 
                    style="max-width: 250px; max-height: 250px;"
                    class="_bordered-lightgrey " 
                    [src]="imgFile"
                    
                    #myImg >
            </div>
<!--#endregion-->

<!--#region ************ TABLE **********************-->
            <div> 
                <app-table 
                    *ngIf="tipoBloccoDesc == 'Table'"
                    [bloccoID] = "bloccoID"
                    [wBlocco] = "w.value"
                    [hBlocco] = "h.value"
                    [mentionValues] = "mentionValues"
                >
                </app-table>
            </div>
<!-- endregion-->
        
        </form>
    </mat-card-content>
</mat-card>

