<!--
/-alunno-edit 2^tab--------------------------------------------------------\
|   /-genitori-list----------------------------------------------------\   |
|   |                                                                  |   |
|   |            alunno-edit-famiglia                                  |   |
|   |                                                                  |   |
|   \------------------------------------------------------------------/   |   
|   /-genitori-list----------------------------------------------------\   |
|   |                                                                  |   |
|   |             alunno-edit-list                                     |   |
|   |                                                                  |   |
|   |                                                                  |   |
|   |                                                                  |   |
|   |                                                                  |   |
|   |                                                                  |   |
|   \------------------------------------------------------------------/   |
|                                                                          |
\--------------------------------------------------------------------------/

/-alunno-edit 3^tab--------------------------------------------------------\
|   /-classi-alunni-anni----------\         /-classi-alunni-anni-list-\    |
|   |                             |         |                         |    |
|   |                             |         |                         |    |
|   |                             |         |                         |    |
|   | classi-alunni-anni-attended |         | classi-alunni-anni-list |    |
|   |                             |         |                         |    |
|   |                             |         |                         |    |
|   |                             |         |                         |    |
|   |                             |         |                         |    |
|   |                             |         |                         |    |
|   |                             |         |                         |    |
|   |                             |         |                         |    |
|   |                             |         |                         |    |
|   \-----------------------------/         \-------------------------/    |
|                                                                          |
\--------------------------------------------------------------------------/
-->
    <mat-card  class="form-card">
        <mat-card-content>
        
            <!-- ********************************    BOTTONI     ************************************* -->
            <div class="center">

                <img class="iconaMenuBig" src="./assets/alunno_edit_T.svg">

                <button mat-icon-button aria-label="Back" matTooltip="Chiudi" class="_btn-toolbar-close" mat-dialog-close></button>
                <span [ngClass]="{'invisible': selectedTab != 0}">
                    <button *ngIf="alunnoID" mat-mini-fab aria-label="Back" matTooltip="Ricarica" class="btn ml10"
                            (click)="loadData()" >
                        <mat-icon>restart_alt</mat-icon>
                    </button>

                    <button mat-mini-fab aria-label="Salva" matTooltip="Salva" class="btn ml10"
                            [disabled] ="!isValid"
                            (click)="save()" >
                        <mat-icon>save</mat-icon>
                    </button>

                    <button *ngIf="alunnoID" mat-mini-fab aria-label="Cancella" matTooltip="Cancella" class="btn ml10"

                            (click)="delete()" >
                        <mat-icon>delete</mat-icon>
                    </button>
                </span>
            </div>
            
            <mat-tab-group mat-align-tabs="center" (selectedTabChange)="selectedTabValue($event)">

<!-- ********************************    MAT TAB ANAGRAFICA *********************************** -->
                <mat-tab  label="Dati Anagrafici">
                    
                    <form *ngIf="(alunno$ | async) || emptyForm" class="data-form flex-form" [formGroup] = "formAlunno">
                        <app-persona-form class="mt10" *ngIf="(alunno$ | async) || emptyForm" 
                            [personaID] = "personaID" 
                            [tipoPersonaID]="1"
                            [dove]="'alunno-edit'"
                            (formValid)="formValidEmitted($event)"
                            >   
                        </app-persona-form>
                        

                        <mat-grid-list class="no-overflowx" [cols]="breakpoint" rowHeight="60px">
                            <mat-grid-tile>
                                <mat-form-field>
                                    <mat-label>Scuola di provenienza</mat-label>
                                    <input matInput type="text" formControlName="scuolaProvenienza">
                                </mat-form-field>
                            </mat-grid-tile>

                            <mat-grid-tile>
                                <mat-form-field>
                                    <mat-label>Indirizzo Sc. provenienza</mat-label>
                                    <input matInput type="text" formControlName="indirizzoScuolaProvenienza">
                                </mat-form-field>
                            </mat-grid-tile>

                            <mat-grid-tile class="tileCk">

                            </mat-grid-tile>
                        </mat-grid-list>

                        <mat-grid-list class="no-overflowx" [cols]="breakpoint" rowHeight="60px">

                            <mat-grid-tile class="tileCk ml15">
                                <mat-checkbox color="primary" formControlName="ckDSA">
                                    Alunno con DSA
                                </mat-checkbox>
                            </mat-grid-tile>

                            <mat-grid-tile class="tileCk ml15" >
                                <mat-checkbox color="primary" formControlName="ckDisabile">
                                    Alunno Disabile
                                </mat-checkbox>
                            </mat-grid-tile>

                            <mat-grid-tile class="tileCk ml15">
                                <mat-checkbox color="primary" formControlName="ckAuthFoto">
                                    Autorizz. Uso Foto
                                </mat-checkbox>
                            </mat-grid-tile>

                            <mat-grid-tile class="tileCk ml15">
                                <mat-checkbox color="primary" formControlName="ckAuthUscite">
                                    Autorizz. Uscite
                                </mat-checkbox>
                            </mat-grid-tile>

                            <mat-grid-tile class="tileCk ml15">
                                <mat-checkbox color="primary" formControlName="ckAuthUsoMateriale">
                                    Autorizz. Uso Mat.
                                </mat-checkbox>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </form> 
                </mat-tab>
<!-- ********************************    MAT TAB GENITORI ************************************ -->
                <mat-tab label="Famiglia">    
                    <button mat-mini-fab aria-label="Nuova anagrafica Genitore" matTooltip="Nuova anagrafica Genitore" class= "_btn-addModal" (click)="addGenitore()">
                        <mat-icon>add</mat-icon>
                    </button>
                    
                    <mat-label class="frameLabel">i genitori/tutori di {{alunnoNomeCognome}} </mat-label>
                    <div class="_genitori-container _cell-bordered mt30">
                        <app-genitori-list [context]="'alunno-edit-famiglia'"[alunnoID]="alunnoID"  (removeFromFamily) = "removeFromFamily($event)" #genitoriFamiglia></app-genitori-list>
                    </div>
                    <mat-accordion>
                        <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Elenco di tutti i genitori/tutori</mat-panel-title>
                                <mat-panel-description>(fare click per aprire)</mat-panel-description>
                            </mat-expansion-panel-header>
                            <mat-label class="frameLabel">Elenco dei genitori/tutori </mat-label>
                            <div class="_genitori-list-container _cell-bordered mt10">
                                <app-genitori-list [context]="'alunno-edit-list'" (addToFamily) = "addToFamily($event)"></app-genitori-list>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>

                </mat-tab>
<!-- ********************************    MAT TAB CLASSI    ************************************* -->
                <mat-tab label="Classi Frequentate" style="overflow-x: hideen;">
                    <table>
                        <tr>
                            <td>
                                <mat-label class="frameLabel">Le classi frequentate da {{alunnoNomeCognome}} </mat-label>
                                <div class="_classi-attended-container _cell-bordered mt10">
                                    <app-iscrizioni-alunno-list [alunnoID] = "alunnoID" #iscrizioniAlunno 
                                                                (removeFromAttended) = "removeFromAttended($event)" >
                                    </app-iscrizioni-alunno-list>
                                </div>
                            </td>
                            <td class="_classi-list-td-vertical-accordion">
                                <mat-accordion class="_rotated-accordion">
                                    <mat-expansion-panel hideToggle>
                                        <mat-expansion-panel-header>
                                        <mat-panel-title>Tutte le classi</mat-panel-title>
                                        <mat-panel-description>(fare click per aprire)</mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <mat-label class="frameLabel le480">Elenco delle classi</mat-label>
                                        <div class="_panel-content _classi-list-container _cell-bordered mt10">
                                            <app-classi-sezioni-anni-list [dove] = "'alunno-edit-list'"
                                                                          (addToAttended) = "addToAttended($event)"
                                                                          #classiSezioniAnniList>
                                            </app-classi-sezioni-anni-list>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>  
                            </td>
                        </tr>
                    </table>
                </mat-tab>
<!-- ********************************    MAT TAB PAGELLE ************************************** -->
                <mat-tab label="Pagelle">

                </mat-tab>
<!-- ********************************    MAT TAB VOTI    ************************************** -->
                <!-- <mat-tab label="Voti">

                </mat-tab> -->
<!-- ********************************    MAT TAB ASSENZE ************************************** -->
                <mat-tab label="Assenze">

                    <app-presenze-alunno-list
                    [alunnoID]="alunnoID">

                    </app-presenze-alunno-list>

                </mat-tab>
<!-- ********************************    MAT TAB NOTE ************************************** -->
                <mat-tab label="Note">

                    <app-note-list
                    [alunnoID] = "alunnoID"
                    [dove] = "'alunno-edit'"
                    >
                    </app-note-list>

                </mat-tab>
            </mat-tab-group>    
            
        </mat-card-content>
    </mat-card>
