<mat-nav-list>
    <div class="filtriAvanzati pt60">

        <div mat-list-item style="text-align: center; margin-bottom: 10px;">
            Filtri Avanzati
        </div>

        <mat-form-field class="ml12">
            <mat-label>Nome</mat-label>
            <input matInput [formControl]="nomeFilter">
        </mat-form-field>

        <mat-form-field class="ml12">
            <mat-label>Cognome</mat-label>
            <input matInput [formControl]="cognomeFilter">
        </mat-form-field>

        <mat-form-field class="ml12">
            <mat-label>Classe</mat-label>
            <input matInput [formControl]="classeFilter">
        </mat-form-field>

        <mat-form-field class="ml12">
            <mat-label>Sezione</mat-label>
            <input matInput [formControl]="sezioneFilter">
        </mat-form-field>

        <mat-form-field class="ml12">
            <mat-label>CF</mat-label>
            <input matInput [formControl]="cfFilter">
        </mat-form-field>

        <mat-form-field class="ml12">
            <mat-label>email</mat-label>
            <input matInput [formControl]="emailFilter">
        </mat-form-field>

        <mat-form-field class="ml12">
            <mat-label>telefono</mat-label>
            <input matInput [formControl]="telefonoFilter">
        </mat-form-field>

        <mat-form-field class="ml12">
            <mat-label>nato il</mat-label>
            <input matInput [formControl]="dtNascitaFilter">
        </mat-form-field>

        <mat-form-field class="ml12">
            <mat-label>indirizzo</mat-label>
            <input matInput [formControl]="indirizzoFilter">
        </mat-form-field>

        <mat-form-field class="ml12">
            <mat-label>comune</mat-label>
            <input matInput [formControl]="comuneFilter">
        </mat-form-field>

        <mat-form-field class="ml12">
            <mat-label>prov</mat-label>
            <input matInput [formControl]="provFilter">
        </mat-form-field>

        <div class="ml12 mt10">
            <button mat-button matSuffix class="w180px ml15" mat-stroked-button aria-label="Clear" (click)="resetAllInputsAndClearFilters()" >
                Pulisci Filtri
            </button>
        </div>

    </div>
</mat-nav-list>

