<button mat-mini-fab aria-label="Strumenti" matTooltip="Strumenti" class="_btn-toolbar" (click)="sidenav2.toggle();" >
    <mat-icon>construction</mat-icon>
</button>

<button mat-mini-fab aria-label="Nuova Materia" matTooltip="Nuova materia" class="_btn-add" (click)="addRecord()">
    <mat-icon>add</mat-icon>
</button>

<!-- <button mat-mini-fab aria-label="Filtri Avanzati" matTooltip="Filtri Avanzati" class="_btn-filter" (click)="sidenav.toggle(); resetFiltri()" >
    <mat-icon>filter_alt</mat-icon>
</button> -->

<mat-drawer-container [hasBackdrop]="false" style="min-height: 91%">
    <!-- <mat-drawer position="end" #sidenav class="rightSidenav"  [mode]="'side'">
        <app-alunni-filter [alunniListComponent] = "appalunnilist" #appalunnifilter></app-alunni-filter>    
    </mat-drawer> -->

    <mat-drawer position="start" #sidenav2 class="leftSidenav2"  [mode]="'side'">
        <app-toolbar 
            [rptTitle]="appmaterielist.rptTitle" 
            [rptFieldsToKeep]="appmaterielist.rptFieldsToKeep" 
            [rptColumnsNames]="appmaterielist.rptColumnsNames" 
            [rptData]="appmaterielist.matDataSource.data"
            [rptFileName]="appmaterielist.rptFileName"
            [columnsComponent] = "appmaterielist"
            >
        </app-toolbar>
    </mat-drawer>

    <mat-drawer-content>
        <app-materie-list
            #appmaterielist  
            >
        </app-materie-list>
    </mat-drawer-content>
</mat-drawer-container>