<button mat-mini-fab aria-label="Strumenti" matTooltip="Strumenti" class="_btn-toolbar _btn-pos-top-0" (click)="sidenav2.toggle();" >
    <mat-icon>construction</mat-icon>
</button>

<button mat-mini-fab aria-label="Nuova Materia" matTooltip="Nuova materia" class="_btn-add _btn-pos-right-1 _btn-pos-top-0" (click)="addRecord()">
    <mat-icon>add</mat-icon>
</button>


<mat-drawer-container [hasBackdrop]="false" style="min-height: 91%">

    <mat-drawer position="start" #sidenav2 class="leftSidenav2"  [mode]="'side'">
        <app-toolbar 
            [rptTitle]="appmaterielist.rptTitle" 
            [rptFieldsToKeep]="appmaterielist.rptFieldsToKeep" 
            [rptColumnsNames]="appmaterielist.rptColumnsNames" 
            [rptData]="appmaterielist.matDataSource.data"
            [rptFileName]="appmaterielist.rptFileName"
            [columnsComponent] = "appmaterielist"
            >
        </app-toolbar>
    </mat-drawer>

    <mat-drawer-content>
        <app-materie-list
            #appmaterielist  
            >
        </app-materie-list>
    </mat-drawer-content>
</mat-drawer-container>