<div class="spinner-container" *ngIf="dsAlunni.loading$ | async">
    <mat-spinner></mat-spinner>
</div>
<mat-table class="lessons-table mat-elevation-z8" [dataSource]="dsAlunni">
  
    <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
        <mat-cell class="description-cell"
                  *matCellDef="let AlunniSubject">{{AlunniSubject.nome}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="cognome">
        <mat-header-cell *matHeaderCellDef>Cognome</mat-header-cell>
        <mat-cell class="duration-cell"
                  *matCellDef="let AlunniSubject">{{AlunniSubject.cognome}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="dtNascita">
        <mat-header-cell *matHeaderCellDef>Data di Nascita</mat-header-cell>
        <mat-cell class="duration-cell"
                  *matCellDef="let AlunniSubject">{{AlunniSubject.dtNascita | date: "dd/MM/yyyy"}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
    <mat-row *matRowDef="let row; columns: displayedColumns"
    (click)="onRowClicked(row)"
    ></mat-row>
    
</mat-table>

<mat-paginator [pageSize]="3"
[pageSizeOptions]="[3, 5, 10]"></mat-paginator>