<div class="center _fixed-header">
    <h1 class="_titolo-pagina">Cruscotto Docente per Classe</h1>

    <button mat-button class="_pos-absolute_i t10 l10 _btn-text" (click)="drawer.toggle()">
        Docente: <span *ngIf="docente">{{docente.persona!.nome}} {{docente.persona!.cognome}}</span> - 
        Classe: <span *ngIf="classeSezioneAnno">{{classeSezioneAnno.classeSezione!.classe!.descrizione2}} {{classeSezioneAnno.classeSezione!.sezione}}</span>
    </button>
</div>

<!-- opened="true" -->
<mat-drawer-container style="display:inline">
    <mat-drawer class="w330px transparent"  #drawer mode="side"  opened="true" >
        <app-classi-sezioni-anni-list 
            [dove] = "'docenti-dashboard'"
            (annoID)="annoIdEmitted($event)"
            (classeSezioneAnnoID)="classeSezioneAnnoIDEmitted($event)"
            (docenteId)="docenteIdEmitted($event)" >
        </app-classi-sezioni-anni-list>
    </mat-drawer>

    <mat-drawer-content class="mat-drawer-docenti">
        <div *ngIf="docenteID == 0" class="_warnCentroSchermo">
            Seleziona il docente
        </div>
        <div *ngIf="docenteID > 0 && ( !classeSezioneAnnoID || classeSezioneAnnoID == 0)" class="_warnCentroSchermo">
            Il docente selezionato <br>non ha classi assegnate
        </div>

        <mat-tab-group (selectedTabChange)="selectedTabValue($event)">
            <mat-tab  *ngIf="classeSezioneAnnoID"  label="Alunni">
                <div class="_table-container" >
                    <app-iscrizioni-classe-list [dove]="'docenti-dashboard-alunni'" 
                        [classeSezioneAnnoID]="classeSezioneAnnoID">
                    </app-iscrizioni-classe-list>
                </div>
            </mat-tab>

            <mat-tab  *ngIf="classeSezioneAnnoID" label="Note Disciplinari"  >
                <app-note-page 
                    [classeSezioneAnnoID]="classeSezioneAnnoID"
                    [dove] = "'docenti-dashboard'"
                    [docenteID] = "docenteID" >
                </app-note-page>
            </mat-tab>

            <mat-tab  *ngIf="classeSezioneAnnoID" label="Compiti in Classe"  >
                <app-compiti-page 
                    [classeSezioneAnnoID]="classeSezioneAnnoID"
                    [docenteID] = "docenteID" >
                </app-compiti-page>
            </mat-tab>

            <mat-tab  *ngIf="classeSezioneAnnoID" label="Voti Interrogazioni">
                <app-voti-interr-page
                    [classeSezioneAnnoID]="classeSezioneAnnoID"
                    [docenteID] = "docenteID">
                </app-voti-interr-page>
            </mat-tab>

            <mat-tab  *ngIf="classeSezioneAnnoID" label="Pagelle per Materia">
                <!-- <h1 class="_titolo-pagina">Pagelle per materia</h1> -->
                    <!-- combo materie del docente -->
                <form [formGroup] = "form">
                    <mat-form-field  class="_pos-relative ml20 mt10 topZIndex noBottomPadding"  #materia>
                        <mat-label>Materie</mat-label>
                        <mat-select formControlName="selectMaterieDocenteClasse">
                            <mat-option *ngFor="let element of arrMaterie" [value]="element.materiaID">
                                {{element.materia!.descrizione}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <app-pagelle-classe-edit  
                        [classeSezioneAnnoID]="classeSezioneAnnoID"  
                        [materiaID]="materiaID"
                        [tipoVoto]="tipoVoto">
                    </app-pagelle-classe-edit>
                </form>
            </mat-tab>

            <!-- <mat-tab  *ngIf="classeSezioneAnnoID" label="Cert. Competenze">
                <table>
                    <tr>
                        <td class="_cell-align-top w300px">
                            <app-iscrizioni-classe-list [dove]="'docenti-dashboard-certcompetenze'"  
                                [classeSezioneAnnoID]="classeSezioneAnnoID"  
                                (iscrizioneID)="iscrizioneIDEmitted($event)">
                            </app-iscrizioni-classe-list>
                        </td>
                        <td class="_cell-align-top pl10 _border-left w100">
                            <app-iscrizione-risposte  
                                [iscrizioneID]="iscrizioneID"
                                [contesto]="'CertificazioneCompetenze'"
                                >
                          </app-iscrizione-risposte>
                        </td>
                    </tr>
                </table>
            </mat-tab>
            <mat-tab  *ngIf="classeSezioneAnnoID" label="Cons. Orientativo" >
                <table >
                    <tr>
                        <td class="_cell-align-top w300px">
                            <app-iscrizioni-classe-list [dove]="'docenti-dashboard-consorientativi'"  
                                [classeSezioneAnnoID]="classeSezioneAnnoID"  
                                (iscrizioneID)="iscrizioneIDEmitted($event)">
                            </app-iscrizioni-classe-list>
                        </td>
                        <td class="_cell-align-top pl10 _border-left w100" >
                            <app-iscrizione-risposte  
                                [iscrizioneID]="iscrizioneID"
                                [contesto]="'ConsiglioOrientativo'"
                                >
                          </app-iscrizione-risposte>
                        </td>
                    </tr>
                </table>
            </mat-tab> -->
        </mat-tab-group>
    </mat-drawer-content>
    
</mat-drawer-container>

