<table class="h90">
    <tr >
        <td class="_columnleft-dashboard _cell-align-top">
            <div class="_table-container">
                <app-classi-sezioni-anni-list 
                    [dove] = "'docenti-dashboard'"
                    (annoID)="annoIdEmitted($event)"
                    (classeSezioneAnnoID)="classeSezioneAnnoIDEmitted($event)"
                    (docenteId)="docenteIdEmitted($event)" >
                </app-classi-sezioni-anni-list>
            </div>
        </td>
        <td class="_columnright-dashboard _border-left _cell-align-top w90">

            <div *ngIf="!classeSezioneAnnoID" class="_warnCentroSchermo">
                Selezionare un docente
            </div>

            <mat-tab-group (selectedTabChange)="selectedTabValue($event)">
                <mat-tab  *ngIf="classeSezioneAnnoID"  label="Alunni">
                    <div class="_table-container">
                        <app-iscrizioni-classe-list  
                            [dove]="'lista-alunni'" 
                            [classeSezioneAnnoID]="classeSezioneAnnoID">
                        </app-iscrizioni-classe-list>
                    </div>
                </mat-tab>

                <mat-tab  *ngIf="classeSezioneAnnoID" label="Note Disciplinari"  >
                    <app-note-page 
                        [classeSezioneAnnoID]="classeSezioneAnnoID"
                        [dove] = "'docenti-dashboard'"
                        [docenteID] = "docenteID" >
                    </app-note-page>
                </mat-tab>

                <mat-tab  *ngIf="classeSezioneAnnoID" label="Compiti in Classe"  >
                    <app-compiti-list 
                        [classeSezioneAnnoID]="classeSezioneAnnoID"
                        [docenteID] = "docenteID" >
                    </app-compiti-list>
                </mat-tab>

                <mat-tab  *ngIf="classeSezioneAnnoID" label="Voti Interrogazioni">
                    <app-voti-interr-list
                        [classeSezioneAnnoID]="classeSezioneAnnoID"
                        [docenteID] = "docenteID">
                    </app-voti-interr-list>
                </mat-tab>

                <!-- <mat-tab  *ngIf="classeSezioneAnnoID" label="Pagelle">
                    <table>
                        <tr>
                            <td class="_cell-align-top w300px ">
                                <app-iscrizioni-classe-list [dove]="'pagella'"  
                                    [classeSezioneAnnoID]="classeSezioneAnnoID"  
                                    (iscrizioneID)="iscrizioneIDEmitted($event)"
                                    (alunno)="alunnoEmitted($event)" >
                                </app-iscrizioni-classe-list>
                            </td>
                            <td class="_cell-align-top pl10 _border-left w750px">
                                <app-pagelle-edit
                                    [iscrizioneID]="iscrizioneID"
                                    [docenteID]="docenteID"
                                    [classeSezioneAnnoID]="classeSezioneAnnoID" 
                                    [alunno]="alunno">
                                </app-pagelle-edit>
                            </td>
                        </tr>
                    </table>
                </mat-tab> -->

                <mat-tab  *ngIf="classeSezioneAnnoID" label="Pagelle per Materia">
                    <h1 class="_titolo-pagina">Pagelle per materia</h1>
                        <!-- combo materie del docente -->
                    <form [formGroup] = "form">
                        <mat-form-field  class="_pos-relative ml20 mt10 topZIndex noBottomPadding"  #materia>
                            <mat-label>Materie</mat-label>
                            <mat-select formControlName="selectMaterieDocenteClasse">
                                <mat-option *ngFor="let element of arrMaterie" [value]="element.materiaID">
                                    {{element.materia.descrizione}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <app-pagelle-classe-edit  
                            [classeSezioneAnnoID]="classeSezioneAnnoID"  
                            [materiaID]="materiaID"
                            [tipoVoto]="tipoVoto">
                        </app-pagelle-classe-edit>
                    </form>
                </mat-tab>
            </mat-tab-group>
   
        </td>
    </tr>
<table>
