/* GENITORE-EDIT*/
  
  /* figli del genitore selezionato */
  ._alunni-container{
    height: 100px;
    overflow: auto;
  }

  /* elenco tutti i figli potenziali da cui attingere */
  _.alunni-list-container{
    height: 300px;
    overflow: auto;
  }

  :host ::ng-deep  .mat-expansion-panel-body {
    padding: 0px !important;
  }

