/* GENITORE-EDIT*/
  
  /* figli del genitore selezionato */
  ._alunni-container{
    height: 150px;
    overflow: auto;
  }

  /* elenco tutti i figli potenziali da cui attingere */
  ._alunni-list-container{
    height: 240px;
    overflow: auto;
  }

  :host ::ng-deep  .mat-expansion-panel-body {
    padding: 0px !important;
  }


  .mat-mdc-card {
    padding-bottom: 0px;
  }

  
