.element-row:hover {
    background: whitesmoke;
}


.genitoriTable .mat-row {
    min-height: 30px;
  }


:host ::ng-deep  .filtriAvanzati .mat-form-field {
    height: 40px;
}

.lowTitles {
    min-height: 37px !important;
  }

.alunni-container{
  height: 100px;
  overflow: auto;
}

.alunni-list-container{
  height: 300px;
  overflow: auto;
}