<mat-card class="form-card">
    <mat-card-content>
        <form class="data-form flex-form" [formGroup] = "form">
            <!-- ********************************    BOTTONI     ************************************* -->
            <div class="center mb10">
                <img class="iconaMenuBig" src="./assets/calendar_settings.svg">
                <button mat-icon-button aria-label="Back" matTooltip="Chiudi" class="_btn-toolbar-close" mat-dialog-close></button>
            </div>

            <div class="mt50">
                <div class="center  mt10 ">
                    <button type="button" mat-button matSuffix class="w500px ma mt10 mb10" (click)= "propagaEpocaClasse()" mat-stroked-button>
                        Propaga materie di epoca del lunedì agli altri giorni
                    </button>
                </div>
                
                <mat-divider></mat-divider>
                <div class="center  mt10 ">
                    <mat-form-field >
                        <mat-label>Seleziona una settimana</mat-label>
                        <mat-date-range-input [rangePicker]="picker1">
                            <input matStartDate placeholder="Data Inizio" required formControlName = "picker1start">
                            <input matEndDate placeholder="Data Fine" required formControlName = "picker1end">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker1></mat-date-range-picker>
                    </mat-form-field>

                    <mat-checkbox color="primary" formControlName="ckTutteleClassi1">
                        Tutte le Classi
                    </mat-checkbox>
                </div>
                <div class="center mt10 ">
                    <button type="button" mat-button matSuffix class="w500px ma mt10 mt10" (click)="deleteByClasseSezioneAnnoAndDate()" [disabled]="!form.valid" mat-stroked-button>
                        Cancella la settimana selezionata
                    </button>
                </div>

                <div class="center mt10 ">
                    <button type="button" mat-button matSuffix class="w500px ma mt10" (click)="copiaDa()" [disabled]="!form.valid" mat-stroked-button>
                        Copia la settimana selezionata nella settimana che inizia il {{currMonday | date: "dd/MM/yyyy" }} 
                    </button>
                </div>

                <div class="center mt10 ">
                    <button type="button" mat-button matSuffix class="w500px ma mt10" (click)="copiaFinoA()" [disabled]="!form.valid" mat-stroked-button>
                        Copia la settimana che inizia il {{currMonday | date: "dd/MM/yyyy" }} fino alla settimana selezionata
                    </button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>