
    <h1 *ngIf="showPageTitle" class="_titolo-pagina">Compiti in classe</h1>
    <!-- <button mat-mini-fab aria-label="Nuova anagrafica" matTooltip="Nuova anagrafica" class="_btn-add _btn-pos-right-1 _btn-pos-top-0" (click)="addRecord()">
        <mat-icon>add</mat-icon>
    </button> -->
    <!-- **************************   FILTER   ******************* -->
    <mat-form-field *ngIf="showTableRibbon" class="ml20 topZIndex">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #filterInput>
    </mat-form-field>   

    <!-- **************************   PAGINATOR   ******************* -->
    <!-- <mat-paginator *ngIf="showTableRibbon" class="transparent" [pageSize]="15" [pageSizeOptions]="[15, 50]" showFirstLastButtons></mat-paginator> -->

    <!-- **************************   MAT-TABLE   ******************* -->
    <table mat-table class="_table-row-low transparent w100" [dataSource]="matDataSource" matSort>

        <!-- **************************   NG-CONTAINERs: COLONNE   ******************* -->
        <ng-container matColumnDef="actionsColumn">
            <th mat-header-cell *matHeaderCellDef cdkDrag></th>
            <td mat-cell  *matCellDef="let element;  let j = index;"> 
                <img (click)="openDetailVoti(element)" matTooltip="Modifica Voti Compito" class="iconaMenu pointer" src="./assets/voticompito_edit.svg">
            </td>
        </ng-container>

        <ng-container matColumnDef="actionsColumn2">
            <th mat-header-cell *matHeaderCellDef cdkDrag></th>
            <td mat-cell  *matCellDef="let element;  let j = index;"> 
                <img (click)="openDetailCompito(element)" matTooltip="Modifica Dati Compito" class="iconaMenu pointer" src="./assets/compito_edit.svg">
            </td>
        </ng-container>

        <ng-container matColumnDef="dtCalendario">
            <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header >Data</th>
            <td mat-cell *matCellDef="let element" [innerHTML]="element.dtCalendario | highlightDate: filterValue"></td>
        </ng-container>

        <ng-container matColumnDef="h_Ini">
            <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header >Ora</th>
            <td mat-cell *matCellDef="let element" [innerHTML]="element.h_Ini | highlight:filterValue"></td>
        </ng-container>
        
        <ng-container matColumnDef="materia">
            <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>Materia</th>
            <td mat-cell *matCellDef="let element" [innerHTML]="element.materia.descrizione | highlight:filterValue" ></td>
        </ng-container>
        
        <ng-container matColumnDef="argomento">
            <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>Argomento</th>
            <td mat-cell *matCellDef="let element" [innerHTML]="element.argomentoCompito | highlight:filterValue"></td>
        </ng-container>
        
        <!-- **************************   MAT-HEADER-ROW   ******************* -->
        <tr mat-header-row  class="_table-title-low" *matHeaderRowDef="displayedColumns;"></tr>  

        <!-- **************************   MAT-ROW   ******************* -->
        <tr mat-row *matRowDef="let element;columns: displayedColumns"
            class="element-row">
        </tr>

    </table>