<mat-card class="form-card">
    <mat-card-content>
        <form class="data-form flex-form" [formGroup] = "form">
            <!-- ********************************    BOTTONI     ************************************* -->
            <div class="center mb10">
                <img class="iconaMenuBig" src="../assets/calendar_settings.svg">
                <button mat-icon-button aria-label="Back" matTooltip="Chiudi" class="_btn-toolbar-close" mat-dialog-close></button>
            </div>

            <div class="mt50">
                <div class="center  mt10 ">
                    <button type="button" mat-button matSuffix class="w400px ma mt10 mb10" mat-stroked-button>
                        Propaga materie di epoca del lunedì agli altri giorni
                    </button>

                </div>

                <div class="center  mt10 ">
                    <button type="button" mat-button matSuffix class="w400px ma mt10 mb10" mat-stroked-button>
                        Cancella Orario della settimana Corrente
                    </button>
                </div>
                <mat-divider></mat-divider>
                <div class="center mt10 ">
                    <button type="button" mat-button matSuffix class="w400px ma mt10" (click)="copiaDa()" mat-stroked-button>
                        Copia alla settimana corrente orario della settimana...
                    </button>

                    <mat-form-field >
                        <mat-label>Seleziona una settimana</mat-label>
                        <mat-date-range-input [rangePicker]="picker1">
                            <input matStartDate placeholder="Data Inizio" formControlName = "picker1start">
                            <input matEndDate placeholder="Data Fine" formControlName = "picker1end">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker1></mat-date-range-picker>
                    </mat-form-field>

                    <mat-checkbox color="primary" formControlName="ckTutteleClassi1">
                        Tutte le Classi
                    </mat-checkbox>
                </div>
                <mat-divider></mat-divider>
                <div class="center mt10 ">
                    <button type="button" mat-button matSuffix class="w400px ma mt10" (click)="copiaFinoA()" mat-stroked-button>
                        Copia orario della settimana corrente fino alla settimana...
                    </button>
                    <mat-form-field >
                        <mat-label>Seleziona una settimana</mat-label>
                        <mat-date-range-input [rangePicker]="picker2">
                            <input matStartDate placeholder="Data Inizio" formControlName = "picker2start">
                            <input matEndDate placeholder="Data Fine" formControlName = "picker2end">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker2></mat-date-range-picker>
                    </mat-form-field>

                    <mat-checkbox color="primary" formControlName="ckTutteleClassi2">
                        Tutte le Classi
                    </mat-checkbox>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>