<mat-card class="form-card">
    <mat-card-content>
            <!-- ********************************    BOTTONI     ************************************* -->
            <div class="center">

                <img class="iconaMenuBig" src="../assets/calendar_settings.svg">

                <button mat-icon-button aria-label="Back" matTooltip="Chiudi" class="_btn-toolbar-close" mat-dialog-close></button>
            </div>
            <br>
            <br>
            <br>
            <div>
                <div>
                    <mat-label>Propaga materie di epoca agli altri giorni per la classe (ev.tutte)...</mat-label>
                </div>
                <div>
                    <mat-label>Cancella Orario della settimana Corrente per la classe (ev.tutte)...</mat-label>
                </div>
                <div>
                    <mat-label>Copia orario della settimana...alla corrente per la classe(ev.tutte)...</mat-label>
                </div>
                <div>
                    <mat-label>Copia orario della classe(ev.tutte)... della settimana corrente fino alla settimana...</mat-label>
                </div>           
            </div>


    </mat-card-content>


</mat-card>