<div style="text-align: center;" *ngIf="showSelect">
    <form [formGroup] = "form">
        <mat-form-field >
        <mat-label>Anno Scolastico</mat-label>
        <select matNativeControl formControlName="selectAnnoScolastico">
            <option value="1">2019-20</option>
            <option value="2">2020-21</option>
            <option value="3">2021-22</option>
        </select>
        </mat-form-field>
    </form>
</div>
<!-- **************************   MAT-TABLE   ******************* -->
<mat-table class="classiSezioniAnniTable" style="height: 70%;" [dataSource]="matDataSource" >
    <!-- **************************   NG-CONTAINERs: COLONNE   ******************* -->



    <ng-container matColumnDef="sezione">
        <mat-header-cell *matHeaderCellDef >Sez.</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.classeSezione.sezione}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="sezioneCSAA">
        <mat-header-cell *matHeaderCellDef >Sez.</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.classeSezioneAnno.classeSezione.sezione}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descrizione">
        <mat-header-cell *matHeaderCellDef >Classe</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.classeSezione.classe.descrizione2}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descrizioneCSAA">
        <mat-header-cell *matHeaderCellDef >Classe</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.classeSezioneAnno.classeSezione.classe.descrizione2}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="annoscolasticoCSAA">
        <mat-header-cell *matHeaderCellDef >anno scolastico</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.classeSezioneAnno.anno.annoscolastico}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="addToAttended">
        <mat-header-cell *matHeaderCellDef ></mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-icon class="pointer" (click) = "addToAttendedEmit(element)">add_circle_outline</mat-icon>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="removeFromAttended">
        <mat-header-cell *matHeaderCellDef ></mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-icon class="pointer" (click) = "removeFromAttendedEmit(element)">remove_circle_outline</mat-icon>
        </mat-cell>
    </ng-container>



    <!-- **************************   MAT-HEADER-ROW   ******************* -->
    <mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></mat-header-row>

    <!-- **************************   MAT-ROW   ******************* -->
    <mat-row *matRowDef="let element;columns: displayedColumns"
        class="element-row" 
        (click)="rowclicked(element)"
        [ngClass]="{'highlight': selectedRowIndex == element.id}"
        >
    </mat-row>
</mat-table>
