
  <button mat-mini-fab aria-label="Aggiungi Colonna" matTooltip="Aggiungi Colonna" class="btn ml10 _pos-relative" style="z-index: 5"
  (click)="removeCol()" >
  <img class="iconaMenuSidenav" src="./assets/delete_column_table.svg">
  </button>

  <button mat-mini-fab aria-label="Aggiungi Colonna" matTooltip="Aggiungi Colonna" class="btn ml10 _pos-relative" style="z-index: 5"
  (click)="addCol()" >
      <img class="iconaMenuSidenav" src="./assets/add_column_table.svg">
  </button>






  <table class="resizable w630px mt20" >
    <thead>
      <tr>

        <th class="_bordered-lightgrey " style="height: 30px;" *ngFor="let row of colsArr; let i = index" 
            [ngStyle]="{'width': wArr[i]+'px'}" (click)="clickonth(i)">
       

          <span *ngIf="isResizing" class="w-legenda2">{{wArr[i] | number:'1.0-0'}}</span>
          <span *ngIf="isResizing" class="h-legenda2">{{hArr[0] | number:'1.0-0'}}</span>


          <quill-editor 
            theme="bubble" 
            bounds="self"
            style="display: block; position: relative; z-index: 10"
            placeholder="..."
            [customOptions]="customOptions"
            [modules] = "modules"

            #QuillEditor
            >

            <div quill-editor-toolbar style="width: 300px; position: relative; z-index: 100">

              <span class="ql-formats">
                  <select class="ql-font" [title]="'Carattere'">
                  </select>
              </span>

              <span class="ql-formats">
                <button class="ql-bold" [title]="'Grassetto'"></button>
                <button class="ql-italic" [title]="'Corsivo'"></button>
                <button class="ql-underline" [title]="'Sottolineato'"></button>
                <button class="ql-strike" [title]="'Barrato'"></button>
              </span>
      
              <span class="ql-formats">
                <select class="ql-size" [title]="'Dimensione Font'" >
                  <option value="10px"></option>
                  <option selected value="12px"></option>
                  <option value="14px"></option>
                  <option value="16px"></option>
                  <option value="18px"></option>
                </select>
              </span>
      
              <span class="ql-formats">                      
                  <select class="ql-align" [title]="'Allineamento'">
                  </select>
              </span>

              <span class="ql-formats">
                <button class="ql-clean" [title]="'Pulizia Formato'"></button>
              </span>
      
            </div>
          </quill-editor>
        </th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="_bordered-lightgrey _pos-relative" style="height: 30px;" *ngFor="let row of colsArr; let i = index" (click)="clickontd(i)">

          <span *ngIf="isResizing" class="h-legenda2">{{hArr[1] | number:'1.0-0'}}</span>

          <quill-editor 
            theme="bubble" 
            bounds="self"
            style="display: block; position: relative; z-index: 10"
            placeholder="..."
            [customOptions]="customOptions"
            [modules] = "modules"

            #QuillEditor
            >

            <div quill-editor-toolbar style="width: 300px; position: relative; z-index: 100">

              <span class="ql-formats">
                  <select class="ql-font" [title]="'Carattere'">
                  </select>
              </span>

              <span class="ql-formats">
                <button class="ql-bold" [title]="'Grassetto'"></button>
                <button class="ql-italic" [title]="'Corsivo'"></button>
                <button class="ql-underline" [title]="'Sottolineato'"></button>
                <button class="ql-strike" [title]="'Barrato'"></button>
              </span>
      
              <span class="ql-formats">
                <select class="ql-size" [title]="'Dimensione Font'" >
                  <option value="10px"></option>
                  <option selected value="12px"></option>
                  <option value="14px"></option>
                  <option value="16px"></option>
                  <option value="18px"></option>
                </select>
              </span>
      
              <span class="ql-formats">                      
                  <select class="ql-align" [title]="'Allineamento'">
                  </select>
              </span>

              <span class="ql-formats">
                <button class="ql-clean" [title]="'Pulizia Formato'"></button>
              </span>
      
            </div>
          </quill-editor>
        </td>
      
      </tr>
    </tbody>
  </table>

<!-- </div> -->

