<button mat-mini-fab aria-label="Cancella Pagina" matTooltip="Cancella Pagina" class="_btn-delete-pagina _btn-pos-left-0" (click)="deletePage()">
    <img class="iconaMenuSidenav" src="./assets/mainMenuWhite/delete_pagina.svg">
</button>
<!-- <button mat-mini-fab aria-label="Salva Pagina" matTooltip="Salva Pagina" class="_btn-delete-pagina _btn-pos-left-1" (click)="savePage()">
    <mat-icon>save</mat-icon>
</button> -->
<button mat-mini-fab aria-label="Aggiungi Blocco Testo" matTooltip="Aggiungi Blocco Testo" class="_btn-add-text _btn-pos-left-2" (click)="addBlock(1)">
    <img class="iconaMenuSidenav" src="./assets/mainMenuWhite/add_block_text.svg">
</button>
<button mat-mini-fab aria-label="Aggiungi Blocco Immagine" matTooltip="Aggiungi Blocco Immagine" class="_btn-add-picture _btn-pos-left-25" (click)="addBlock(2)">
    <img class="iconaMenuSidenav" src="./assets/mainMenuWhite/add_block_picture.svg">
</button>

<div class="_pos-relative" style="margin: auto; width: 420px; height: 594px; background-color: white" 

        [ngStyle]=
            "{
            'width': 210*zoom+'px',
            'height': 297*zoom+'px'
            }"
        >

<div *ngIf="magnete">
    <div class="_pos-absolute h100 _border-left-dot" [ngStyle]="{'left': 10*zoom+'px'}">
    </div>
    <div class="_pos-absolute h100 _border-left-dot" [ngStyle]="{'left': 200*zoom+'px'}">
    </div>
    <div class="_pos-absolute w100 _border-top-dot" [ngStyle]="{'top': 10*zoom+'px'}">
    </div>
    <div class="_pos-absolute w100 _border-top-dot" [ngStyle]="{'top': 287*zoom+'px'}">
    </div>
    <div class="_pos-absolute w10 _border-top-dot l0" [ngStyle]="{'top': 148.5*zoom+'px'}">
    </div>
    <div class="_pos-absolute w10 _border-top-dot r0" [ngStyle]="{'top': 148.5*zoom+'px'}">
    </div>
    <div class="_pos-absolute h10 _border-left-dot t0" [ngStyle]="{'left': 105*zoom+'px'}">
    </div>
    <div class="_pos-absolute h10 _border-left-dot b0" [ngStyle]="{'left': 105*zoom+'px'}">
    </div>
</div>

<div *ngIf="griglia">
    <div *ngFor="let n of nLineeVert" class="_pos-absolute h100 _border-left-dot" [ngStyle]="{'left': n*10*zoom+'px'}">
    </div>

    <div *ngFor="let n of nLineeHor" class="_pos-absolute w100 _border-top-dot" [ngStyle]="{'top': n*10*zoom+'px'}">
    </div>
</div>
    <div class="_pos-absolute">

        <div *ngFor="let element of blocchiArr" class="_pos-absolute" #Blocchi>
            <app-blocco
                [blocco] = "element"
                [zoom]= "zoom"
                [magnete] = "magnete"
                [griglia] = "griglia"
                (recordEdited) ="bloccoEditedEmitted($event)"
                #Blocco
                >
            </app-blocco>
        </div>
    </div>
</div>


