<mat-card style="height: 100%;" class="card mat-elevation-z8">
    
    <form [formGroup] = "form">
        <mat-form-field  class="ml20 topZIndex">
            <mat-label>Anno Scolastico</mat-label>

            <mat-select formControlName="selectAnnoScolastico">
                <mat-option *ngFor="let element of (obsAnni$ | async)" [value]="element.id" >
                {{element.annoscolastico}}
                </mat-option>
            </mat-select>

        </mat-form-field>


    </form>


        <mat-table class="rettePagamentiSummaryTable transparent" [dataSource]="matDataSource">

        <!-- **************************   NG-CONTAINERs: COLONNE   ******************* -->
        <ng-container matColumnDef="actionsColumn">
            <mat-header-cell *matHeaderCellDef cdkDrag></mat-header-cell>
            <mat-cell  *matCellDef="let element"> 
                <img class="iconaMenu pointer" src="../assets/alunno_edit.svg">
            </mat-cell>
            <mat-footer-cell class="bold" *matFooterCellDef> </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="classe">
            <mat-header-cell *matHeaderCellDef >Classe</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.classe}}</mat-cell>
            <mat-footer-cell class="bold" *matFooterCellDef> </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="annoRetta">
            <mat-header-cell *matHeaderCellDef >Anno</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.annoRetta}}</mat-cell>
            <mat-footer-cell class="bold" *matFooterCellDef> Totale </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="meseRetta">
            <mat-header-cell *matHeaderCellDef >Mese</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.meseRetta}}</mat-cell>
            <mat-footer-cell class="bold" *matFooterCellDef> </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="quotaDefault">
            <mat-header-cell *matHeaderCellDef>Quote Default</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.quotaDefault}}</mat-cell>
            <mat-footer-cell class="bold" *matFooterCellDef> {{getTotalDefault()}} </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="quotaConcordata">
            <mat-header-cell *matHeaderCellDef>Quote Concordate</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.quotaConcordata}}</mat-cell>
            <mat-footer-cell class="bold" *matFooterCellDef> {{getTotalConcordate()}} </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="importo">
            <mat-header-cell *matHeaderCellDef>Quote Pagate</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.importo}}</mat-cell>
            <mat-footer-cell class="bold" *matFooterCellDef> {{getTotalPagate()}} </mat-footer-cell>
        </ng-container>
      
        
        <!-- **************************   MAT-HEADER-ROW   ******************* -->
        <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
        
        <!-- **************************   MAT-ROW   ******************* -->
        <mat-row *matRowDef="let element;columns: displayedColumns"
            class="element-row"
            (contextmenu)="onRightClick($event, element)" >
        </mat-row>

        <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
    </mat-table>

    <!-- ***********************  MENU RIGHT CLICK ****************** -->
    <div style="visibility: hidden; position: fixed;" 
        [style.left]="menuTopLeftPosition.x" 
        [style.top]="menuTopLeftPosition.y" 
        [matMenuTriggerFor]="rightMenu">
    </div> 

    <mat-menu #rightMenu="matMenu"> 
        <ng-template matMenuContent let-item="item"> 
            <mat-label class="rightMenuTitle">{{item.meseRetta}} - {{item.annoRetta}}</mat-label>
            <!-- <button mat-menu-item routerLink="/genitori" [queryParams]="{ idAlunno: item.id }">Genitori/Tutori</button>  -->
            <button mat-menu-item>Test 1</button> 
            <button mat-menu-item>Test 2</button>
            <button mat-menu-item>Test 3</button>
        </ng-template> 
    </mat-menu> 

</mat-card>



