
<h2 style="text-align: center;">Lista Genitori sortable, con paginator, filter, sticky header, movable columns</h2>
<div class="spinner-container" *ngIf="loading$ | async">
    <mat-spinner></mat-spinner>
</div>

<!-- **************************   FILTER   ******************* -->
<mat-form-field class="mg20">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>


<!-- **************************   MAT-TABLE   ******************* -->
<mat-table class="mat-elevation-z8" [dataSource]="matDataSource"
    matSort
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)">
    <!-- **************************   NG-CONTAINERs: COLONNE   ******************* -->
    <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header >Nome</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.nome}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cognome">
        <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>Cognome</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.cognome}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="dtNascita">
        <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>Data di Nascita</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.dtNascita | date: "dd/MM/yyyy"}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="indirizzo">
        <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>Indirizzo</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.indirizzo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="comune">
        <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>Comune</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.comune}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="CAP">
        <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>CAP</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.CAP}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="prov">
        <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>Prov</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.prov}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="CF">
        <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>CF</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.CF}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>email</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="telefono">
        <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>telefono</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.telefono}}</mat-cell>
    </ng-container>



    
    <!-- **************************   MAT-HEADER-ROW   ******************* -->
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    
    <!-- **************************   MAT-ROW   ******************* -->
    <mat-row *matRowDef="let element; columns: displayedColumns"
    class="element-row"
    ></mat-row>
</mat-table>

<!-- **************************   PAGINATOR   ******************* -->

<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>