<mat-card class="form-card">
    <mat-card-content>
        <form *ngIf="(lezione$ | async) || emptyForm" class="data-form flex-form" [formGroup] = "form">
            

            <!-- ********************************    BOTTONI     ************************************* -->
            <div class="center">

                <img class="iconaMenuBig" src="../assets/evento_edit.svg">

                <button mat-icon-button aria-label="Back" matTooltip="Chiudi" class="_btn-toolbar-close" mat-dialog-close></button>

                <button *ngIf="data.idLezione" mat-mini-fab aria-label="Back" matTooltip="Ricarica" class="btn ml10"
                        [disabled]= "!form.valid" 
                        (click)="loadData()" >
                    <mat-icon>restart_alt</mat-icon>
                </button>

                <button mat-mini-fab aria-label="Salva" matTooltip="Salva" class="btn ml10"
                        [disabled]= "!form.valid" 
                        (click)="save()" >
                    <mat-icon>save</mat-icon>
                </button>

                <button *ngIf="data.idLezione" mat-mini-fab aria-label="Cancella" matTooltip="Cancella" class="btn ml10"
                        [disabled]= "!form.valid" 
                        (click)="delete()" >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

            <mat-label class="center mt20" *ngIf="data.idLezione || emptyForm">{{strDataOra | date: 'dd/MM/yyyy'}}</mat-label>
            <mat-label class="center" *ngIf="data.idLezione || emptyForm">dalle  {{strH_Ini}} - alle {{strH_end}}</mat-label>
            <mat-grid-list class="no-overflowx mt20" [cols]="breakpoint" rowHeight="60px">

                <!-- <mat-grid-tile>
                    <mat-form-field class="w100">
                        <input matInput
                        required
                        formControlName = "dtCalendario"
                        [matDatepicker]= "dpDtCalendario"
                        type="datetime-local"
                        placeholder="Data Lezione"
                        #date>
                        <mat-datepicker-toggle matSuffix [for]="dpDtCalendario" ></mat-datepicker-toggle>
                        <mat-datepicker #dpDtCalendario ></mat-datepicker>
                        <mat-error *ngIf="form.controls.dtCalendario.errors?.required"> Campo obbligatorio</mat-error>
                    </mat-form-field>
                </mat-grid-tile> -->

                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Classe - Sezione</mat-label>
                        <input matInput type="text" placeholder="Nome e Cognome" [value]="strClasseSezioneAnno" [disabled] = "true">
                    </mat-form-field>
                </mat-grid-tile>


                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Materia</mat-label>
                        <mat-select 
                        required
                        formControlName="materiaID">
                            <mat-option *ngFor="let element of (obsMaterie$ | async)" [value]="element.id">
                            {{element.descrizione}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile class="tileCk ml15">
                    <mat-checkbox color="primary" formControlName="ckFirma">
                        Firma Docente
                    </mat-checkbox>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Docente</mat-label>
                        <mat-select 
                        required
                        formControlName="docenteID"
                        >
                            <mat-option *ngFor="let element of (obsDocenti$ | async)" [value]="element.id">
                            {{element.persona.nome}} {{element.persona.cognome}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile class="tileCk ml15">
                    <mat-checkbox color="primary" formControlName="ckAssente">
                        Assenza
                    </mat-checkbox>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Supplente</mat-label>
                        <mat-select 
                        
                        formControlName="supplenteID">
                            <mat-option *ngFor="let element of (obsDocenti$ | async)" [value]="element.id">
                            {{element.persona.nome}} {{element.persona.cognome}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile class="tileCk ml15">
                    <mat-checkbox color="primary" formControlName="ckEpoca">
                        Epoca
                    </mat-checkbox>
                </mat-grid-tile>
            </mat-grid-list>



        </form>
    </mat-card-content>

