<h1 *ngIf="showPageTitle" class="_titolo-pagina">Pagella
    <span class="fs16"><mat-button-toggle-group name="quadrimestre" value="1" (change)="quadClick($event)">
        <mat-button-toggle class="toggleQ" value="1" selected>1°</mat-button-toggle>
        <mat-button-toggle class="toggleQ" value="2">2°</mat-button-toggle>
    </mat-button-toggle-group>
    </span>
    Quadrimestre
</h1>
    <!-- **************************   MAT-TABLE   ******************* -->



    <table mat-table class="_table-row-low transparent w100" [dataSource]="matDataSource">

        <!-- **************************   NG-CONTAINERs: COLONNE   ******************* -->
   
        <ng-container matColumnDef="materia">
            <th mat-header-cell *matHeaderCellDef cdkDrag class="w125px">Materia</th>
            <td mat-cell *matCellDef="let element">{{element.materia.descrizione}}</td>
            <!-- <td mat-cell *matCellDef="let element" [innerHTML]="element.alunno.nome|highlight:filterValue"></td> -->
        </ng-container>

<!--#region  Primo Quadrimestre **************************************** -->

        <ng-container matColumnDef="voto1">
            <th mat-header-cell *matHeaderCellDef cdkDrag class="w80px">Voto</th>
            <td mat-cell *matCellDef="let element">
                <input matInput type="number" placeholder="voto" [value]="element.voto1" (change)="changeVoto(element, voto1.value, 1)" maxlength="2" #voto1>
            </td>
        </ng-container>

        <ng-container matColumnDef="tipoGiudizio1ID">
            <th mat-header-cell *matHeaderCellDef cdkDrag class="w125px">Giudizio</th>
            <td mat-cell *matCellDef="let element">
                <mat-select  [value]="element.tipoGiudizio1ID? element.tipoGiudizio1ID : 1" placeholder="giudizio"  (selectionChange)="changeSelectGiudizio(element, selectGiudizio1.value, 1)" #selectGiudizio1> 
                    <mat-option *ngFor="let giudizio of (obsTipiGiudizio$ | async)"  [value]="giudizio.id">
                        {{giudizio.descrizione}}
                    </mat-option>
                </mat-select>
            </td>
        </ng-container>

        <ng-container matColumnDef="note1">
            <th mat-header-cell *matHeaderCellDef cdkDrag >Note</th>
            <td mat-cell class="h60px _td-note1" *matCellDef="let element">
                <textarea class="h50px _noresize _text-area-note1" matInput (change)="changeNote(element, note1.value, 1)" #note1>{{element.note1}}</textarea>
            </td>
        </ng-container>
<!--#endregion  ******************************************************* -->

<!--#region  Secondo Quadrimestre ************************************* -->

        <ng-container matColumnDef="voto2">
            <th mat-header-cell *matHeaderCellDef cdkDrag class="w80px">Voto</th>
            <td mat-cell *matCellDef="let element">
                <input matInput type="number" placeholder="voto" [value]="element.voto2" (change)="changeVoto(element, voto2.value, 2)" maxlength="2" #voto2>
            </td>
        </ng-container>

        <ng-container matColumnDef="tipoGiudizio2ID">
            <th mat-header-cell *matHeaderCellDef cdkDrag class="w125px">Giudizio</th>
            <td mat-cell *matCellDef="let element">
                <mat-select  [value]="element.tipoGiudizio2ID? element.tipoGiudizio2ID : 1" (selectionChange)="changeSelectGiudizio(element, selectGiudizio2.value, 2)" #selectGiudizio2> 
                    <mat-option *ngFor="let giudizio of (obsTipiGiudizio$ | async)" [value]="giudizio.id">
                        {{giudizio.descrizione}}
                    </mat-option>
                    
                </mat-select>
            </td>
        </ng-container>

        <ng-container matColumnDef="note2">
            <th mat-header-cell *matHeaderCellDef cdkDrag >Note</th>
            <td mat-cell class="h60px _td-note1" *matCellDef="let element">
                <textarea class="h50px _noresize _text-area-note1" matInput (change)="changeNote(element, note2.value, 2)" #note2>{{element.note2}}</textarea>
            </td>
        </ng-container>
<!--#endregion  ******************************************************* -->

        <!-- **************************   MAT-HEADER-ROW   ******************* -->
        <tr mat-header-row  class="_table-title-low" *matHeaderRowDef="displayedColumns;"></tr>  

        <!-- **************************   MAT-ROW   ******************* -->
        <tr mat-row *matRowDef="let element;columns: displayedColumns"
            class="element-row">
        </tr>

    </table>

    <!-- {{idIscrizione}} -->
    
