<div class="mt70">
    <div>
        <button mat-mini-fab class="button-transparent" matTooltip="Stampa" (click)="stampa()">
            <mat-icon class="material-icons color_white">print</mat-icon>
        </button>
    </div>
    <div class="mt10">
        <button mat-mini-fab class="button-transparent" matTooltip="Scarica PDF"  (click)="scarica()" disabled>
            <mat-icon class="material-icons color_white">file_download</mat-icon>
        </button>
    </div>
    <div class="mt10">
        <button mat-mini-fab class="button-transparent" matTooltip="Invia mail" (click)="email()" disabled>
            <mat-icon class="material-icons color_white">email</mat-icon>
        </button>
    </div> 
    <div class="mt10">
        <button mat-mini-fab class="button-transparent" matTooltip="Scelta Colonne" (click)="scegliColonne(alunniListComponent)">
            <mat-icon class="material-icons color_white">table_chart</mat-icon>
        </button>
    </div>  
</div>