<mat-card class="form-card">
    <mat-card-content>
        <form *ngIf="(evento$ | async) || emptyForm" class="data-form flex-form" [formGroup] = "form">
            Hai cliccato sull'evento con id: {{idEvento}}

            <!-- ********************************    BOTTONI     ************************************* -->
            <div class="center">

                <img class="iconaMenuBig" src="../assets/evento_edit.svg">

                <button mat-icon-button aria-label="Back" matTooltip="Chiudi" class="_btn-toolbar-close" mat-dialog-close></button>

                <button *ngIf="idEvento" mat-mini-fab aria-label="Back" matTooltip="Ricarica" class="btn ml10"
                        [disabled]= "!form.valid" 
                        (click)="loadData()" >
                    <mat-icon>restart_alt</mat-icon>
                </button>

                <button mat-mini-fab aria-label="Salva" matTooltip="Salva" class="btn ml10"
                        [disabled]= "!form.valid" 
                        (click)="save()" >
                    <mat-icon>save</mat-icon>
                </button>

                <button *ngIf="idEvento" mat-mini-fab aria-label="Cancella" matTooltip="Cancella" class="btn ml10"
                        [disabled]= "!form.valid" 
                        (click)="delete()" >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

            <mat-grid-list class="no-overflowx mt10" [cols]="breakpoint" rowHeight="60px">
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput type="text" required placeholder="Titolo" minlength= "3" formControlName="title" #nome>
                        <mat-error *ngIf="form.controls.title.errors?.required"> Campo obbligatorio</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field class="w100">
                        <input matInput
                        required
                        formControlName = "dtCalendario"
                        [matDatepicker]= "dpDtCalendario"
                        placeholder="Data Lezione"
                        #date>
                        <mat-datepicker-toggle matSuffix [for]="dpDtCalendario" ></mat-datepicker-toggle>
                        <mat-datepicker #dpDtCalendario ></mat-datepicker>
                        <mat-error *ngIf="form.controls.dtCalendario.errors?.required"> Campo obbligatorio</mat-error>
                    </mat-form-field>
                </mat-grid-tile>


                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput type="text" required placeholder="Docente" minlength= "3" formControlName="docente" #nome>
                        <mat-error *ngIf="form.controls.docente.errors?.required"> Campo obbligatorio</mat-error>
                    </mat-form-field>
                </mat-grid-tile>




                <mat-grid-tile>
                    <mat-checkbox color="primary" formControlName="ckFirma">
                        Firma Docente
                    </mat-checkbox>
                </mat-grid-tile>
            </mat-grid-list>

        </form>
    </mat-card-content>

