

/* FILTRI AVANZATI */
:host ::ng-deep  .filtriAvanzati .mat-form-field {
    height: 40px;
}

:host ::ng-deep .mat-tab-label, :host ::ng-deep.mat-tab-label-active{
  min-width: 15%!important;
  padding: 3px!important;
}

/* ALUNNO-EDIT */
.genitori-list-container {
  height: 300px;
  overflow: auto;
}

.genitori-container{
  height: 100px;
  overflow: auto;
}

.classi-list-container {
  height: 450px;
  width: 280px;
  overflow: auto;
}

.classi-attended-container {
  height: 450px;
  width: 380px;
  overflow: auto;
}

:host ::ng-deep  .mat-expansion-panel-body {
  padding: 0px !important;
}

/*EXPANSION PANEL*/
.td-vertical-accordion {
  vertical-align: top;
  padding-top: 12px;
  max-width: 300px !important;
}

.rotated-accordion {
  display: block;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-450px);; /* rotate and position it; translateX value corresponds to panel height */
  width: 450px; /* this will be the height of the accordion (inversed due to rotation) */
}

.mat-expansion-panel {
  max-height: 375px; /* this will be the width of the panel (inversed due to rotation) */
}

.panel-content {
  transform-origin: top left;
  transform: rotate(90deg); /* rotate back */
  margin-left: 100%; /* position it */
  height: 448px; /* real height of the content */
  width: 300px; /* real width of the content */
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}







