/*BLOCCO1: PROBABILMENTE E' DA TOGLIERE*/

.grid-checkboxes {
    width: 600px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.grid-checkboxes th {
    text-align: left;
    font-weight: normal;
}

 /* .is-loading ::ng-deep .mat-option-text {
    display: flex;
    justify-content: center;
  }  */


  .is-loading{
    position: absolute;
    float:center;
    margin-left: 65px;
  } 

.container {
  max-width: 800px;
  margin: 0 auto;
}
/* ------------- FINE BLOCCO1 ------------------- */


/* MAT-TABLE EXPANDABLE ROWS */
mat-row.detail-row {
    /* height: 0; */ /* no */
    flex-basis: 0; /* yes */
    min-height: initial; /* override mat-row styling */
}
  
.element-row:not(.expanded-row):hover {
    background: whitesmoke;
}
  
.element-row:not(.expanded-row):active {
    background: #efefef;
}

/* .element-row{
    border-bottom-width: 0;
} */

.element-detail {
    overflow: hidden;
    display: flex; /*Da riattivare per allineare in sequenza i div all'intero del detail */
}

/* FINE MAT-TABLE EXPANDABLE ROWS */


.alunniTable .mat-row {
    min-height: 30px;
  }


  :host ::ng-deep  .filtriAvanzati .mat-form-field {
    height: 40px;
}


:host ::ng-deep .mat-tab-label, :host ::ng-deep.mat-tab-label-active{
  min-width: 15%!important;
  padding: 3px!important;
 }

.genitori-list-container {
  height: 300px;
  overflow: auto;
}

.genitori-container {
  height: 100px;
  overflow: auto;
}

