<div class="w100">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Novità di STOODY
            </mat-panel-title>
            <mat-panel-description>
        </mat-panel-description>
        </mat-expansion-panel-header>
        -Modificato css login<br>
        -Modificato Menu introdotte collapsible sections<br>
        -Inserito loader sulla login<br>
        -Inserite le news nella homepage<br>
        -inserita l'indicazione delle news nella homepage<br>
        -inserita l'indicazione dell'indicazione delle news nella homepage... ecc ecc
    </mat-expansion-panel>
</div>