    <mat-card appearance="outlined" class="form-card">
        <mat-card-content *ngIf="(persona$ | async) || emptyForm">

<!-- ********************************    BOTTONI     ************************************* -->
            <div  class="center">

                <img class="iconaMenuBig" src="./assets/persona_edit_T.svg">

                <button mat-icon-button aria-label="Back" matTooltip="Chiudi" class="_btn-toolbar-close" [mat-dialog-close]="persona$|async"></button>

                <button *ngIf="personaID" mat-mini-fab aria-label="Back" matTooltip="Back" class="btn ml10" (click)="loadData()" >
                    <mat-icon>restart_alt</mat-icon>
                </button>

                <button mat-mini-fab aria-label="Salva" matTooltip="Salva" class="btn ml10"  

                    [disabled]="!apppersonaform.form.valid
                        || ((apppersonaform.showAlunnoForm && appalunnoform) ? !appalunnoform?.form?.valid : false)
                        || ((apppersonaform.showGenitoreForm ) ?  !appgenitoreform?.form?.valid: false) "

                    (click)="save()" >
                    <mat-icon>save</mat-icon>
                </button>
<!-- 
                [disabled]="!apppersonaform.form.valid || 
                (apppersonaform.showAlunnoForm && appalunnoform)  ?   !appalunnoform?.form?.valid : false || 
                (apppersonaform.showGenitoreForm && appgenitoreform) ?    !appgenitoreform?.form?.valid: false" -->
<!-- 
                [disabled]="!apppersonaform.form.valid || 
                (apppersonaform.showAlunnoForm && appalunnoform && !appalunnoform?.form?.valid) ||
                (apppersonaform.showGenitoreForm && appgenitoreform && !appgenitoreform?.form?.valid)" -->

                <button *ngIf="personaID" mat-mini-fab aria-label="Cancella" matTooltip="Cancella" class="btn ml10" (click)="delete()" >
                    <mat-icon>delete</mat-icon>
                </button>
                <!-- <div *ngIf="apppersonaform.showGenitoreForm && appgenitoreform && apppersonaform.showAlunnoForm && appalunnoform" >

                    {{!appgenitoreform?.form?.valid ||
                        ((apppersonaform.showAlunnoForm && appalunnoform)  ?   !appalunnoform?.form?.valid : false) || 
                        ((apppersonaform.showGenitoreForm && appgenitoreform) ?    !appgenitoreform?.form?.valid: false)}}
                </div> -->
                
            </div>
            
            <!-- ********************************       ANAGRAFICA      *********************************** -->

            <div class="mt20">

                <app-persona-form 
                                [personaID] = "personaID"
                                #apppersonaform
                                >   
                </app-persona-form>
                <!-- (formValid)="formPersonaValidEmitted($event)" -->

                <div class="_bordered-grey mt5" *ngIf="apppersonaform.showGenitoreForm" >
                    <app-genitore-form #appgenitoreform></app-genitore-form>
                    <!-- (formValid)="formGenitoreValidEmitted($event)" -->
                </div>
                <div class="_bordered-grey mt5" *ngIf="apppersonaform.showAlunnoForm" >
                    <app-alunno-form #appalunnoform></app-alunno-form>
                    <!-- (formValid)="formAlunnoValidEmitted($event)" -->
                </div>
            </div>

        </mat-card-content>
    </mat-card>
