<h1 *ngIf="showPageTitle" class="_titolo-pagina">Alunni</h1>

    <!-- **************************   FILTER   ******************* -->
   <!--
    <mat-form-field *ngIf="showTableRibbon" class="ml20 topZIndex">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #filterInput>
    </mat-form-field>
    -->
    
    <!-- **************************   PAGINATOR   ******************* -->
    <!-- <mat-paginator *ngIf="showTableRibbon" class="transparent" [pageSize]="15" [pageSizeOptions]="[15, 50]" showFirstLastButtons></mat-paginator> -->

    <!-- **************************   MAT-TABLE   ******************* -->
    <table  mat-table class="_table-row-low transparent w100" 
            [dataSource]="matDataSource"
            matSort
            cdkDropList
            cdkDropListOrientation="horizontal"
            (cdkDropListDropped)="drop($event)">

        <!-- **************************   NG-CONTAINERs: COLONNE   ******************* -->
        <ng-container matColumnDef="actionsColumn">
            <th mat-header-cell *matHeaderCellDef cdkDrag></th>
            <td mat-cell  *matCellDef="let element;  let j = index;"> 
                <img (click)="openDetail(element.alunnoID)" class="iconaMenu pointer" src="./assets/alunno_edit.svg">
            </td>
        </ng-container>

        <ng-container matColumnDef="select" >
            <!-- masterToggle delle checkbox di selezione record -->
            <th mat-header-cell *matHeaderCellDef class="_no-bottom-border" >
                <mat-checkbox  (change)="$event ? masterToggle() : null"
                            [checked] = "toggleChecks"
                            [aria-label]="checkboxLabel()"
                            color="warn" #mstToggle>
                            <!-- [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" -->
                </mat-checkbox>
            </th>
            <!-- singole checkbox di selezione record -->
            <td mat-cell *matCellDef="let element" class="_no-bottom-border" >
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change) = "$event ? selectedRow(element) : null"
                              [checked]="selection.isSelected(element)"
                              [aria-label]="checkboxLabel(element)"
                              color="warn">
                </mat-checkbox>
            </td>
        </ng-container>


        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header >Nome</th>
            <td mat-cell *matCellDef="let element" [innerHTML]="element.alunno.persona.nome|highlight:filterValue"></td>
        </ng-container>
        
        <ng-container matColumnDef="cognome">
            <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>Cognome</th>
            <td mat-cell *matCellDef="let element" [innerHTML]="element.alunno.persona.cognome | highlight: filterValue"></td>
        </ng-container>

        <ng-container matColumnDef="stato">
            <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>St.Iscrizione</th>
            <td mat-cell *matCellDef="let element" [innerHTML]="element.stato.descrizione | highlight: filterValue"></td>
        </ng-container>

        <ng-container matColumnDef="dtNascita">
            <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>nato il</th>
            <td mat-cell *matCellDef="let element" [innerHTML]="element.alunno.persona.dtNascita | highlight: filterValue| date: 'dd/MM/yyyy'"></td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>email</th>
            <td mat-cell *matCellDef="let element">{{element.alunno.persona.email}}</td>
        </ng-container>

        <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>telefono</th>
            <td mat-cell *matCellDef="let element">{{element.alunno.persona.telefono}}</td>
        </ng-container>

        <ng-container matColumnDef="ckAttivo">
            <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>Solo alunni attivi<br>
                <button mat-icon-button (click)="toggleAttivi()" class="topZIndex">
                    <mat-icon *ngIf="ckSoloAttivi" color="primary">visibility_off</mat-icon>
                    <mat-icon *ngIf="!ckSoloAttivi" color="primary">visibility</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox [checked]="element.ckAttivo" color="primary" disabled></mat-checkbox>
            </td>
        </ng-container>
        
        <!-- **************************   MAT-HEADER-ROW   ******************* -->
        <tr mat-header-row  class="_table-title-low" *matHeaderRowDef="displayedColumns;"></tr>  

        <!-- **************************   MAT-ROW   ******************* -->
        <tr mat-row *matRowDef="let element;columns: displayedColumns"
            class="element-row"
            (contextmenu)="onRightClick($event, element)" 
            (click)="rowclicked(element)"

            [ngClass]="{
                '_table-row-selected-highlight': selectedRowIndex == element.id && (dove == 'pagella'|| dove== 'certcompetenze'),
                '_row-pointercursor': dove == 'pagella' || dove == 'certcompetenze'
                }">
        </tr>

    </table>

    <!-- ***********************  MENU RIGHT CLICK ****************** -->
    <div style="visibility: hidden; position: fixed;" 
         [style.left]="menuTopLeftPosition.x" 
         [style.top]="menuTopLeftPosition.y" 
         [matMenuTriggerFor]="rightMenu">
    </div> 

    <mat-menu #rightMenu="matMenu"> 
        <ng-template matMenuContent let-item="item"> 
            <mat-label class="_titolo-filtri-avanzati">{{item.alunno.persona.nome | uppercase}} {{item.alunno.persona.cognome | uppercase}}</mat-label> 
            <button mat-menu-item>Classi Frequentate</button>
            <button mat-menu-item>Pagelle</button>
            <button mat-menu-item (click)="openPagamenti(item.id)">Quote e Pagamenti</button>
        </ng-template> 
    </mat-menu> 
