<div class="pt60">
    <!-- <div style="text-align: center; margin-bottom: 10px;">
        Filtri Avanzati
    </div> -->

    <div class="ml12 mt10">
        <button mat-button matSuffix class="w180px ml15" mat-stroked-button aria-label="Clear" (click)="resetAllInputsAndClearFilters()" >
            Pulisci Filtri
        </button>
    </div>

    <mat-form-field class="ml12">
        <mat-label>Classe</mat-label>
        <mat-select [formControl]="classeFilter">
            <mat-option [value]="''"></mat-option>
            <mat-option *ngFor="let element of (obsClassi$ | async)" [value]="element.id">
                {{element.descrizione2}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- <mat-form-field class="ml12">
        <mat-label>a.s.</mat-label>
        <mat-select [formControl]="annoFilter">
            <mat-option [value]="''"></mat-option>
            <mat-option *ngFor="let element of (obsAnni$ | async)" [value]="element.id">
             {{element.annoscolastico}}
            </mat-option>
        </mat-select>
    </mat-form-field> -->

    <mat-form-field class="ml12">
        <mat-label>Materia</mat-label>
        <mat-select [formControl]="materiaFilter">
            <mat-option [value]="''"></mat-option>
            <mat-option *ngFor="let element of (obsMaterie$ | async)" [value]="element.id">
                {{element.descrizione}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-grid-list class="_low-list-row no-overflowx" [cols]="1" rowHeight="60px">
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Descrizione</mat-label>
                <input matInput [formControl]="descrizione">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>


</div>


