<h1 *ngIf="showPageTitle" class="_titolo-pagina">Elenco Docenti</h1>

    <!-- **************************   FILTER   ******************* -->
   <!--
    <mat-form-field *ngIf="showTableRibbon" class="ml20 topZIndex">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #filterInput>
    </mat-form-field>
    -->
    
    
    <!-- **************************   PAGINATOR   ******************* -->
    <!-- <mat-paginator *ngIf="showTableRibbon" class="transparent" [pageSize]="15" [pageSizeOptions]="[15, 50]" showFirstLastButtons></mat-paginator> -->

    <!-- **************************   MAT-TABLE   ******************* -->
    <mat-table class="_table-row-low transparent" [dataSource]="matDataSource"
        matSort
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)">

        <!-- **************************   NG-CONTAINERs: COLONNE   ******************* -->
        <ng-container matColumnDef="actionsColumn">
            <mat-header-cell *matHeaderCellDef cdkDrag></mat-header-cell>
            <mat-cell  *matCellDef="let element;  let j = index;"> 
                <img (click)="openDetail(element.docenteID)" class="iconaMenu pointer" src="../assets/docente_edit.svg">
            </mat-cell>
        </ng-container>
   

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header >ID</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
            <!-- <mat-cell *matCellDef="let element" [innerHTML]="element.alunno.nome|highlight:filterValue"></mat-cell> -->
        </ng-container>

        <ng-container matColumnDef="materia">
            <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header >Materia</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.materia.descrizione}}</mat-cell>
            <!-- <mat-cell *matCellDef="let element" [innerHTML]="element.alunno.nome|highlight:filterValue"></mat-cell> -->
        </ng-container>

        <ng-container matColumnDef="docenteID">
            <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header >ID Docente</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.docenteID}}</mat-cell>
            <!-- <mat-cell *matCellDef="let element" [innerHTML]="element.alunno.nome|highlight:filterValue"></mat-cell> -->
        </ng-container>

        <ng-container matColumnDef="docenteNome">
            <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header >Nome Docente</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.docente.persona.nome}}</mat-cell>
            <!-- <mat-cell *matCellDef="let element" [innerHTML]="element.alunno.nome|highlight:filterValue"></mat-cell> -->
        </ng-container>

        <ng-container matColumnDef="docenteCognome">
            <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header >Cognome Docente</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.docente.persona.cognome}}</mat-cell>
            <!-- <mat-cell *matCellDef="let element" [innerHTML]="element.alunno.nome|highlight:filterValue"></mat-cell> -->
        </ng-container>

        <!-- **************************   MAT-HEADER-ROW   ******************* -->
        <mat-header-row  class="_table-title-low" *matHeaderRowDef="displayedColumns;"></mat-header-row>  

        <!-- **************************   MAT-ROW   ******************* -->
        <mat-row *matRowDef="let element;columns: displayedColumns"
            class="element-row"
            (contextmenu)="onRightClick($event, element)" >
        </mat-row>

    </mat-table>

    <!-- ***********************  MENU RIGHT CLICK ****************** -->
    <div style="visibility: hidden; position: fixed;" 
        [style.left]="menuTopLeftPosition.x" 
        [style.top]="menuTopLeftPosition.y" 
        [matMenuTriggerFor]="rightMenu">
    </div> 

    <mat-menu #rightMenu="matMenu"> 
        <ng-template matMenuContent let-item="item"> 
            <mat-label class="_titolo-filtri-avanzati">{{item.nome | uppercase}} {{item.cognome | uppercase}}</mat-label> 
            <!-- <button mat-menu-item routerLink="/genitori" [queryParams]="{ idAlunno: item.id }">Genitori/Tutori</button>  -->
            <!--<button mat-menu-item (click)="openGenitori(item)">Genitori/Tutori</button> --> 
            <button mat-menu-item>Classi Frequentate</button>
            <button mat-menu-item>Pagelle</button>
            <!-- <button mat-menu-item (click)="openPagamenti(item.id)">Quote e Pagamenti</button> -->
        </ng-template> 
    </mat-menu> 
