<div class="container">
    <mat-card class="form-card">
        <mat-card-content>
            <form *ngIf="(classeSezioneAnno$ | async) || emptyForm" class="data-form flex-form" [formGroup] = "form">            

                <!-- ********************************    BOTTONI     ************************************* -->
                <div class="center">
                    <button mat-mini-fab aria-label="Back" matTooltip="Back" class="btn" mat-dialog-close>
                        <mat-icon>arrow_back</mat-icon>
                    </button>

                    <button *ngIf="idClasseSezioneAnno" mat-mini-fab aria-label="Back" matTooltip="Back" class="btn ml10"
                            [disabled]= "!form.valid" 
                            (click)="loadData()" >
                        <mat-icon>restart_alt</mat-icon>
                    </button>

                    <button mat-mini-fab aria-label="Salva" matTooltip="Salva" class="btn ml10"
                            [disabled]= "!form.valid" 
                            (click)="save()" >
                        <mat-icon>save</mat-icon>
                    </button>

                    <button *ngIf="idClasseSezioneAnno" mat-mini-fab aria-label="Salva" matTooltip="Salva" class="btn ml10"
                            [disabled]= "!form.valid" 
                            (click)="delete()" >
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>

                <mat-grid-list class="no-overflowx mt10" [cols]="breakpoint" rowHeight="60px">
                    <mat-grid-tile>
                        <mat-form-field >
                            <mat-label>Descrizione Classe</mat-label>
                            <mat-select matNativeControl formControlName="classeID">
                                <mat-option *ngFor="let element of (obsClassi$ | async)" [value]="element.id">
                                    {{element.descrizione2}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
             
                    <mat-grid-tile>
                        <mat-form-field>
                            <input matInput required type="text" placeholder="sezione" maxlength= "1" 
                                    formControlName="sezione" #sezione>
                           <!-- <mat-error *ngIf="form.controls.sezione.errors?.required"> Campo obbligatorio</mat-error>-->
                        </mat-form-field>
                    </mat-grid-tile>

                            
                    <mat-grid-tile>
                        <!-- <mat-form-field *ngIf="show" class="ml20 topZIndex"> -->
                        <mat-form-field  >
                            <mat-label>Anno Scolastico</mat-label>
                            <mat-select formControlName="annoID">
                                <mat-option *ngFor="let element of (obsAnni$ | async)" [value]="element.id">
                                    {{element.annoscolastico}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.controls.annoID.errors?.required"> Campo obbligatorio</mat-error>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field>
                            <input matInput required type="text" placeholder="Classe Successiva" formControlName="classeSezioneAnnoSucc">
                            <mat-error *ngIf="form.controls.classeSezioneAnnoSucc.errors?.required"> Campo obbligatorio</mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
                        

            </form>
        </mat-card-content>
    </mat-card>
</div>
