:host ::ng-deep .mat-mdc-paginator-container{
    width:50% !important;
}

.resize-vertical-only {
     resize: vertical; 
} 

.max-height {
    max-height: 120px;
}


table {
    width: 100%;
    table-layout: fixed;
  }

  /* .mat-column-nota {
    flex: 0 0 30% !important;
} */

  
  .ellipsisColumn {
    overflow: hidden;
    width:auto;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.mat-column-nomiAlunni {
    flex: 0 0 28% !important;
    width: 28% !important;
  }

/* senza questo per qualche motivo il paginator si spezza in due righe...solo qui*/
:host ::ng-deep  .mat-mdc-paginator-container {
    width: 100% !important; 
}


:host ::ng-deep  .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

/* :host ::ng-deep ._low-list-row .mat-grid-tile {
    height: 55px !important;
} */

/* :host ::ng-deep ._low-list-row {
    height: 55px !important;
} */


.mat-drawer-note {
  height: calc(100vh - 191px) !important;
}
