<h1 class="_titolo-pagina">Impostazione Parametri</h1>

<form *ngIf="obsAnni$ | async" [formGroup] = "form"> 

    <div class="w180px ma">
        <mat-form-field>
            <mat-label>Anno Scolastico di Default</mat-label>
            <mat-select formControlName="selectAnnoScolastico"> 
                <mat-option *ngFor="let element of (obsAnni$ | async)" [value]="element.id">
                {{element.annoscolastico}}
                </mat-option>
            </mat-select>
        </mat-form-field>   
    </div>

    <h1 class="_titolo-pagina fs14">Ripartizione standard quote</h1>

    <mat-grid-list *ngIf="parQuoteDefault" class="ma w50 bordered-grey p5" [cols]="12" rowHeight="20px">
        <mat-grid-tile *ngFor="let mese of mesiArr; let i = index" >
            <mat-label>{{placeholderMeseArr[i]}}</mat-label>
        </mat-grid-tile>

        <mat-grid-tile  *ngFor="let placeholderMese of placeholderMeseArr; let i = index;" #QuoteList>
            <mat-checkbox color="warn"  #QuoteListElement [attr.id]="'arrQuote'+i" [checked]="!!+ parQuoteDefault.parValue.substring(i,i+1)"></mat-checkbox>
        </mat-grid-tile>
    </mat-grid-list>

    <div class="center mt10">
        <mat-slide-toggle *ngIf="parQuoteRidotteFratelli" formControlName="quoteRidotteFratelli" class="ma">Quota ridotta per fratelli minori</mat-slide-toggle>
    </div>

    <div class="center">
        <mat-slide-toggle class="ma">Parametro 2</mat-slide-toggle>
    </div>
    <div class="center">
        <mat-slide-toggle class="ma">Parametro 3</mat-slide-toggle>
    </div>
    <div class="center">
        <mat-slide-toggle class="ma">Parametro x</mat-slide-toggle>
    </div>



</form>

<div class="center mt10">
    <button type="button" mat-button matSuffix class="w180px ma mt10" mat-stroked-button (click)="save()">Salva</button>
</div>
 