<mat-tab-group mat-align-tabs="center">

    <!-- ********************************    MAT TAB Risorse grafiche *********************************** -->
    <mat-tab  label="File Grafici">
        <app-fileuploads requiredFileType="image/png"> </app-fileuploads>
    </mat-tab>

    <!-- ********************************    MAT TAB ANAGRAFICA *********************************** -->
    <mat-tab  label="Parametri Base">
        <h1 class="_titolo-pagina">Impostazione Parametri</h1>

        <form *ngIf="obsAnni$ | async" [formGroup] = "form"> 

            <div class="w180px ma">
                <mat-form-field>
                    <mat-label>Anno Scolastico di Default</mat-label>
                    <mat-select formControlName="selectAnnoScolastico"> 
                        <mat-option *ngFor="let element of (obsAnni$ | async)" [value]="element.id">
                        {{element.annoscolastico}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>   
            </div>

            <h1 class="_titolo-pagina fs14">Ripartizione standard quote</h1>

            <mat-grid-list *ngIf="parQuoteDefault" class="ma w50 _bordered-grey p5" [cols]="12" rowHeight="20px">
                <mat-grid-tile *ngFor="let mese of mesiArr; let i = index" >
                    <mat-label>{{placeholderMeseArr[i]}}</mat-label>
                </mat-grid-tile>

                <mat-grid-tile  *ngFor="let placeholderMese of placeholderMeseArr; let i = index;" #QuoteList>
                    <mat-checkbox color="warn"  #QuoteListElement [attr.id]="'arrQuote'+i" [checked]="!!+ parQuoteDefault.parValue.substring(i,i+1)"></mat-checkbox>
                </mat-grid-tile>
            </mat-grid-list>

            <div class="ma w50 _bordered-grey mt10">

                <div class="left mt10 ml20">
                    <mat-slide-toggle *ngIf="parQuoteRidotteFratelli" formControlName="quoteRidotteFratelli">Quota ridotta per fratelli minori</mat-slide-toggle>
                </div>

                <div class="left ml20 mt5">
                    <mat-slide-toggle>Parametro 2</mat-slide-toggle>
                </div>
                <div class="left ml20 mt5">
                    <mat-slide-toggle>Parametro 3</mat-slide-toggle>
                </div>
                <div class="left ml20 mt5 mb10">
                    <mat-slide-toggle>Parametro x</mat-slide-toggle>
                </div>

            </div>
<!-- 
            <input type="file" (change)="onFileSelected($event)">
            <button (click)="onUpload()">Upload</button> -->


        </form>

        <div class="center mt10">
            <button type="button" mat-button matSuffix class="w180px ma mt10" mat-stroked-button (click)="save()">Salva</button>
        </div>
 
    </mat-tab>

    <mat-tab  label="Materie">
        <app-materie-page></app-materie-page>
    </mat-tab>
    <mat-tab  label="Tipi Scadenze">
        <app-tipiscadenza-page></app-tipiscadenza-page>
    </mat-tab>
    <mat-tab  label="Tipi Voto">
        <app-classi-anni-materie-page></app-classi-anni-materie-page>
    </mat-tab>
    <mat-tab  label="Obiettivi">
        <app-obiettivi-page></app-obiettivi-page>
    </mat-tab>
    <!-- <mat-tab  label="Templates">
        <app-templates-manager></app-templates-manager>
    </mat-tab> -->
</mat-tab-group>