
<div class="login-background">
    <mat-card appearance="outlined" class="user-container login-card">
        <mat-card-header >
            <img class="logo-login ma" *ngIf="routerPage=='login'" src="./assets/logoscrittacolor.png">
            <img class="logo-login ma" *ngIf="routerPage=='send-mail'" src="./assets/logoscrittaazzurro.png">

        </mat-card-header>
        <mat-card-content class="mt20">
            <div class="row center">
                <app-login  *ngIf="routerPage=='login'" (reloadRoutes)="reloadRoutesEmitted($event)"> </app-login>
                <app-send-mail *ngIf="routerPage=='send-mail'" (reloadRoutes)="reloadRoutesEmitted($event)"></app-send-mail>
            </div>            
        </mat-card-content>
    </mat-card>
</div>

