<!-- 
/-user------------------------------------------------------------------\
|   /-login (child)------------\         /-register-(child)--------\    |
|   |                          |         |                         |    |
|   |                          |         |                         |    |
|   |                          |         |                         |    |
|   |                          |         |                         |    |
|   |                          |         |                         |    |
|   |                          |         |                         |    |
|   |                          |         |                         |    |
|   |                          |         |                         |    |
|   |                          |         |                         |    |
|   |                          |         |                         |    |
|   |                          |         |                         |    |
|   |                          |         |                         |    |
|   \--------------------------/         \-------------------------/    |
|                                                                       |
\-----------------------------------------------------------------------/
-->

<div class="login-background">
    <mat-card class="user-container login-card">
        <mat-card-header >
            <img class="logo-login ma" src="./assets/logoscrittacolor.png">
        </mat-card-header>
        <mat-card-content class="mt20">
            <!-- <mat-tab-group mat-align-tabs="center">
                <mat-tab  label="Login"> -->
                    <div class="row center">
                        <app-login *ngIf="routerPage=='login'"></app-login>
                        <app-reset-password *ngIf="routerPage=='reset-password'"></app-reset-password>
                        <app-register *ngIf="routerPage=='register'"></app-register>
                    </div>
                <!-- </mat-tab> -->
                <!-- <mat-tab  label="Registrazione">
                    <div class="row center mt20">
                        <app-register></app-register>
                    </div>
                </mat-tab>
            </mat-tab-group> -->
        </mat-card-content>
    </mat-card>
</div>