<form  *ngIf="(retta$ | async) || emptyForm" [formGroup] = "form">

        
    <mat-form-field class="center">
        <input matInput type="number"
        formControlName="idRetta">
    </mat-form-field>

    <mat-form-field class="center">
        <input matInput type="number"
        formControlName="quotaDefault"
        
        [placeholder]="placeholderMese"
        #inpQuotaD>
    </mat-form-field>
<!--[value] = "inputDefault"-->
    <mat-form-field class="center">
        <input matInput type="number"
        formControlName="quotaConcordata"
        
        [ngClass]="{'highlightConc': inputConcordata < inputDefault}"
        #inpQuotaC>
    </mat-form-field>
    <!-- [value] = "inputConcordata" -->
    <mat-form-field class="center">
        <input matInput type="number"
        formControlName="quotaConcordata"
        
        [ngClass]="{'highlightPag': inputPagamenti < inputConcordata}"
        >
    </mat-form-field>
    <!-- [value] = "inputPagamenti? inputPagamenti : 0" -->
</form>
