<!-- 
    Rev.0 - 28/08/2021
    Componente per ????

AS: lo usiamo questo ??? NC: Eccome! E' uno dei 12 che usiamo dentro il modale, uno per mese. Quando leggi cancella questo commento :)



All'inizio il form è empty d'accordo. Ma se non si include || emptyform arriva la expressionhaschangedafter...perchè?
-->

<!-- <form  *ngIf="(retta$ | async)  || emptyForm" [formGroup] = "form" > -->
<form  *ngIf="(retta$ | async)" [formGroup] = "form" >
    <mat-form-field class="cellRetta center" >
        <input matInput type="number"
        (change) = "save()"
        formControlName="quotaDefault" #inpQuotaD>
    </mat-form-field>

    <mat-form-field class="cellRetta center" >
    <!-- <mat-form-field class="cellRetta center" [ngClass]="{'highlightConc': quotaConcordata < quotaDefault}"> -->
        <input matInput type="number"
        formControlName="quotaConcordata"
        (change) = "save()"
        #inpQuotaC>
        
    </mat-form-field>
    
    <!-- <mat-form-field class="cellRetta center" [ngClass]="{'highlightPag2': inputPagamenti < ConvertToNumber(inpQuotaC.value), 'highlightHover': evidenzia}">
        <input matInput type="number"
        [value] = "inputPagamenti? inputPagamenti : 0"
        
        readonly>
    </mat-form-field> -->

    <mat-form-field class="cellRetta center" [ngClass]="{'highlightPag2': inputPagamenti < ConvertToNumber(inpQuotaC.value), 'highlightHover': evidenzia}">
        <input matInput type="number"
        formControlName="totPagamenti"
        
        readonly>
    </mat-form-field>
    
</form>
