<h1 class="page-title" *ngIf="showPageTitle">Elenco Genitori</h1>
    <!-- **************************   FILTER   ******************* -->
    <mat-form-field class="ml20 topZIndex" *ngIf="showTableRibbon">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #filterInput>
    </mat-form-field>

    <!-- **************************   PAGINATOR   ******************* -->
    <mat-paginator *ngIf="showTableRibbon" class="transparent" [pageSize]="10" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>

    <!-- **************************   MAT-TABLE   ******************* -->
    <mat-table class="_table-row-low transparent" [dataSource]="matDataSource"
        matSort
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)" (window:resize)="onResize($event)">
        <!-- **************************   NG-CONTAINERs: COLONNE   ******************* -->
        <ng-container matColumnDef="actionsColumn">
            <mat-header-cell *matHeaderCellDef cdkDrag></mat-header-cell>
            <mat-cell  *matCellDef="let element;"> 
                <img (click)="openDetail(element.id)" class="iconaMenu pointer" src="../assets/genitore_edit.svg">
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="addToFam">
            <mat-header-cell *matHeaderCellDef cdkDrag></mat-header-cell>
            <mat-cell  *matCellDef="let element;"> 
                <mat-icon class="pointer" (click) = "addToFamilyEmit(element)">add_circle_outline</mat-icon>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="removeFromFam">
            <mat-header-cell *matHeaderCellDef cdkDrag></mat-header-cell>
            <mat-cell  *matCellDef="let element;"> 
                <mat-icon class="pointer" (click) = "removeFromFamilyEmit(element)">remove_circle_outline</mat-icon>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header >Nome</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.nome}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="cognome">
            <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>Cognome</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.cognome}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="tipo">
            <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>Tipo</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.tipo}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="dtNascita">
            <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>Nato il</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.dtNascita | date: "dd/MM/yyyy"}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="indirizzo">
            <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>Indirizzo</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.indirizzo}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="comune">
            <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>Comune</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.comune}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="cap">
            <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>CAP</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.cap}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="prov">
            <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>Prov</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.prov}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="CF">
            <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>CF</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.CF}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>email</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="telefono">
            <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>telefono</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.telefono}}</mat-cell>
        </ng-container>
        
        <!-- **************************   MAT-HEADER-ROW   ******************* -->
        <mat-header-row class="_table-title-low" *matHeaderRowDef="displayedColumns; "></mat-header-row>
        
        <!-- **************************   MAT-ROW   ******************* -->
        <mat-row *matRowDef="let element; columns: displayedColumns"
            class="element-row"
            (contextmenu)="onRightClick($event, element)">
        </mat-row>

    </mat-table>

    <!-- ***********************  MENU RIGHT CLICK ****************** -->
    <div style="visibility: hidden; position: fixed;" 
        [style.left]="menuTopLeftPosition.x" 
        [style.top]="menuTopLeftPosition.y" 
        [matMenuTriggerFor]="rightMenu">
    </div> 

    <mat-menu #rightMenu="matMenu"> 
        <ng-template matMenuContent let-item="item"> 
            <mat-label class="rightMenuTitle">{{item.nome | uppercase}} {{item.cognome | uppercase}}</mat-label> 
            <button mat-menu-item (click)="openAlunni(item)">Figli</button> 
            <button mat-menu-item>Classi Frequentate</button>
            <button mat-menu-item>Pagelle</button>
            <button mat-menu-item>Quote e Pagamenti</button>
        </ng-template> 
    </mat-menu> 