<mat-nav-list>
    <div class="filtriAvanzati pt60">

        <div mat-list-item style="text-align: center; margin-bottom: 10px;">
            Filtri Avanzati
        </div>
        <mat-form-field class="filter ml12">
            <mat-label>Tipo Pagamento</mat-label>
            <input matInput [formControl]="tipoPagamentoFilter">
        </mat-form-field>

        <mat-form-field class="filter ml12">
            <mat-label>Causale</mat-label>
            <input matInput [formControl]="causaleFilter">
        </mat-form-field>

        <div class="ml12 mt10">
            <button mat-button matSuffix class="w180px ml15" mat-stroked-button aria-label="Clear" (click)="resetAllInputsAndClearFilters()" >
                Pulisci Filtri
            </button>
        </div>

    </div>
    <!-- <hr> -->
    <!-- <mat-list-item> -->
    <!-- <mat-icon (clic)="savePDF()">printer</mat-icon>-->
        <!-- <span class="descMenu">Stampa</span>
    </mat-list-item >
    <mat-list-item >
        <mat-icon>file_download</mat-icon>
        <span class="descMenu">Scarica</span>
    </mat-list-item > -->
</mat-nav-list>   

