<h1 *ngIf="showPageTitle" class="_titolo-pagina">Elenco Classi</h1>

    <form [formGroup] = "form">
        <mat-form-field  class="ml20 mt20 topZIndex" *ngIf="showSelect">
            <mat-label>Anno Scolastico</mat-label>
            <mat-select formControlName="selectAnnoScolastico">
                <mat-option *ngFor="let element of (obsAnni$ | async)" [value]="element.id">
                {{element.annoscolastico}}
                </mat-option>
            </mat-select>
        </mat-form-field>
<!-- **************************   FILTER   ******************* -->
        <mat-form-field *ngIf="showTableRibbon" class="ml20 topZIndex">
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Classe, sezione" #filterInput>
        </mat-form-field>

    </form>

<!-- **************************   PAGINATOR   ******************* -->
<mat-paginator *ngIf="showTableRibbon" class="transparent" [pageSize]="10" [pageSizeOptions]="[10, 15, 50]" showFirstLastButtons></mat-paginator>

<!-- **************************   MAT-TABLE   ******************* -->
<table mat-table class="w100" matSort [dataSource]="matDataSource">
    <!-- **************************   NG-CONTAINERs: COLONNE   ******************* -->

    <ng-container matColumnDef="select" >
        <!-- masterToggle delle checkbox di selezione record -->
        <th mat-header-cell *matHeaderCellDef >
          <mat-checkbox  class="ml10" (change)="$event ? masterToggle() : null"
                        [checked] = "toggleChecks"
                        [aria-label]="checkboxLabel()"
                        color="warn" #mstToggle>
                        <!-- [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" -->
          </mat-checkbox>
        </th>
        <!-- singole checkbox di selezione record -->
        <td mat-cell *matCellDef="let element" class="w100px">
            <div class="flex-container">
                <div class="flex-item">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                (change) = "$event ? selectedRow(element) : null"
                                [checked]="selection.isSelected(element)"
                                [aria-label]="checkboxLabel(element)"
                                color="warn" #ckSelected>
                            

                    <!-- <div *ngIf="!showProgress && ckSelected.checked">
                        <mat-icon class="_icona-check-green">check_circle_outline</mat-icon>
                    </div> -->


                                
                                <!-- ho tolto questo (change)="$event ? selection.toggle(row) : null" -->
                </mat-checkbox>
            </div>  
            <!-- <div class="flex-item">
                <mat-progress-bar class="prgBar" [ngClass]="{'invisible': ! (showProgress && ckSelected.checked)}" mode="indeterminate"></mat-progress-bar>  
            </div> è troppo veloce per la progressbar -->
            <div class="flex-item">
                <!-- l'id indica QUALE icona andrà accesa, #endedIcons serve per la viewChildren, servono entrambe -->
                <mat-icon  #endedIcons [attr.id]="'endedIcon_'+element.id" class="_icona-check-green invisible">check_circle_outline</mat-icon>
                <!-- <mat-label #endedIcons [attr.id]="'endedIcon_'+element.id"></mat-label>  -->
            </div>
        </div>
        </td>
    </ng-container>


    
    <ng-container matColumnDef="actionsColumn">
        <th  mat-header-cell *matHeaderCellDef cdkDrag></th>
        <td mat-cell  *matCellDef="let element;  let j = index;"> 
            <img (click)="openDetail(element.id)" class="iconaMenu pointer" src="../assets/classe_edit.svg">
        </td>
    </ng-container>

    <ng-container matColumnDef="annoscolastico">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>anno scolastico</th>
        <td mat-cell *matCellDef="let element">{{element.anno.annoscolastico}}</td>
        <!-- <td mat-cell *matCellDef="let element" [innerHTML]="element.anno.annoscolastico | highlight:filterValue"></td> -->
    </ng-container>

    <ng-container matColumnDef="descrizione">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Classe</th>
        <!-- <td mat-cell *matCellDef="let element">{{element.classeSezione.classe.descrizione2}}</td> -->
        <td mat-cell *matCellDef="let element" [innerHTML]="element.classeSezione.classe.descrizione2 | highlight:filterValue"></td>
    </ng-container>

    <ng-container matColumnDef="sezione">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sez.</th>
        <!-- <td mat-cell *matCellDef="let element">{{element.classeSezione.sezione}}</td> -->
        <td mat-cell *matCellDef="let element" [innerHTML]="element.classeSezione.sezione | highlight:filterValue"></td>
    </ng-container>

    <ng-container matColumnDef="descrizioneAnnoSuccessivo">
        <th mat-header-cell *matHeaderCellDef >Classe Successiva</th>
        <td mat-cell *matCellDef="let element">{{(element.classeSezioneAnnoSucc) === null ? "" :
            element.classeSezioneAnnoSucc.classeSezione.classe.descrizione2}}</td>
    </ng-container>

    <ng-container matColumnDef="sezioneAnnoSuccessivo">
        <th mat-header-cell *matHeaderCellDef >Sezione Cl. Successiva</th>
        <td mat-cell *matCellDef="let element">{{(element.classeSezioneAnnoSucc) === null ? "" :
            element.classeSezioneAnnoSucc.classeSezione.sezione}}</td>
    </ng-container>

    <!--ATTENZIONE QUI SI VA A VEDERE NON DENTRO CLASSESEZIONEANNO MA DENTRO CLASSESEZIONEANNOALUNNO-->
    <ng-container matColumnDef="sezioneCSAA">
        <th mat-header-cell *matHeaderCellDef >Sez.</th>
        <td mat-cell *matCellDef="let element">{{element.classeSezioneAnno.classeSezione.sezione}}</td>
    </ng-container>

    <!--ATTENZIONE QUI SI VA A VEDERE NON DENTRO CLASSESEZIONEANNO MA DENTRO CLASSESEZIONEANNOALUNNO-->
    <ng-container matColumnDef="descrizioneCSAA">
        <th mat-header-cell *matHeaderCellDef >Classe</th>
        <td mat-cell *matCellDef="let element">{{element.classeSezioneAnno.classeSezione.classe.descrizione2}}</td>
    </ng-container>

    <!--ATTENZIONE QUI SI VA A VEDERE NON DENTRO CLASSESEZIONEANNO MA DENTRO CLASSESEZIONEANNOALUNNO-->
    <ng-container matColumnDef="annoscolasticoCSAA">
        <th mat-header-cell *matHeaderCellDef >anno scolastico</th>
        <td mat-cell *matCellDef="let element">{{element.classeSezioneAnno.anno.annoscolastico}}</td>
    </ng-container>

    <ng-container matColumnDef="importo">
        <th mat-header-cell *matHeaderCellDef >importo</th>
        <td mat-cell *matCellDef="let element">
            <input matInput type="text" required placeholder="Importo" [value] = "element.classeSezione.classe.importo" (change)="updateImporto(element, importo.value)" #importo>
        </td>
    </ng-container>

    <ng-container matColumnDef="importo2">
        <th mat-header-cell *matHeaderCellDef >importo2</th>
        <td mat-cell *matCellDef="let element">{{element.classeSezione.classe.importo2}}</td>
    </ng-container>

    <ng-container matColumnDef="addToAttended">
        <th mat-header-cell *matHeaderCellDef ></th>
        <td mat-cell *matCellDef="let element">
            <mat-icon class="pointer" (click) = "addToAttendedEmit(element)">add_circle_outline</mat-icon>
        </td>
    </ng-container>




    <ng-container matColumnDef="removeFromAttended">
        <th mat-header-cell *matHeaderCellDef ></th>
        <td mat-cell *matCellDef="let element">
            <mat-icon class="pointer" (click) = "removeFromAttendedEmit(element.classeSezioneAnno)">remove_circle_outline</mat-icon>
        </td>
    </ng-container>



    <!-- **************************   MAT-HEADER-ROW   ******************* -->
    <tr mat-header-row class="_table-title-low" *matHeaderRowDef="displayedColumns;  sticky: true" ></tr>

    <!-- **************************   MAT-ROW   ******************* -->
    <tr mat-row *matRowDef="let element;columns: displayedColumns"
        class="element-row"
        (click)="rowclicked(element.id)"
        [ngClass]="{
        '_table-row-selected-highlight': selectedRowIndex == element.id && dove == 'classi-dashboard',
        '_row-pointercursor': dove == 'classi-dashboard'
        }"

        >
    </tr>
    
    <!-- [ngClass]="{'_table-row-selected-highlight': selectedRowIndex == element.id}" -->
</table>
