<h1 *ngIf="showPageTitle" class="page-title">Elenco Classi</h1>


    <form [formGroup] = "form">
        <mat-form-field  class="ml20 topZIndex" *ngIf="showSelect">
        <mat-label>Anno Scolastico</mat-label>
        <mat-select formControlName="selectAnnoScolastico">
            <mat-option *ngFor="let element of (obsAnni$ | async)" [value]="element.id" >
            {{element.annoscolastico}}
            </mat-option>
        </mat-select>


        </mat-form-field>

<!-- **************************   FILTER   ******************* -->
        <mat-form-field *ngIf="showTableRibbon" class="ml20 topZIndex">
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="" #filterInput>
        </mat-form-field>

    </form>

<!-- **************************   PAGINATOR   ******************* -->
<mat-paginator *ngIf="showTableRibbon" class="transparent" [pageSize]="10" [pageSizeOptions]="[10, 15, 50]" showFirstLastButtons></mat-paginator>

<!-- **************************   MAT-TABLE   ******************* -->
<mat-table class="classiSezioniAnniTable" style="height: 70%;" matSort [dataSource]="matDataSource" >
    <!-- **************************   NG-CONTAINERs: COLONNE   ******************* -->

    <ng-container matColumnDef="actionsColumn">
        <mat-header-cell *matHeaderCellDef cdkDrag></mat-header-cell>
        <mat-cell  *matCellDef="let element;  let j = index;"> 
            <img (click)="openDetail(element.id)" class="iconaMenu pointer" src="../assets/classe_edit.svg">
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="annoscolastico">
        <mat-header-cell *matHeaderCellDef mat-sort-header>anno scolastico</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.anno.annoscolastico}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descrizione">
        <mat-header-cell *matHeaderCellDef mat-sort-header >Classe</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.classeSezione.classe.descrizione2}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="sezione">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Sez.</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.classeSezione.sezione}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descrizioneAnnoSuccessivo">
        <mat-header-cell *matHeaderCellDef >Classe Successiva</mat-header-cell>
        <mat-cell *matCellDef="let element">{{(element.classeSezioneAnnoSucc) === null ? "" :
            element.classeSezioneAnnoSucc.classeSezione.classe.descrizione2}}</mat-cell>
        <!-- <mat-cell *matCellDef="let element">{{element | json}}</mat-cell> -->
    </ng-container>
    <ng-container matColumnDef="sezioneAnnoSuccessivo">
        <mat-header-cell *matHeaderCellDef >Sezione Cl. Successiva</mat-header-cell>
        <mat-cell *matCellDef="let element">{{(element.classeSezioneAnnoSucc) === null ? "" :
            element.classeSezioneAnnoSucc.classeSezione.sezione}}</mat-cell>
    </ng-container>

    <!--ATTENZIONE QUI SI VA A VEDERE NON DENTRO CLASSESEZIONEANNO MA DENTRO CLASSESESZIONEANNOALUNNO-->
    <ng-container matColumnDef="sezioneCSAA">
        <mat-header-cell *matHeaderCellDef >Sez.</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.classeSezioneAnno.classeSezione.sezione}}</mat-cell>
    </ng-container>

    <!--ATTENZIONE QUI SI VA A VEDERE NON DENTRO CLASSESEZIONEANNO MA DENTRO CLASSESESZIONEANNOALUNNO-->
    <ng-container matColumnDef="descrizioneCSAA">
        <mat-header-cell *matHeaderCellDef >Classe</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.classeSezioneAnno.classeSezione.classe.descrizione2}}</mat-cell>
    </ng-container>

    <!--ATTENZIONE QUI SI VA A VEDERE NON DENTRO CLASSESEZIONEANNO MA DENTRO CLASSESESZIONEANNOALUNNO-->
    <ng-container matColumnDef="annoscolasticoCSAA">
        <mat-header-cell *matHeaderCellDef >anno scolastico</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.classeSezioneAnno.anno.annoscolastico}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="addToAttended">
        <mat-header-cell *matHeaderCellDef ></mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-icon class="pointer" (click) = "addToAttendedEmit(element)">add_circle_outline</mat-icon>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="removeFromAttended">
        <mat-header-cell *matHeaderCellDef ></mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-icon class="pointer" (click) = "removeFromAttendedEmit(element.classeSezioneAnno)">remove_circle_outline</mat-icon>
        </mat-cell>
    </ng-container>



    <!-- **************************   MAT-HEADER-ROW   ******************* -->
    <mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></mat-header-row>

    <!-- **************************   MAT-ROW   ******************* -->
    <mat-row *matRowDef="let element;columns: displayedColumns"
        class="element-row" 
        (click)="rowclicked(element)"
        [ngClass]="{'highlight': selectedRowIndex == element.id}"
        >
    </mat-row>
</mat-table>
