<mat-card appearance="outlined" class="form-card">
    <mat-card-content>
        <form *ngIf="(consenso$ | async) || emptyForm" class="data-form flex-form" [formGroup] = "form">
            <div class="center">

                <img class="iconaMenuBig" src="./assets/materia_edit.svg">

                <button mat-icon-button aria-label="Back" matTooltip="Chiudi" class="_btn-toolbar-close" mat-dialog-close></button>

                <button *ngIf="data.consensoID" mat-mini-fab aria-label="Back" matTooltip="Back" class="btn ml10"
                [disabled]= "!form.valid" 
                (click)="loadData()" >
                    <mat-icon>restart_alt</mat-icon>
                </button>

                <button mat-mini-fab aria-label="Salva" matTooltip="Salva" class="btn ml10"
                [disabled]= "!form.valid" 
                (click)="save()" >
                    <mat-icon>save</mat-icon>
                </button>

                <button *ngIf="data.consensoID" mat-mini-fab aria-label="Cancella" matTooltip="Cancella" class="btn ml10"
                [disabled]= "!form.valid" 
                (click)="delete()" >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

            <mat-grid-list class="mt10" [cols]="1" rowHeight="60px" >
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput type="text" required placeholder="Domanda" minlength= "3" formControlName="domanda" #nome>
                        <!-- <mat-error *ngIf="form.controls.domanda.errors?.required"> Campo obbligatorio</mat-error> -->
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput type="number" required placeholder="Numero di Opzioni (1-5)" minlength= "3" formControlName="numOpzioni" #nome>
                        <!-- <mat-error *ngIf="form.controls.numOpzioni.errors?.required"> Campo obbligatorio</mat-error> -->
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            

        </form>
    </mat-card-content>
</mat-card>
