<mat-card appearance="outlined" class="form-card">
    <mat-card-content>
        <form *ngIf="(consenso$ | async) || emptyForm" class="data-form flex-form" [formGroup] = "form">
            <div class="center">

                <img class="iconaMenuBig" src="./assets/consenso_edit_T.svg">

                <button mat-icon-button aria-label="Back" matTooltip="Chiudi" class="_btn-toolbar-close" mat-dialog-close></button>

                <button *ngIf="data.consensoID" mat-mini-fab aria-label="Back" matTooltip="Back" class="btn ml10"
                        [disabled]= "!form.valid" 
                        (click)="loadData()" >
                    <mat-icon>restart_alt</mat-icon>
                </button>

                <button mat-mini-fab aria-label="Salva" matTooltip="Salva" class="btn ml10"
                        [disabled]= "!form.valid" 
                        (click)="save()" >
                    <mat-icon>save</mat-icon>
                </button>

                <button *ngIf="data.consensoID" mat-mini-fab aria-label="Cancella" matTooltip="Cancella" class="btn ml10"
                        [disabled]= "!form.valid" 
                        (click)="delete()" >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

            <mat-grid-list class="mt10" [cols]="1" rowHeight="100px" >
                <mat-grid-tile>
                    <!-- <mat-form-field>
                        <input matInput type="text" required placeholder="Domanda" minlength= "3" formControlName="domanda" #nome>
                    </mat-form-field> -->

                    <mat-form-field class="w100 h100px pl5 pt5" appearance="outline">
                        <mat-label>Domanda</mat-label>
                        <textarea required class="w300px  _noresize" placeholder="Domanda" matInput formControlName="domanda"></textarea>
                    </mat-form-field>

                </mat-grid-tile>

            </mat-grid-list>
            <mat-grid-list class="mt10" [cols]="2" rowHeight="60px" >

                <mat-grid-tile colspan="2" class="center">
                    Indicare di seguito le Opzioni disponibili (Max 5)<br>
                    Per un consenso obbligatorio inserire 1 opzione<br>
                    Per un consenso non obbligatorio inserire 2 opzioni (ad es. Si/No)
                </mat-grid-tile>
                <!-- <mat-grid-tile>
                    <mat-form-field>
                        <input matInput type="number" required placeholder="Numero di Opzioni (1-5)" formControlName="numOpzioni" #nome>
                    </mat-form-field>
                </mat-grid-tile> -->


                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput type="text" required placeholder="opzione 1" formControlName="testo1" #nome>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput type="text" placeholder="opzione 2" formControlName="testo2" #nome>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput type="text" placeholder="opzione 3" formControlName="testo3" #nome>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <input matInput type="text" placeholder="opzione 4" formControlName="testo4" #nome>
                    </mat-form-field>
                </mat-grid-tile>
                
                <mat-grid-tile colspan="2" >
                    <mat-form-field>
                        <input matInput type="text" placeholder="opzione 5" formControlName="testo5" #nome>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="2" >
                    <mat-form-field  >
                        <mat-label>File</mat-label>
                        <mat-select formControlName="fileID" #selectAnno>
                            <mat-option *ngFor="let element of (obsFiles$ | async)" [value]="element.id">
                                {{element.nomeFile}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                
            </mat-grid-list>

        </form>
    </mat-card-content>
</mat-card>
