
    <mat-toolbar>
        {{data.titolo}} 
    </mat-toolbar>
    <div class="buttonsDetail" mat-dialog-actions>
        <button mat-stroked-button color="secondary" mat-dialog-close>
            <mat-icon>arrow_back</mat-icon>
            <div class="button-textDetail">
                annulla
            </div>
        </button>
        <button mat-stroked-button color="secondary" (click)="save()">
            <mat-icon>save</mat-icon>
            <div class="button-textDetail">
                salva
            </div>
        </button>
    </div>
    <br>
    <form class="data-form flex-form" [formGroup] = "form">

        <mat-form-field>
            <mat-label>Nome e Cognome Alunno</mat-label>
            <mat-chip-list #chipList aria-label="Selezione Alunni">
                <mat-chip
                    *ngFor="let alunnoSelezionato of alunniSelezionati"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(alunnoSelezionato)"
                    >
                    {{alunnoSelezionato}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input 
                        placeholder = "digita e seleziona"
                        matInput
                        [matChipInputFor]="chipList"
                        formControlName="nomeCognomeAlunno"
                        [matAutocomplete]="auto" #nomeCognomeAlunno 
                >
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-progress-bar class="is-loading" *ngIf="alunniIsLoading" mode="indeterminate"></mat-progress-bar>
                <mat-option *ngFor="let element of (filteredAlunni$ | async)" [value]="element.nome + ' ' + element.cognome" [id]="element.id.toString()" #option>
                    <small>{{element.nome}} {{element.cognome}}</small>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>


