<div class="pt60">

    <div style="text-align: center; margin-bottom: 10px;">
        Filtri Avanzati
    </div>

    <mat-form-field class="ml12">
        <mat-label>Nome</mat-label>
        <input matInput [formControl]="nomeFilter">
    </mat-form-field>

    <mat-form-field class="ml12">
        <mat-label>Cognome</mat-label>
        <input matInput [formControl]="cognomeFilter">
    </mat-form-field>

    <mat-form-field class="ml12">
        <mat-label>Tipo</mat-label>
        <input matInput [formControl]="tipoFilter">
    </mat-form-field>

    <mat-form-field class="ml12">
        <mat-label>Data</mat-label>
        <input matInput [formControl]="dtVerbaleFilter">
    </mat-form-field>

    <mat-form-field class="ml12">
        <mat-label>Classe</mat-label>
        <input matInput [formControl]="classeFilter">
    </mat-form-field>

    <mat-form-field class="ml12">
        <mat-label>Titolo</mat-label>
        <input matInput [formControl]="titoloFilter">
    </mat-form-field>

    <div class="ml12 mt10">
        <button mat-button matSuffix class="w180px ml15" mat-stroked-button aria-label="Clear" (click)="resetAllInputsAndClearFilters()" >
            Pulisci Filtri
        </button>
    </div>

</div>


