<button mat-mini-fab aria-label="Rimuovi Pagina" matTooltip="Rimuovi Pagina" class="_btn-delete-pagina _btn-pos-right-1" (click)="deletePage()">
    <img class="iconaMenuSidenav" src="./assets/delete_pagina.svg">
</button>
<button mat-mini-fab aria-label="Aggiungi Blocco Tabella" matTooltip="Aggiungi Blocco Tabella" class="_btn-add-table _btn-pos-right-2" (click)="addBlock(3)">
    <img class="iconaMenuSidenav" src="./assets/add_block_table.svg">
</button>
<button mat-mini-fab aria-label="Aggiungi Blocco Testo" matTooltip="Aggiungi Blocco Testo" class="_btn-add-text _btn-pos-right-3" (click)="addBlock(1)">
    <img class="iconaMenuSidenav" src="./assets/add_block_text.svg">
</button>
<button mat-mini-fab aria-label="Aggiungi Blocco Immagine" matTooltip="Aggiungi Blocco Immagine" class="_btn-add-picture _btn-pos-right-4" (click)="addBlock(2)">
    <img class="iconaMenuSidenav" src="./assets/add_block_foto.svg">
</button>

<div class="_pos-relative" style=" margin: auto; width: 420px; height: 594px; background-color: white" 

        [ngStyle]=
            "{
            'width': pageW*zoom+'px',
            'height': pageH*zoom+'px'
            }"
        >

    <div *ngIf="magnete">
        <div class="_pos-absolute h100 _border-left-dot" [ngStyle]="{'left': pageMarginLeft*zoom+'px'}"></div>
        <div class="_pos-absolute h100 _border-left-dot" [ngStyle]="{'left': pageMarginRight*zoom+'px'}"></div>
        
        <div class="_pos-absolute w100 _border-top-dot" [ngStyle]="{'top': pageMarginTop*zoom+'px'}"></div>
        <div class="_pos-absolute w100 _border-top-dot" [ngStyle]="{'top': pageMarginBottom*zoom+'px'}"></div>

        <div class="_pos-absolute w10 _border-top-dot l0" [ngStyle]="{'top': pageH/2*zoom+'px'}"></div>
        <div class="_pos-absolute w10 _border-top-dot r0" [ngStyle]="{'top': pageH/2*zoom+'px'}"></div>

        <div class="_pos-absolute w10px _border-top-dot l0" [ngStyle]="{'top': pageH/4*zoom+'px'}"></div>
        <div class="_pos-absolute w10px _border-top-dot r0" [ngStyle]="{'top': pageH/4*zoom+'px'}"></div>
        <div class="_pos-absolute w10px _border-top-dot l0" [ngStyle]="{'top': pageH/4*3*zoom+'px'}"></div>
        <div class="_pos-absolute w10px _border-top-dot r0" [ngStyle]="{'top': pageH/4*3*zoom+'px'}"></div>
        
        <div class="_pos-absolute h10 _border-left-dot t0" [ngStyle]="{'left': pageW/2*zoom+'px'}"></div>
        <div class="_pos-absolute h10 _border-left-dot b0" [ngStyle]="{'left': pageW/2*zoom+'px'}"></div>
        
        <div class="_pos-absolute h10px _border-left-dot t0" [ngStyle]="{'left': pageW/4*zoom+'px'}"></div>
        <div class="_pos-absolute h10px _border-left-dot b0" [ngStyle]="{'left': pageW/4*zoom+'px'}"></div>
        <div class="_pos-absolute h10px _border-left-dot t0" [ngStyle]="{'left': pageW/4*3*zoom+'px'}"></div>
        <div class="_pos-absolute h10px _border-left-dot b0" [ngStyle]="{'left': pageW/4*3*zoom+'px'}"></div>
    </div>

    <div *ngIf="griglia">
        <div *ngFor="let n of nLineeVert" class="_pos-absolute h100 _border-left-dot" [ngStyle]="{'left': n*10*zoom+'px'}">
        </div>

        <div *ngFor="let n of nLineeHor" class="_pos-absolute w100 _border-top-dot" [ngStyle]="{'top': n*10*zoom+'px'}">
        </div>
    </div>
    <div class="_pos-absolute">
        <div *ngFor="let element of blocchiArr" class="_pos-absolute" #Blocchi>
            <app-blocco
                [blocco] = "element"
                [zoom]= "zoom"
                [snapObjects] = "snapObjects"
                [magnete] = "magnete"
                [griglia] = "griglia"
                [formatopagina]="formatopagina"
                (recordEdited) ="bloccoEditedEmitted($event)"
                (bloccoMoved) ="bloccoMovedEmitted($event)"

                #Blocco
                >
            </app-blocco>
        </div>
    </div>
</div>


