

<form *ngIf="(alunno | async) as objAlunno " class="data-form flex-form" [formGroup] = "formHeaderAlunno">

    <mat-grid-list [cols]="3" rowHeight="60px">
        <mat-grid-tile>        
            <mat-form-field class="ml20">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Nome" [value]="objAlunno.nome" #nome>
            </mat-form-field>
        </mat-grid-tile>
        
        <mat-grid-tile>
            <mat-form-field class="ml20">
                <mat-label>Cognome</mat-label>
                <input matInput placeholder="Cognome" [value]="objAlunno.cognome" #cognome>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button>
                pulisci
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</form>
