<h1 class="page-title">Elenco Rette </h1>

<!-- **************************   FILTER   ******************* -->
<mat-form-field class="ml20 topZIndex">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="" #filterInput>
</mat-form-field>

<!-- **************************   PAGINATOR   ******************* -->
<mat-paginator class="transparent" [pageSize]="10" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>

<!-- **************************   MAT-TABLE   ******************* -->
<mat-table class="transparent" [dataSource]="matDataSource"
    multiTemplateDataRows
    >
    
    <!-- **************************   NG-CONTAINERs: COLONNE   ******************* -->


    <ng-container matColumnDef="actionsColumn">
        <mat-header-cell *matHeaderCellDef ></mat-header-cell>
        <mat-cell  *matCellDef="let element;  let j = index;"> 
            <img (click)="editRecord(element.id)" class="iconaMenu pointer" src="../assets/money_edit.svg">
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="alunno.nome">
        <mat-header-cell *matHeaderCellDef >Nome</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.alunno.nome}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="alunno.cognome">
        <mat-header-cell *matHeaderCellDef >Cognome</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.alunno.cognome}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tipoRec_C">
        <mat-header-cell *matHeaderCellDef >Tipo</mat-header-cell>
            <mat-cell *matCellDef="let element">C</mat-cell>
    </ng-container>

    <ng-container matColumnDef="c_SET">
        <mat-header-cell *matHeaderCellDef >SET</mat-header-cell>
            <mat-cell class="center" *matCellDef="let element" [ngClass]="{'highlight': element.c_SET < element.d_SET}">{{element.c_SET}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="c_OTT">
        <mat-header-cell *matHeaderCellDef >OTT</mat-header-cell>
            <mat-cell class="center" *matCellDef="let element" [ngClass]="{'highlight': element.c_OTT < element.d_OTT}">{{element.c_OTT}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="c_NOV">
        <mat-header-cell *matHeaderCellDef >NOV</mat-header-cell>
            <mat-cell class="center" *matCellDef="let element" [ngClass]="{'highlight': element.c_NOV < element.d_NOV}">{{element.c_NOV}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="c_DIC">
        <mat-header-cell *matHeaderCellDef >DIC</mat-header-cell>
            <mat-cell class="center" *matCellDef="let element" [ngClass]="{'highlight': element.c_DIC < element.d_DIC}">{{element.c_DIC}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="c_GEN">
        <mat-header-cell *matHeaderCellDef >GEN</mat-header-cell>
            <mat-cell class="center" *matCellDef="let element" [ngClass]="{'highlight': element.c_GEN < element.d_GEN}">{{element.c_GEN}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="c_FEB">
        <mat-header-cell *matHeaderCellDef >FEB</mat-header-cell>
            <mat-cell class="center" *matCellDef="let element" [ngClass]="{'highlight': element.c_FEB < element.d_FEB}">{{element.c_FEB}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="c_MAR">
        <mat-header-cell *matHeaderCellDef >MAR</mat-header-cell>
            <mat-cell class="center" *matCellDef="let element" [ngClass]="{'highlight': element.c_MAR < element.d_MAR}">{{element.c_MAR}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="c_APR">
        <mat-header-cell *matHeaderCellDef >APR</mat-header-cell>
            <mat-cell class="center" *matCellDef="let element" [ngClass]="{'highlight': element.c_APR < element.d_APR}">{{element.c_APR}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="c_MAG">
        <mat-header-cell *matHeaderCellDef >MAG</mat-header-cell>
            <mat-cell class="center" *matCellDef="let element" [ngClass]="{'highlight': element.c_MAG < element.d_MAG}">{{element.c_MAG}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="c_GIU">
        <mat-header-cell *matHeaderCellDef >GIU</mat-header-cell>
            <mat-cell class="center" *matCellDef="let element" [ngClass]="{'highlight': element.c_GIU < element.d_GIU}">{{element.c_GIU}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="c_LUG">
        <mat-header-cell *matHeaderCellDef >LUG</mat-header-cell>
            <mat-cell class="center" *matCellDef="let element" [ngClass]="{'highlight': element.c_LUG < element.d_LUG}">{{element.c_LUG}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="c_AGO">
        <mat-header-cell *matHeaderCellDef >AGO</mat-header-cell>
            <mat-cell class="center" *matCellDef="let element" [ngClass]="{'highlight': element.c_AGO < element.d_AGO}">{{element.c_AGO}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tipoRec_D">
        <mat-header-cell *matHeaderCellDef >Tipo</mat-header-cell>
            <mat-cell *matCellDef="let element">D</mat-cell>
    </ng-container>

    <ng-container matColumnDef="d_SET">
        <mat-header-cell class="center" *matHeaderCellDef >SET</mat-header-cell>
            <mat-cell class="center" *matCellDef="let element">{{element.d_SET}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="d_OTT">
        <mat-header-cell class="center" *matHeaderCellDef >OTT</mat-header-cell>
            <mat-cell class="center" *matCellDef="let element">{{element.d_OTT}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="d_NOV">
        <mat-header-cell class="center" *matHeaderCellDef >NOV</mat-header-cell>
            <mat-cell class="center" *matCellDef="let element">{{element.d_NOV}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="d_DIC">
        <mat-header-cell class="center" *matHeaderCellDef >DIC</mat-header-cell>
            <mat-cell class="center" *matCellDef="let element">{{element.d_DIC}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="d_GEN">
        <mat-header-cell class="center" *matHeaderCellDef >GEN</mat-header-cell>
            <mat-cell class="center" *matCellDef="let element">{{element.d_GEN}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="d_FEB">
        <mat-header-cell class="center" *matHeaderCellDef >FEB</mat-header-cell>
            <mat-cell class="center" *matCellDef="let element">{{element.d_FEB}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="d_MAR">
        <mat-header-cell class="center" *matHeaderCellDef >MAR</mat-header-cell>
            <mat-cell class="center" *matCellDef="let element">{{element.d_MAR}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="d_APR">
        <mat-header-cell class="center" *matHeaderCellDef >APR</mat-header-cell>
            <mat-cell class="center" *matCellDef="let element">{{element.d_APR}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="d_MAG">
        <mat-header-cell class="center" *matHeaderCellDef >MAG</mat-header-cell>
            <mat-cell class="center" *matCellDef="let element">{{element.d_MAG}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="d_GIU">
        <mat-header-cell class="center" *matHeaderCellDef >GIU</mat-header-cell>
            <mat-cell class="center" *matCellDef="let element">{{element.d_GIU}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="d_LUG">
        <mat-header-cell class="center" *matHeaderCellDef >LUG</mat-header-cell>
            <mat-cell class="center" *matCellDef="let element">{{element.d_LUG}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="d_AGO">
        <mat-header-cell class="center" *matHeaderCellDef >AGO</mat-header-cell>
            <mat-cell class="center" *matCellDef="let element">{{element.d_AGO}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="blank">
        <mat-header-cell *matHeaderCellDef ></mat-header-cell>
            <mat-cell *matCellDef="let element"></mat-cell>
    </ng-container>

    <ng-container matColumnDef="quote[0][0]">
        <mat-header-cell *matHeaderCellDef >quote</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.quote[0][0]}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="alunnoID">
        <mat-header-cell *matHeaderCellDef >ID</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.alunnoID}}</mat-cell>
    </ng-container>





    <ng-container matColumnDef="mese">
        <mat-header-cell *matHeaderCellDef >Mese</mat-header-cell>
        <mat-cell *matCellDef="let element">{{months[element.mese] | date: 'MMMM'}}</mat-cell>
        <!-- <mat-cell *matCellDef="let element">{{element.mese}}</mat-cell> -->
    </ng-container>

    <ng-container matColumnDef="anno">
        <mat-header-cell *matHeaderCellDef >anno</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.anno}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="quotaConcordata">
        <mat-header-cell *matHeaderCellDef >Quota Concordata</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.quotaConcordata}}</mat-cell>
    </ng-container>

    
    <!-- **************************   MAT-HEADER-ROW   ******************* -->
    <mat-header-row *matHeaderRowDef="d_displayedColumns;"></mat-header-row>
    
    <!-- **************************   MAT-ROW   ******************* -->
    <mat-row *matRowDef="let element;columns: d_displayedColumns;"
        class="element-row"
        (contextmenu)="onRightClick($event, element)" >
    </mat-row>

    <mat-row *matRowDef="let element; columns: c_displayedColumns;"
        class="element-row border-bottom">
    </mat-row>


</mat-table>

<!-- ***********************  MENU RIGHT CLICK ****************** -->
<div style="visibility: hidden; position: fixed;" 
    [style.left]="menuTopLeftPosition.x" 
    [style.top]="menuTopLeftPosition.y" 
    [matMenuTriggerFor]="rightMenu">
</div> 

<mat-menu #rightMenu="matMenu"> 
    <ng-template matMenuContent let-item="item"> 
        <mat-label class="rightMenuTitle">Dettaglio Retta</mat-label> 
        <!-- <button mat-menu-item routerLink="/genitori" [queryParams]="{ idAlunno: item.id }">Genitori/Tutori</button>  
        <button mat-menu-item (click)="openAlunno(item.id)">Alunno</button> -->
        <button mat-menu-item>Alunno</button> 
    </ng-template> 
</mat-menu> 

