<button mat-mini-fab aria-label="Selezione Template" matTooltip="Selezione Template" matTooltipPosition="right" class="_btn-add-fixed _btn-pos-left-1 _btn-pos-top-1" (click)="drawer.toggle()">
    <mat-icon>chevron_right</mat-icon>
</button>

<button mat-mini-fab aria-label="Aggiungi Pagina" matTooltip="Aggiungi Pagina" matTooltipPosition="right" class="_btn-add-fixed _btn-pos-left-1 _btn-pos-top-2" (click)="addPage()">
    <img class="iconaMenuSidenav" src="./assets/add_pagina.svg">
</button>

<button mat-mini-fab aria-label="Zoom Out" matTooltip="Zoom Out" matTooltipPosition="right" class="_btn-add-fixed _btn-pos-left-1 _btn-pos-top-3" (click)="decZoom()">
    <mat-icon>remove_circle_outline</mat-icon>
</button>

<button mat-mini-fab aria-label="Zoom In" matTooltip="Zoom In" matTooltipPosition="right" class="_btn-add-fixed _btn-pos-left-1 _btn-pos-top-4" (click)="incZoom()">
    <mat-icon>add_circle_outline</mat-icon>
</button>

<button mat-mini-fab aria-label="Aggancia ai Margini" matTooltip="Aggancia ai Margini"  matTooltipPosition="right" class="_btn-add-fixed _btn-pos-left-1 _btn-pos-top-5" (click)="toggleMagnete()">
    <img *ngIf="magnete" class="iconaMenuSidenav" src="./assets/magnete_on.svg">
    <img *ngIf="!magnete" class="iconaMenuSidenav" src="./assets/magnete_off.svg">
</button>

<button mat-mini-fab aria-label="Aggancia alla griglia" matTooltip="Aggancia alla griglia"  matTooltipPosition="right" class="_btn-add-fixed _btn-pos-left-1 _btn-pos-top-6" (click)="toggleGriglia()">
    <img *ngIf="griglia" class="iconaMenuSidenav" src="./assets/griglia_on.svg">
    <img *ngIf="!griglia" class="iconaMenuSidenav" src="./assets/griglia_off.svg">
</button>

<button  mat-mini-fab aria-label="Pubblica" matTooltip="Pubblica" matTooltipPosition="right" class="_btn-add-fixed _btn-pos-left-1 _btn-pos-top-7" (click)="createRptDoc()">
    <img class="iconaMenu" src="./assets/pubblica.svg">
</button>

<button  mat-mini-fab aria-label="Scarica" matTooltip="Scarica" matTooltipPosition="right" class="_btn-add-fixed _btn-pos-left-1 _btn-pos-top-8" (click)="openPdf()">
    <mat-icon>file_download</mat-icon>
</button>

<button  mat-mini-fab aria-label="Formato pagina" matTooltip="Formato Pagina" matTooltipPosition="right" class="_btn-add-fixed _btn-pos-left-1 _btn-pos-top-9" (click)="switchA4A3()">
    <img class="iconaMenu" src="./assets/A4A3.svg">
</button>

<button  mat-mini-fab aria-label="Orientamento pagina" matTooltip="Orientamento Pagina" matTooltipPosition="right" class="_btn-add-fixed _btn-pos-left-1 _btn-pos-top-10" (click)="switchOrientation()">
    <img class="iconaMenu" src="./assets/page_orientation.svg">
</button>

<div class="_htot_toolbar" style="background-color: lightgray">


<mat-drawer-container autosize>
    <mat-drawer #drawer class="subsidenav " style="padding-left: 70px; position: fixed" mode="side">
        <div class="mt50 ml50"></div>
        <table mat-table class=" w150px transparent headerColored" [dataSource]="matDataSource">
            <ng-container matColumnDef="descrizione">
                <th mat-header-cell *matHeaderCellDef>Documento</th>
                <td mat-cell *matCellDef="let element" [innerHTML]="element.descrizione"></td>
            </ng-container>
            <tr mat-header-row class="_table-title-low" *matHeaderRowDef="displayedColumnsTemplates;  sticky: true" ></tr>
            <tr mat-row *matRowDef="let element;columns: displayedColumnsTemplates"

            [ngClass]="{'_table-row-selected-highlight': selectedRowIndex == element.id}"


                class="element-row _table-row-selected-highlight _row-pointercursor"
                (click)="rowclicked(element.id)" >
            </tr>
        </table>
    </mat-drawer>


    <div *ngFor="let element of (obsPagine$ | async); let i = index" style="padding-top: 10px; background-color: lightgray">
        <div class="center mb20">Pagina {{i+1}} di {{numPagine}} <span class="fs10">({{A4A3}})</span></div>
        <app-pagina
            [paginaID]="element.id"
            [zoom]="zoom"
            [magnete]="magnete"
            [griglia]="griglia"
            [formatopagina] = "A4A3"

            (deleteEmitted)="deletedPage($event)"

            >
        </app-pagina>

        <div class="h-divider">  
            <div class="shadow"></div>
        </div>
    </div>

    <!-- Nel seguente div vengono temporaneamente scritti i contenuti poi passati a html2canvas -->
    <div id="myDiv" style="background-color: lightgray; padding: 30px"></div>
</mat-drawer-container>

</div>