

<mat-sidenav-container fullscreen>
  <mat-sidenav #start class="leftSidenav">
      <mat-nav-list>
          <a mat-list-item routerLink="alunni">
              <img src="../assets/grey/00Anagrafica.svg">
              <span>Lista Alunni</span>
          </a>
          <!-- <a mat-list-item routerLink="alunni/">
              <mat-icon>person</mat-icon>
              <span>Alunno</span>
          </a> -->
          <a mat-list-item routerLink="genitori">
            <img src="../assets/grey/03AnagraficaMaestri.svg">
              <span>Lista Genitori</span>
          </a>           
          <!-- <a mat-list-item routerLink="genitoreDetails">
            <mat-icon>person</mat-icon>
            <span>Genitore</span>
        </a>  -->

      </mat-nav-list>
  </mat-sidenav>
    <mat-sidenav position="end" #end class="rightSidenav">
        <mat-nav-list>
            <a mat-list-item>
                <img src="../assets/grey/08SchedaMaestro.svg">
                <span>Account</span>
            </a>
            <a mat-list-item>
                <img src="../assets/grey/10ModificaPassword.svg">
                <span>Modifica Password</span>
            </a>
            <a mat-list-item>
                <img src="../assets/grey/Logout.svg">
                <span>Logout</span>
            </a>
        </mat-nav-list>           
    </mat-sidenav>
  <mat-toolbar color="primary">
      <button mat-icon-button (click)="start.open()">
          <mat-icon>menu</mat-icon>
      </button>
      <span class="example-spacer"> SwappX</span>
      <button mat-icon-button (click)="end.open()">
        <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-container>

