<loading></loading>

<mat-sidenav-container fullscreen >

    <mat-toolbar [ngClass]="{'hidden-header': !isLoggedIn}">
        <button mat-icon-button (click)="start.open()" >
            <mat-icon>menu</mat-icon>
        </button>
        
        <!-- <div class="logo" >
            <img class="logo-img" src="../assets/logoscritta.svg">
        </div> -->
        <div class="logo" >
            <div class="logo-img2"></div>
        </div>
        <div style="position: absolute; right: 30px;">
            <button mat-icon-button [matMenuTriggerFor]="menu" >
                <!-- <mat-icon>account_circle</mat-icon> -->
                <mat-icon *ngIf="imgAccount == '' || imgAccount== null ">account_circle</mat-icon>
                <img #myImg *ngIf="imgAccount != '' && imgAccount != null " class="w40px  br200 bordered-white " [src]="imgAccount">        
            </button>
            
        </div>

    <!--            
        <button mat-icon-button (click)="end.open()">
            <mat-icon>more_vert</mat-icon>
        </button>
    -->
    </mat-toolbar>

    <mat-sidenav #start class="leftSidenav">

        <mat-nav-list >

            <div mat-list-item>
                <img  class="logo-img ml15 mt10" src="../assets/logoscrittaazzurro.svg">
            </div>
            <a mat-list-item routerLink="home" (click)="start.close()" >
                <img class="iconaMenuSidenav" src="../assets/home.svg">
                <span>Home</span>
            </a>

            <a mat-list-item routerLink="calendario" (click)="start.close()">
                <img class="iconaMenuSidenav" src="../assets/calendar.svg">
                <span>Calendario</span>
            </a>

            <mat-divider></mat-divider>
            <a mat-list-item routerLink="alunni" (click)="start.close()" >
                <img class="iconaMenuSidenav" src="../assets/alunniList.svg">
                <span>Alunni</span>
            </a>

            <a mat-list-item routerLink="iscrizioni" (click)="start.close()" >
                <img class="iconaMenuSidenav" src="../assets/iscrizioniList.svg">
                <span>Iscrizioni</span>
            </a>

            <a mat-list-item routerLink="genitori" (click)="start.close()">
                <img class="iconaMenuSidenav" src="../assets/genitoriList.svg">
                <span>Genitori</span>
            </a>  

            <a mat-list-item routerLink="persone" (click)="start.close()">
                <img class="iconaMenuSidenav" src="../assets/docentiList.svg">
                <span>Personale</span>
            </a>

            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header class="sidenav-expansion-panel-header">
                  <mat-panel-title>
                    <img class="iconaMenuSidenav mr10" src="../assets/classiMenu.svg">
                    <span class="fs16">Classi</span>
                  </mat-panel-title>
                  <mat-panel-description> </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-divider></mat-divider>
                
                <a mat-list-item routerLink="classi" (click)="start.close()">
                    <img class="iconaMenuSidenav" src="../assets/classiList.svg">
                    <span>Elenco Classi</span>
                </a> 

                <a mat-list-item routerLink="classi-dashboard" (click)="start.close()">
                    <img class="iconaMenuSidenav" src="../assets/classiDashboard.svg">
                    <span>Gestione Classi</span>
                </a>
                <mat-divider></mat-divider>
            </mat-expansion-panel>

              <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header class="sidenav-expansion-panel-header">
                  <mat-panel-title>
                    <img class="iconaMenuSidenav mr10" src="../assets/money.svg">
                    <span class="fs16">Ricavi</span>
                  </mat-panel-title>
                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <a mat-list-item routerLink="pagamenti" (click)="start.close()">
                    <img class="iconaMenuSidenav" src="../assets/pagamenti.svg">
                    <span>Elenco Pagamenti</span>
                </a> 
                <a mat-list-item routerLink="rette" (click)="start.close()">
                    <img class="iconaMenuSidenav" src="../assets/retteList.svg">
                    <span>Rette</span>
                </a> 
                <mat-divider></mat-divider>
              </mat-expansion-panel>


            <!-- <a mat-list-item routerLink="genitoreDetails">
            <mat-icon>person</mat-icon>
            <span>Genitore</span>
        </a>  -->


            <mat-divider></mat-divider>
            <!-- Utenti -->
            <a mat-list-item routerLink="users" (click)="start.close()" *ngIf="currUser && currUser.ruoloID >= 10">
            <!-- <a mat-list-item routerLink="users" (click)="start.close()"> -->
                <img class="iconaMenuSidenav" src="../assets/utentiList.svg">
                <span>Gestione Utenti</span>
            </a> 

            <a mat-list-item routerLink="impostazioni" (click)="start.close()"  style="position: absolute; bottom: 0;" *ngIf="currUser && (currUser.ruoloID == 5 || currUser.ruoloID >=10)">
                <img class="iconaMenuSidenav" src="../assets/settings.svg">
                <span>Impostazioni</span>
            </a>

        </mat-nav-list>
    </mat-sidenav>

    <mat-menu #menu  >
        <button mat-menu-item routerLink="profilo"  >
            <mat-icon>account_box</mat-icon>
            <span>{{userFullName}}</span>
        </button>

        <button mat-menu-item routerLink="change-psw" >
            <mat-icon>password</mat-icon>
            <span>Cambia password</span>
        </button>

        <button mat-menu-item (click)="logOut()"  >
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>

    
    <hr style="height: 48px"  [ngClass]="{'hidden-header': !isLoggedIn}"> 

    <router-outlet class="mt80"></router-outlet>
</mat-sidenav-container>




