

<mat-sidenav-container fullscreen >

    <mat-toolbar class="position-fixed" [ngClass]="{'hidden-swappx': !isLoggedIn}">
        <button mat-icon-button (click)="start.open()" >
            <mat-icon>menu</mat-icon>
        </button>
        
        <div class="logo">
            <img class="logo-img" src="../assets/logoscritta.svg">
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu" >
            <mat-icon>account_circle</mat-icon>
        </button>
    <!--            
        <button mat-icon-button (click)="end.open()">
            <mat-icon>more_vert</mat-icon>
        </button>
    -->
    </mat-toolbar>

    <mat-sidenav #start class="leftSidenav">
        
        <mat-nav-list (click)="start.close()"   >
            <a mat-list-item routerLink="alunni" >
                <img class="iconaMenuSidenav" src="../assets/alunniList.svg">
                <span>Elenco Alunni</span>
            </a>

            <a mat-list-item routerLink="genitori">
                <img class="iconaMenuSidenav" src="../assets/genitoriList.svg">
                <span>Elenco Genitori</span>
            </a>  

            <a mat-list-item routerLink="persone">
                <img class="iconaMenuSidenav" src="../assets/docentiList.svg">
                <span>Elenco Persone</span>
            </a>

            <a mat-list-item routerLink="classi">
                <img class="iconaMenuSidenav" src="../assets/classiList.svg">
                <span>Elenco Classi</span>
            </a> 

            <a mat-list-item routerLink="classi-dashboard">
                <img class="iconaMenuSidenav" src="../assets/classiDashboard.svg">
                <span>Gestione Classi</span>
            </a> 

            <a mat-list-item routerLink="pagamenti">
                <img class="iconaMenuSidenav" src="../assets/money.svg">
                <span>Pagamenti</span>
            </a> 
            <a mat-list-item routerLink="rette">
                <img class="iconaMenuSidenav" src="../assets/money.svg">
                <span>Rette</span>
            </a> 

            <!-- <a mat-list-item routerLink="genitoreDetails">
            <mat-icon>person</mat-icon>
            <span>Genitore</span>
        </a>  -->

        </mat-nav-list>
    </mat-sidenav>

    <mat-menu #menu  >
        <button mat-menu-item routerLink="/"  >
            <mat-icon>account_box</mat-icon>
            <span>Account</span>
        </button>
    
        <button mat-menu-item routerLink="about">
            <mat-icon>password</mat-icon>
            <span>Cambia Password</span>
        </button>
    
        <button mat-menu-item (click)="logOut()"  >
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>

    <hr style="height: 48px"  [ngClass]="{'hidden-swappx': !isLoggedIn}"> 

    <loading></loading>
    <router-outlet class="mt80"></router-outlet>
</mat-sidenav-container>

