<!-- {{iscrizioneID}} -->
<h1 class="_titolo-pagina">Pagella 
    <span class="fs16"><mat-button-toggle-group name="quadrimestre" value="1" (change)="quadClick($event)" #toggleQuad>
        <mat-button-toggle class="toggleQ" value="1" selected>1°</mat-button-toggle>
        <mat-button-toggle class="toggleQ" value="2">2°</mat-button-toggle>
    </mat-button-toggle-group>
    </span>
    Quadrimestre

    <div class="fs12">Data pagella: {{dtIns|date:"dd/MM/yyyy"}}</div>   
</h1>

<app-pagella-voto-edit 
    [pagellaID]="pagellaID" 
    [classeSezioneAnnoID]="classeSezioneAnnoID" 
    [iscrizioneID]="iscrizioneID"
    [periodo] = "periodo">
</app-pagella-voto-edit>

