
<table>
    <tr>
        <td class="_columnleft-dashboard">
            <mat-card style="height: 100%;" class="card mat-elevation-z8">
                <div class="_table-container">
                    <!-- idAnnoInput è la proprietà che passiamo A classiSezioniAnniList -->
                    <!-- annoId è la proprietà che riceviamo DA classiSezioniAnniList -->
                    <!-- [idAnnoInput] = "idAnnoInput"
                    [idClasseInput] = "idClasseInput" -->
                    <app-classi-sezioni-anni-list 
                        [dove] = "'classi-dashboard'"
                        (annoId)="annoIdEmitted($event)"
                        (classeId)="classeIdEmitted($event)">
                    </app-classi-sezioni-anni-list>
                </div>
            </mat-card>
        </td>
        <td class="_columnright-dashboard">
                <button mat-mini-fab aria-label="Iscrivi alunno alla Classe" class="_btn-addYellow" (click)="addAlunnoToClasse()" >
                    <img class="iconaMenu" src="../../../../assets/empty.svg" matTooltip="Iscrivi alunni alla classe" 
                    [@openClose]="isOpen ? 'open' : 'closed'" (mouseover)="mouseOver()" (mouseout)="mouseOut()">
                </button>
                <button mat-mini-fab aria-label="Rimuovi alunno dalla Classe" class="_btn-addRed" (click)="removeAlunnoFromClasse()">
                    <img class="iconaMenu" src="../../../../assets/alunnoMinus.svg" matTooltip="Rimuovi alunni selezionati dalla classe"  >
                </button>
                <button mat-mini-fab aria-label="Stampa Lista Alunni della Classe" matTooltip="esportaPdf" class="_btn-addBlu" (click)="creaPdf()">
                    <mat-icon>print</mat-icon>
                </button>
                <button mat-mini-fab aria-label="Stampa Lista Alunni della Classe" matTooltip="Promuovi" class="_btn-addGreen" (click)="promuovi()">
                    <mat-icon>school</mat-icon>
                </button>
                <mat-card class=" card mat-elevation-z8" style="height: 100%">
                    <div class="_table-container">
                        <!--<app-alunni-list [context] = "'classi-dashboard'" [idClasse]="idClasse"></app-alunni-list> -->
                        <app-iscrizioni-classe-list   [idClasse]="idClasse"></app-iscrizioni-classe-list>
                    </div>
                </mat-card>
           <!-- ipotesi component di dettaglio dell'alunno
            <tr>
                <mat-card class=" card mat-elevation-z8" style="height: 100%">
                    <div class="_table-container">
                        <app-alunno-edit></app-alunno-edit>
                    </div>
                </mat-card>
            </tr>
        -->
        </td>
    </tr>
<table>
