
<table>
    <tr>
        <td class="columnleft-dashboard">
            <mat-card style="height: 100%;" class="card mat-elevation-z8">
                <div class="table-container">
                    <app-classi-sezioni-anni-list 
                        [dove] = "'classi-dashboard'"
                        (annoId)="annoIdEmitted($event)"
                        (classeId)="classeIdEmitted($event)">
                    </app-classi-sezioni-anni-list>
                </div>
            </mat-card>
        </td>
        <td class="columnright-dashboard">
            <button mat-mini-fab aria-label="Aggiungi Alunno alla Classe" class="btn btn-addYellow" (click)="addAlunnoToClasse()" >
                <img class="iconaMenu" src="../../../../assets/empty.svg" matTooltip="Aggiungi alunni alla classe" 
                [@openClose]="isOpen ? 'open' : 'closed'" (mouseover)="mouseOver()" (mouseout)="mouseOut()">
            </button>
            <button mat-mini-fab aria-label="Aggiungi Alunno alla Classe" class="btn btn-addRed" (click)="removeAlunnoFromClasse()">
                <img class="iconaMenu" src="../../../../assets/alunnoMinus.svg" matTooltip="Rimuovi alunni selezionati dalla classe"
                >
            </button>
            <button mat-mini-fab aria-label="Stampa Lista Alunni della Classe" matTooltip="esportaPdf" class="btn btn-addBlu" (click)="creaPdf()">
                <mat-icon>print</mat-icon>
            </button>
            <button mat-mini-fab aria-label="Stampa Lista Alunni della Classe" matTooltip="Promuovi" class="btn btn-addGreen" (click)="promuovi()">
                <mat-icon>school</mat-icon>
            </button>
            <mat-card class=" card mat-elevation-z8" style="height: 100%">
                <div class="table-container">
                    <app-alunni-list [context] = "'classi-dashboard'" [idClasse]="idClasse"></app-alunni-list>
                </div>
            </mat-card>
        </td>
    </tr>
<table>
