
<table>
    <tr>
        <td class="_columnleft-dashboard">
            <!-- <mat-card style="height: 100%;" class="card mat-elevation-z8"> -->
                <div class="_table-container">
                    <app-classi-sezioni-anni-list 
                        [dove] = "'classi-dashboard'"
                        (annoID)="annoIdEmitted($event)"
                        (classeSezioneAnnoID)="classeSezioneAnnoIDEmitted($event)"
                        (docenteId)="docenteIdEmitted($event)" >
                    </app-classi-sezioni-anni-list>
                </div>
            <!-- </mat-card> -->
        </td>
        <td class="_columnright-dashboard border-left">

            <mat-tab-group (selectedTabChange)="selectedTabValue($event)">
                <mat-tab  label="Alunni">
                    <button mat-mini-fab aria-label="Iscrivi alunno alla Classe" class="_btn-addAlunno" (click)="addAlunnoToClasse()" >
                        <img class="iconaMenu" src="../../../../assets/alunnoPlus.svg">
                        <!-- <img class="iconaMenu" src="../../../../assets/empty.svg"
                        [@openCloseAlu]="isOpen ? 'openAddAlu' : 'closedAddAlu'" (mouseover)="mouseOver()" (mouseout)="mouseOut()"> -->
                    </button>
                    <button mat-mini-fab aria-label="Rimuovi alunno dalla Classe" class="_btn-Red" (click)="removeAlunnoFromClasse()">
                        <img class="iconaMenu" src="../../../../assets/alunnoMinus.svg">
                    </button>
                    <button mat-mini-fab aria-label="Stampa Lista Alunni della Classe" matTooltip="esporta Pdf" class="_btn-Blu" (click)="creaPdfIscrizioni()">
                        <img class="iconaMenu" src="../../../../assets/PDFiconGreys.svg">
                    </button>
                    <button mat-mini-fab aria-label="Promuovi alunni" matTooltip="Promuovi" class="_btn-Green" (click)="promuovi()">
                        <img class="iconaMenu" src="../../../../assets/promuovi_white.svg">
                    </button>
                    <!-- <mat-card class=" card mat-elevation-z8" style="height: 100%"> -->
                        <div class="_table-container">
                            <app-iscrizioni-classe-list  
                                [dove]="'lista-alunni'" 
                                [classeSezioneAnnoID]="classeSezioneAnnoID">
                            </app-iscrizioni-classe-list>
                        </div>
                    <!-- </mat-card> -->
                </mat-tab>
                <mat-tab  label="Materie & Docenti">
                    <button mat-mini-fab aria-label="Aggiungi Docente alla Classe" class="_btn-addDocente" (click)="addDocenteToClasse()" >
                        <img class="iconaMenu" src="../../../../assets/docentePlus.svg">
                        <!-- <img class="iconaMenu" src="../../../../assets/empty.svg"
                        [@openCloseDoc]="isOpen ? 'openAddDoc' : 'closedAddDoc'" (mouseover)="mouseOver()" (mouseout)="mouseOut()"> -->
                    </button>
                    <button mat-mini-fab aria-label="Stampa Lista Docenti della Classe" matTooltip="esporta Pdf" class="_btn-Blu" (click)="creaPdfDocenze()">
                        <img class="iconaMenu" src="../../../../assets/PDFiconGreys.svg">
                    </button>
                    <button mat-mini-fab aria-label="Rimuovi docente dalla Classe" class="_btn-Red" (click)="removeDocenteFromClasse()">
                        <img class="iconaMenu" src="../../../../assets/docenteMinus.svg">
                    </button>

                    <!-- <mat-card class=" card mat-elevation-z8" style="height: 100%"> -->
                        <div class="_table-container">
                            <app-docenze-list   [classeSezioneAnnoID]="classeSezioneAnnoID"></app-docenze-list>
                        </div>
                    <!-- </mat-card> -->
                </mat-tab>
                <!-- <mat-tab  label="Orario" (selectedTabChange)="rerenderCAL()"> -->
                <mat-tab  label="Orario Per Classe">
                    <app-lezioni-calendario [classeSezioneAnnoID]="classeSezioneAnnoID" [docenteID] = "docenteID" [dove]="'orario'" #orarioLezioniDOM></app-lezioni-calendario>
                </mat-tab>
                <mat-tab  label="Orario Per Docente">
                    <app-lezioni-calendario [classeSezioneAnnoID]="classeSezioneAnnoID" [docenteID] = "docenteID" [dove]="'orarioDocente'" #orarioDocenteDOM></app-lezioni-calendario>
                </mat-tab>

                <mat-tab  label="Pagelle">
                    <table>
                        <tr>
                            <td class="_cell-align-top w300px">
                                <app-iscrizioni-classe-list   
                                    [classeSezioneAnnoID]="classeSezioneAnnoID"  
                                    [dove]="'pagella'"
                                    (iscrizioneId)="iscrizioneIdEmitted($event)">
                                </app-iscrizioni-classe-list>
                            </td>
                            <td class="_cell-align-top pl10 border-left w750px">
                                <app-pagella-voto-edit
                                    [iscrizioneID]="iscrizioneID">
                                </app-pagella-voto-edit>
                            </td>
                        </tr>
                    </table>
                </mat-tab>
            </mat-tab-group>
                
           <!-- ipotesi component di dettaglio dell'alunno
            <tr>
                <mat-card class=" card mat-elevation-z8" style="height: 100%">
                    <div class="_table-container">
                        <app-alunno-edit></app-alunno-edit>
                    </div>
                </mat-card>
            </tr>
        -->
        </td>
    </tr>
<table>
