<div class="w90 ma">
    <div *ngIf="tipo=='Dati Economici'">
        <table class="ma _tabellaquote" *ngIf="iscrizione">
            <tr>
              <th>Nome</th>
              <th>Cognome</th>
              <th>Classe</th>
              <th>Quota annua</th>
            </tr>
            <tr>
              <td>{{iscrizione.alunno.persona.nome}}</td>
              <td>{{iscrizione.alunno.persona.cognome}}</td>

              <td>{{iscrizione.classeSezioneAnno.classeSezione.classe!.descrizione2}}</td>
              <td>DA ESTRARRE</td>
            </tr>
        </table>

    </div>
<form [formGroup] = "formConsensi">

    <table mat-table class="_table-row-low transparent w100" 
           [dataSource]="matDataSource">

        <!-- **************************   NG-CONTAINERs: COLONNE   ******************* -->
        <ng-container matColumnDef="domanda">
            <th mat-header-cell *matHeaderCellDef ></th>
            <td mat-cell 
                *matCellDef="let element;  let j = index;"
                [attr.colspan] = "element.numOpzioni == 0? 3: 1"
                [ngClass]="{'_unacolonna': element.numOpzioni == 0}"


                >{{element.domanda}}</td>
        </ng-container>

        <!-- [ngStyle]="{'display': element.numOpzioni == 0 ? 'none': 'block'}" -->

        <ng-container matColumnDef="opzioni" >
            <th mat-header-cell *matHeaderCellDef ></th>
            
            <td mat-cell 
                *matCellDef="let element;  let j = index;" 
                [ngClass]="{'invisible': element.numOpzioni == 0}"
                >

                <mat-radio-group [formControlName]="element.id" 
                    *ngIf="element.numOpzioni != 1" 
                    aria-label="Select an option">
                    <mat-radio-button *ngIf="element.numOpzioni > 0" value="1">{{element.testo1}}</mat-radio-button>
                    <mat-radio-button *ngIf="element.numOpzioni > 1" value="2">{{element.testo2}}</mat-radio-button>
                    <mat-radio-button *ngIf="element.numOpzioni > 2" value="2">{{element.testo3}}</mat-radio-button>
                    <mat-radio-button *ngIf="element.numOpzioni > 3" value="3">{{element.testo4}}</mat-radio-button>
                    <mat-radio-button *ngIf="element.numOpzioni > 4" value="4">{{element.testo5}}</mat-radio-button>
                </mat-radio-group>

                <mat-checkbox  [formControlName]="element.id" 
                                *ngIf="element.numOpzioni == 1"  
                                
                >{{element.testo1}}</mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="allegato">
            <th mat-header-cell *matHeaderCellDef ></th>
            <td mat-cell  
                class="_blue _underline pointer" 
                *matCellDef="let element;  let j = index;" 
                (click) = "download(element.risorsa!.id)"
                [ngClass]="{'invisible': element.numOpzioni == 0}"
                >{{element.risorsa? element.risorsa.nomeFile: ''}}</td>
        </ng-container>

        <!-- **************************   MAT-HEADER-ROW   ******************* -->
        <tr mat-header-row  class="_table-title-low" *matHeaderRowDef="displayedColumns;"></tr>
        
        <!-- **************************   MAT-ROW   ******************* -->

        <tr mat-row *matRowDef="let element;columns: displayedColumns" class="element-row"></tr>

    </table>

  </form>
</div>
