<form  *ngIf="(retta$ | async)" [formGroup] = "form" >
    <mat-form-field class="cellRetta backgrey center" >
        <input matInput type="number"
        (change) = "save()"
        formControlName="totDefault" #inpQuotaD>
    </mat-form-field>

    <mat-form-field class="cellRetta backgrey center">
        <input matInput type="number"
        formControlName="totConcordate"
        (change) = "save()"
        #inpQuotaC>
    </mat-form-field>

    <mat-form-field class="cellRetta backgrey center">
        <input matInput type="number"
        formControlName="totPagamenti"
        readonly>
    </mat-form-field>
</form>