<form  [formGroup] = "form" >
    <mat-form-field class="cellRetta backgrey center" >
        <input matInput type="number"
        (change) = "save()"
        formControlName="quotaDefaultAnno" #inpQuotaD>
    </mat-form-field>

    <mat-form-field class="cellRetta backgrey center">
        <input matInput type="number"
        formControlName="quotaConcordataAnno"
        (change) = "save()"
        #inpQuotaC
        readonly>
    </mat-form-field>

    <mat-form-field class="cellRetta backgrey center">
        <input matInput type="number"
        formControlName="totPagamentiAnno"
        readonly>
    </mat-form-field>
</form>