<button mat-mini-fab aria-label="Strumenti" matTooltip="Strumenti" class="_btn-toolbar _btn-pos-top-1" (click)="toolSidenav.toggle();" >
    <mat-icon>construction</mat-icon>
</button>

<button mat-mini-fab aria-label="Nuova anagrafica" matTooltip="Nuova anagrafica" class="_btn-add _btn-pos-right-1 _btn-pos-top-1" (click)="addRecord()">
    <mat-icon>add</mat-icon>
</button>

<button mat-mini-fab aria-label="Filtri Avanzati" matTooltip="Filtri Avanzati" class="_btn-add _btn-pos-right-2 _btn-pos-top-1" [ngClass]="{'_btn-add-red': !apppersonefilter.formClean}" (click)="filterSidenav.toggle(); resetFiltri()" >
    <mat-icon>filter_alt</mat-icon>
</button>

<mat-drawer-container [hasBackdrop]="false" style="display: inline">
    <mat-drawer position="end" #filterSidenav class="filterSidenav"  [mode]="'side'">
        <!-- app alunni filter deve dialogare con il suo "sibling" app alunni list, allora metto un riferimento (#appalunnilist) e passo una variabile in input a app-alunni-filter -->
        <app-persone-filter [personeListComponent] = "apppersonelist" #apppersonefilter></app-persone-filter>    
    </mat-drawer>

    <mat-drawer position="start" #toolSidenav class="toolSidenav"  [mode]="'side'">
        <app-toolbar [rptTitle]="apppersonelist.rptTitle" 
                     [rptFieldsToKeep]="apppersonelist.rptFieldsToKeep" 
                     [rptColumnsNames]="apppersonelist.rptColumnsNames" 
                     [rptData]="apppersonelist.matDataSource.data"
                     [rptFileName]="apppersonelist.rptFileName"
                     [columnsComponent] = "apppersonelist"
                     [tableName] = "'PersoneList'"
                     (refreshColumns)="refreshChildCols()"
                     [emailsYN] = "true"
                     [emailAddresses] = "apppersonelist.emailAddresses"
                     >
        </app-toolbar>
    </mat-drawer>

    <mat-drawer-content>
        <app-persone-list [personeFilterComponent] = "apppersonefilter"
                          [dove] = "'persone-page'"
                          (openDrawer) = "openDrawer()"
                          #apppersonelist>
        </app-persone-list>
    </mat-drawer-content>
</mat-drawer-container>