    <mat-nav-list>
        <div class="filtriAvanzati pt60">

            <div mat-list-item style="text-align: center; margin-bottom: 10px;">
                Filtri Avanzati
            </div>
            <mat-form-field class="filter ml12">
                <mat-label>Nome Alunno</mat-label>
                <input matInput [formControl]="nomeFilter">
            </mat-form-field>
    
            <mat-form-field class="filter ml12">
                <mat-label>Cognome Alunno</mat-label>
                <input matInput [formControl]="cognomeFilter">
            </mat-form-field>

            <mat-form-field class="filter ml12">
                <mat-label>Nome Cognome Genitore</mat-label>
                <input matInput [formControl]="nomeCognomeGenitoreFilter">
            </mat-form-field>

            <mat-form-field class="filter ml12">
                <mat-label>Anno di Nascita</mat-label>
                <input matInput [formControl]="annoNascitaFilter">
            </mat-form-field>

            <mat-form-field class="filter ml12">
                <mat-label>Indirizzo</mat-label>
                <input matInput [formControl]="indirizzoFilter">
            </mat-form-field>

            <mat-form-field class="filter ml12">
                <mat-label>Comune</mat-label>
                <input matInput [formControl]="comuneFilter">
            </mat-form-field>

            <mat-form-field class="filter ml12">
                <mat-label>Prov</mat-label>
                <input matInput [formControl]="provFilter">
            </mat-form-field>

            <mat-form-field class="filter ml12">
                <mat-label>email</mat-label>
                <input matInput [formControl]="emailFilter">
            </mat-form-field>

            <mat-form-field class="filter ml12">
                <mat-label>telefono</mat-label>
                <input matInput [formControl]="telefonoFilter">
            </mat-form-field>
    
            <div class="ml12 mt10">
                <button mat-button matSuffix class="w180px ml15" mat-stroked-button aria-label="Clear" (click)="resetAllInputsAndClearFilters()" >
                    Pulisci Filtri
                </button>
            </div>
    
        </div>
        <!-- <hr> -->
        <!-- <mat-list-item> -->
        <!-- <mat-icon (clic)="savePDF()">printer</mat-icon>-->
            <!-- <span class="descMenu">Stampa</span>
        </mat-list-item >
        <mat-list-item >
            <mat-icon>file_download</mat-icon>
            <span class="descMenu">Scarica</span>
        </mat-list-item > -->
    </mat-nav-list>   

