<mat-card appearance="outlined" class="form-card">
    <mat-card-content>
        <form *ngIf="(obiettivo$ | async) || emptyForm" class="data-form flex-form" [formGroup] = "form">
            <div class="center">

                <img class="iconaMenuBig" src="./assets/obiettivo_edit.svg">

                <button mat-icon-button aria-label="Back" matTooltip="Chiudi" class="_btn-toolbar-close" mat-dialog-close></button>

                <button *ngIf="obiettivoID" mat-mini-fab aria-label="Back" matTooltip="Back" class="btn ml10"
                        [disabled]= "!form.valid" 
                        (click)="loadData()" >
                    <mat-icon>restart_alt</mat-icon>
                </button>

                <button mat-mini-fab aria-label="Salva" matTooltip="Salva" class="btn ml10"
                        [disabled]= "!form.valid" 
                        (click)="save()" >
                    <mat-icon>save</mat-icon>
                </button>

                <button *ngIf="obiettivoID" mat-mini-fab aria-label="Cancella" matTooltip="Cancella" class="btn ml10"
                        [disabled]= "!form.valid" 
                        (click)="delete()" >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

            <mat-grid-list class="mt20" [cols]="1" rowHeight="60px" >
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Classe</mat-label>
                        <mat-select required formControlName="classeID">
                            <mat-option *ngFor="let element of (obsClassi$ | async)" [value]="element.id">
                            {{element.descrizione2}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>a.s.</mat-label>
                        <mat-select required formControlName="annoID">
                            <mat-option *ngFor="let element of (obsAnni$ | async)" [value]="element.id">
                            {{element.annoscolastico}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Materia</mat-label>
                        <mat-select required formControlName="materiaID">
                            <mat-option *ngFor="let element of (obsMaterie$ | async)" [value]="element.id">
                            {{element.descrizione}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list [cols]="3">

                <mat-grid-tile [colspan] = "3">
                    <mat-form-field class="mt20 w100">
                        <mat-label >Descrizione Obiettivo</mat-label>
                        <textarea class="_noresize" matInput formControlName="descrizione"></textarea>
                        <mat-error *ngIf="form.controls.descrizione.errors?.required"> Campo obbligatorio</mat-error>
                    </mat-form-field>
                </mat-grid-tile>

            </mat-grid-list>

        </form>
    </mat-card-content>
</mat-card>
