<button mat-mini-fab aria-label="Strumenti" matTooltip="Strumenti" class="_btn-toolbar _btn-pos-top-0" (click)="toolSidenav.toggle();" >
    <mat-icon>construction</mat-icon>
</button>

<!-- <button mat-mini-fab aria-label="Nuova anagrafica" matTooltip="Nuova anagrafica" class="_btn-add _btn-pos-right-1 _btn-pos-top-1" (click)="addRecord()">
    <mat-icon>add</mat-icon>
</button> -->

<button mat-mini-fab aria-label="Filtri Avanzati" matTooltip="Filtri Avanzati" class="_btn-add _btn-pos-right-1 _btn-pos-top-0" [ngClass]="{'_btn-add-red': !appimpostazioneparametrifilter.formClean}" (click)="filterSidenav.toggle(); " >
    <mat-icon>filter_alt</mat-icon>
</button>

<mat-drawer-container [hasBackdrop]="false" style="min-height: 91%">
    <mat-drawer position="end" #filterSidenav class="filterSidenav"  [mode]="'side'">
        <app-impostazione-parametri-filter [impostazioneparametriListComponent] = "appimpostazioneparametrilist" #appimpostazioneparametrifilter></app-impostazione-parametri-filter>    
    </mat-drawer>

    <mat-drawer position="start" #toolSidenav class="toolSidenav"  [mode]="'side'">
        <app-toolbar [rptTitle]="appimpostazioneparametrilist.rptTitle" 
                     [rptFieldsToKeep]="appimpostazioneparametrilist.rptFieldsToKeep" 
                     [rptColumnsNames]="appimpostazioneparametrilist.rptColumnsNames" 
                     [rptData]="appimpostazioneparametrilist.matDataSource.data"
                     [rptFileName]="appimpostazioneparametrilist.rptFileName"
                     [columnsComponent] = "appimpostazioneparametrilist"
                     [tableName] = "'ImpostazioneParametriList'"
                     (refreshColumns)="refreshChildCols()"
                     [emailsYN] = "false"
                     >
        </app-toolbar>
    </mat-drawer>

    <mat-drawer-content>
        <app-impostazione-parametri-list
                           [impostazioneparametriFilterComponent] = "appimpostazioneparametrifilter" 
                           (openDrawer) = "openDrawer()"
                           #appimpostazioneparametrilist >
        </app-impostazione-parametri-list>
    </mat-drawer-content>
</mat-drawer-container>