<form *ngIf="(docente$ | async) || emptyForm" class="data-form flex-form" [formGroup] = "form">
    <mat-label class="frameLabelRel t10">Dati del docente</mat-label>
    
    <!-- <button mat-mini-fab aria-label="Cancella" matTooltip="Cancella" class="btn _pos-absolute r20 mt5 pointer"  > -->
        <mat-icon class="_pos-absolute r20 mt5 pointer topZIndex" (click)="deleteRole()">delete</mat-icon>
    <!-- </button> -->

    <mat-grid-list class="no-overflowx" [cols]="3" rowHeight="60px">
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Abilitazione(?)</mat-label>
                <input matInput type="text" formControlName="scuolaProvenienza">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Indirizzo Sc. provenienza</mat-label>
                <input matInput type="text" formControlName="indirizzoScuolaProvenienza">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile class="tileCk">

        </mat-grid-tile>
    </mat-grid-list>

</form>