.element-row:hover {
    background: whitesmoke;
}

.border-bottom {
    border-bottom: 1px dashed #1B3663;
}

p {
    font-size: 12px;
    margin-bottom: 5px !important;
}

.highlight {
    background-color: rgba(173, 173, 173, 0.142);
}

.highlightConc {
    color: rgb(255, 136, 0) !important;
}

.highlightPagL {
    background-color: rgb(212, 68, 68);
    color: white;
}

.highlightPag {
    color: rgb(255, 0, 0) !important;
    /* background-image: linear-gradient(to bottom , #FFFFFF 0%, #5993b457 80%); */
}

.center {
    text-align: center;
    justify-content:center;
  }

.hide {
    display: none;
}


/* */
.square {
    border: 1px solid rgb(182, 182, 182);
    padding: 8px;
    border-radius: 4px;
    margin-left: 20px;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #044D7E;
}

/deep/ .mat-slide-toggle-bar {
    height: 10px !important;
    width: 24px !important;
  }
/deep/ .mat-slide-toggle-thumb {
    height: 15px !important;
    width: 15px !important;
  }

/deep/ .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(10px,0,0) !important;
}

/deep/ .mat-slide-toggle-thumb-container {
    width: 12px !important;
    height: 12px !important;
}

/* ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-label { margin-top:-15px; }
::ng-deep label.ng-star-inserted { transform: translateY(-0.59375em) scale(.75) !important; } */

/deep/ .mat-form-field-infix {
    border: 0px !important;
}

