.element-row:hover {
    background: whitesmoke;
}

.border-bottom {
    border-bottom: 1px dashed #1B3663;
}

.highlight {
    background-color: rgba(190, 190, 190, 0.224);

    
}

.center {
    text-align: center;
    justify-content:center;
    
  }