
<h1 class="page-title">Elenco Classi</h1>

<button mat-mini-fab aria-label="Aggiungi Classe" class="button-add" color="primary" (click)="addRecord()">
    <mat-icon>add</mat-icon>
</button>

<!-- **************************   FILTER   ******************* -->
<mat-form-field class="ml20 topZIndex">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="" #filterInput>
</mat-form-field>

<!-- **************************   PAGINATOR   ******************* -->
<mat-paginator class="transparent" [pageSize]="10" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>


<!-- **************************   MAT-TABLE   ******************* -->
<mat-table class="transparent" [dataSource]="matDataSource"
    matSort
    [matSortActive]="matSortActive"
    [matSortDirection] = "'asc'"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)" (window:resize)="onResize($event)"
    >
    <!-- **************************   NG-CONTAINERs: COLONNE   ******************* -->
    <ng-container matColumnDef="actionsColumn">
        <mat-header-cell *matHeaderCellDef cdkDrag></mat-header-cell>
        <mat-cell  *matCellDef="let element;  let j = index;"> 
            <mat-icon (click)="openDetail(element.id)" class="pointer">account_circle</mat-icon>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header >id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="classeSezione.sezione">
        <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header >sezione</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.classeSezione.sezione}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="classeSezione.classeID">
        <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header >classeID</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.classeSezione.classeID}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="classeSezione.classe.descrizioneBreve">
        <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header >Descrizione Breve</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.classeSezione.classe.descrizioneBreve}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="classeSezione.classe.descrizione">
        <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header >Descrizione 1</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.classeSezione.classe.descrizione}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="classeSezione.classe.descrizione2">
        <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header >Descrizione 2</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.classeSezione.classe.descrizione2}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="anno.annoscolastico">
        <mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header >Anno Scolastico</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.anno.annoscolastico}}</mat-cell>
    </ng-container>
    
    <!-- **************************   MAT-HEADER-ROW   ******************* -->
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    
    <!-- **************************   MAT-ROW   ******************* -->
    <mat-row *matRowDef="let element;columns: displayedColumns"
         class="element-row"
         (contextmenu)="onRightClick($event, element)" >
    </mat-row>

</mat-table>


<!-- ***********************  MENU RIGHT CLICK ****************** -->
<div style="visibility: hidden; position: fixed;" 
    [style.left]="menuTopLeftPosition.x" 
    [style.top]="menuTopLeftPosition.y" 
    [matMenuTriggerFor]="rightMenu">
</div> 

<mat-menu #rightMenu="matMenu"> 
    <ng-template matMenuContent let-item="item"> 
        <mat-label class="rightMenuTitle">{{item.classeSezione.descrizione2}} Sez.{{item.sezione | uppercase}}</mat-label> 
        <!-- <button mat-menu-item routerLink="/genitori" [queryParams]="{ idAlunno: item.id }">Genitori/Tutori</button>  -->
        <button mat-menu-item (click)="openDetail(item.id)">Dettaglio Classe</button> 
        <button mat-menu-item>Alunni della classe</button>
        <button mat-menu-item>Quote e Pagamenti</button>
    </ng-template> 
</mat-menu> 