<div class="flex-container">
    <div class="flex-item">
        <app-messaggi></app-messaggi>
    </div>
    <div class="flex-item">
        <app-classi-sezioni-anni-summary></app-classi-sezioni-anni-summary>
    </div>
    <div class="flex-item">
        <app-rettepagamenti-summary></app-rettepagamenti-summary>
    </div>
</div>


<!-- <mat-grid-list cols="2" >

    <mat-grid-tile *ngIf="currUser.ruolo > 2">        
        <app-classi-sezioni-anni-summary></app-classi-sezioni-anni-summary>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="currUser.ruolo > 3">
        <app-rettepagamenti-summary></app-rettepagamenti-summary>
    </mat-grid-tile>
  </mat-grid-list>

</div> -->