
    <form [formGroup]="form" autocomplete="off" (submit)="onSubmit()" style="overflow-y: hidden" >
        <mat-label>RESET PASSWORD</mat-label>
        <div>
            <mat-form-field>
                <input matInput required type="password" placeholder="Password" formControlName="Password">
                <mat-error *ngIf="form.controls.Password.dirty &&  form.controls.Password.hasError('minlength')" >Min 4 caratteri</mat-error>
                <mat-error *ngIf="form.controls.Password.dirty &&  form.controls.Password.hasError('maxlength')" >Max 18 caratteri</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput required type="password" placeholder="Conferma Password" formControlName="ConfirmPassword">
                <mat-error *ngIf="form.controls.ConfirmPassword.dirty && form.controls.ConfirmPassword.hasError('not_the_same')" >Le due password non corrispondono</mat-error>
            </mat-form-field>
        </div>
        <div class="mt10" >
            <button type="submit" mat-stroked-button [disabled]="form.invalid">
            Conferma
            </button>
        </div>
    </form>
    
    