    <h1 *ngIf="showPageTitle" class="_titolo-pagina">Verbali</h1>

    <!-- **************************   FILTER   ******************* -->
    <mat-form-field *ngIf="showTableRibbon" class="ml20 topZIndex">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #filterInput>
    </mat-form-field>    
    
    <!-- **************************   PAGINATOR   ******************* -->
    <mat-paginator *ngIf="showTableRibbon" class="transparent" [pageSize]="15" [pageSizeOptions]="[15, 50]" showFirstLastButtons></mat-paginator>

    <!-- **************************   MAT-TABLE   ******************* -->
    <table mat-table matSort class="_table-row-low transparent w100" 
        [dataSource]="matDataSource"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)">

        <!-- **************************   NG-CONTAINERs: COLONNE   ******************* -->
        <ng-container matColumnDef="actionsColumn">
            <th mat-header-cell *matHeaderCellDef cdkDrag></th>
            <td mat-cell  *matCellDef="let element;  let j = index;"> 
                <img (click)="openDetail(element)" class="iconaMenu pointer" src="../assets/verbale_edit.svg">
            </td>
        </ng-container>

        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header >Creato da</th>
            <td mat-cell *matCellDef="let element" [innerHTML]="(element.persona.nome + ' ' + element.persona.cognome) | highlight:filterValue"></td>
        </ng-container>

        <ng-container matColumnDef="tipoVerbaleID">
            <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header >Tipo</th>
            <td mat-cell *matCellDef="let element" [innerHTML]="(element.tipoVerbaleID) | highlight:filterValue"></td>
        </ng-container>

        <ng-container matColumnDef="dtVerbale">
            <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header >Data</th>
            <td mat-cell *matCellDef="let element" [innerHTML]="(element.dtVerbale) | highlightDate:filterValue"></td>
        </ng-container>

        <ng-container matColumnDef="classeSezioneAnnoID">
            <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header >Classe</th>
            <td mat-cell *matCellDef="let element" [innerHTML]="(element.classeSezioneAnnoID) | highlight:filterValue"></td>
        </ng-container>

        <ng-container matColumnDef="titolo">
            <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header >Titolo</th>
            <td mat-cell *matCellDef="let element" [innerHTML]="(element.titolo) | highlight:filterValue"></td>
        </ng-container>

        <ng-container matColumnDef="contenuti">
            <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header >Contenuti</th>
            <td mat-cell *matCellDef="let element" [innerHTML]="(element.contenuti) | highlight:filterValue"></td>
        </ng-container>
    
        <!-- **************************   MAT-HEADER-ROW   ******************* -->
        <tr mat-header-row  class="_table-title-low" *matHeaderRowDef="displayedColumns;"></tr>
        
        <!-- **************************   MAT-ROW   ******************* -->
        <tr mat-row *matRowDef="let element;columns: displayedColumns" class="element-row"></tr>
    </table>


