<button mat-mini-fab aria-label="Nuova anagrafica" matTooltip="Nuova anagrafica" class="button-add" 
(click)="addRecord()">
    <mat-icon>add</mat-icon>
</button>

<button mat-mini-fab aria-label="Filtri Avanzati" matTooltip="Filtri Avanzati" class="button-filter" 
(click)="drawerFiltro.toggle(); resetFiltri()">
    <mat-icon>filter_alt</mat-icon>
</button>

<mat-drawer-container [hasBackdrop]="false" style="height: 90%">
    <mat-drawer position="end" #drawerFiltro class="rightSidenav"  [mode]="'side'">
        <!-- <mat-icon class="closeIcon pointer" (click)="end.close()">close</mat-icon> -->
        <!-- app alunni filter deve dialogare con il suo "sibling" app alunni list, allora metto un riferimento (#appalunnilist) e passo una variabile in input a app-alunni-filter -->
        <app-alunni-filter [alunniListComponent] = "appalunnilist" #appalunnifilter></app-alunni-filter>    
    </mat-drawer>

    <mat-drawer-content>
        <app-alunni-list [alunniFilterComponent] = "appalunnifilter" #appalunnilist></app-alunni-list>
    </mat-drawer-content>
</mat-drawer-container>