<button mat-mini-fab aria-label="Strumenti" matTooltip="Strumenti" class="_btn-toolbar" (click)="sidenav2.toggle();" >
    <mat-icon>construction</mat-icon>
</button>

<button mat-mini-fab aria-label="Nuova anagrafica" matTooltip="Nuova anagrafica" class="_btn-add" (click)="addRecord()">
    <mat-icon>add</mat-icon>
</button>

<button mat-mini-fab aria-label="Filtri Avanzati" matTooltip="Filtri Avanzati" class="_btn-filter" (click)="sidenav.toggle(); resetFiltri()" >
    <mat-icon>filter_alt</mat-icon>
</button>

<mat-drawer-container [hasBackdrop]="false" style="min-height: 91%">
    <mat-drawer position="end" #sidenav class="rightSidenav"  [mode]="'side'">
        <!-- app alunni filter deve dialogare con il suo "sibling" app alunni list, allora metto un riferimento (#appalunnilist) e passo una variabile in input a app-alunni-filter -->
        <app-alunni-filter [alunniListComponent] = "appalunnilist" #appalunnifilter></app-alunni-filter>    
    </mat-drawer>

    <mat-drawer position="start" #sidenav2 class="leftSidenav2"  [mode]="'side'">
        <app-toolbar 
            [rptTitle]="appalunnilist.rptTitle" 
            [rptFieldsToKeep]="appalunnilist.rptFieldsToKeep" 
            [rptColumnsNames]="appalunnilist.rptColumnsNames" 
            [rptData]="appalunnilist.matDataSource.data"
            [columnsComponent] = "appalunnilist">
        </app-toolbar>
    </mat-drawer>

    <mat-drawer-content>
        <app-alunni-list
            [alunniFilterComponent] = "appalunnifilter"
            [context] = "'alunni-page'"
            (openDrawer) = "openDrawer()"
            #appalunnilist  
            >
        </app-alunni-list>
    </mat-drawer-content>
</mat-drawer-container>