<button mat-mini-fab aria-label="Strumenti" matTooltip="Strumenti" class="_btn-toolbar" (click)="sidenav2.toggle()" >
    <mat-icon>construction</mat-icon>
</button>

<!-- <button mat-mini-fab aria-label="Nuova anagrafica" matTooltip="Nuova anagrafica" class="_btn-add" (click)="addRecord()">
    <mat-icon>add</mat-icon>
</button> -->

<button mat-mini-fab aria-label="Filtri Avanzati" matTooltip="Filtri Avanzati" class="_btn-add" (click)="sidenav.toggle(); resetFiltri()" >
    <mat-icon>filter_alt</mat-icon>
</button>

<mat-drawer-container [hasBackdrop]="false" style="min-height: 91%">
    <mat-drawer position="end" #sidenav class="rightSidenav"  [mode]="'side'">
        <app-iscrizioni-filter [iscrizioniListComponent] = "appiscrizionilist" #appiscrizionifilter></app-iscrizioni-filter>    
    </mat-drawer>

    <mat-drawer position="start" #sidenav2 class="leftSidenav2"  [mode]="'side'">
        <app-toolbar 
            [rptTitle]="appiscrizionilist.rptTitle" 
            [rptFieldsToKeep]="appiscrizionilist.rptFieldsToKeep" 
            [rptColumnsNames]="appiscrizionilist.rptColumnsNames" 
            [rptData]="appiscrizionilist.matDataSource.data"
            [columnsComponent] = "appiscrizionilist">
        </app-toolbar>
    </mat-drawer>

    <mat-drawer-content>
        <app-iscrizioni-list
            [iscrizioniFilterComponent] = "appiscrizionifilter"
            #appiscrizionilist >
            <!-- (openDrawer) = "openDrawer()" -->
        </app-iscrizioni-list>
    </mat-drawer-content>
</mat-drawer-container>