<mat-grid-list class="ma w50 bordered-grey p5 mt20" [cols]="12" rowHeight="20px">
    <mat-grid-tile *ngFor="let mese of mesiArr; let i = index" >
        <mat-label>{{placeholderMeseArr[i]}}</mat-label>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let placeholderMese of placeholderMeseArr; let i = index" >
        <mat-checkbox color="warn" #QuoteListElement [checked]="!!+QuoteDefault.substring(i,i+1)"></mat-checkbox>
    </mat-grid-tile>

</mat-grid-list>

<div class="ml12 mt10 center">
    <button mat-button matSuffix class="w200px ml15" mat-stroked-button aria-label="Clear" (click)="inserisciRetteConcordate()" >
        Inserisci Rette Concordate
    </button>
</div>