                <!-- ********************************    BOTTONI     ************************************* -->
                <div class="center">
                    <button mat-mini-fab aria-label="Back" matTooltip="Back" class="btn" mat-dialog-close>
                        <mat-icon>arrow_back</mat-icon>
                    </button>

                    <button mat-mini-fab aria-label="Salva" matTooltip="Salva" class="btn ml10"
                            (click)="save()" >
                        <mat-icon>save</mat-icon>
                    </button>

                </div>
<div cdkDropListGroup>
    <div class="flex-box">
        <div class="container">
            <h2>Colonne Disponibili</h2>
        
            <div
                cdkDropList
                [cdkDropListData]="items"
                class="list"
                cdkDropListSortingDisabled
                (cdkDropListDropped)="drop($event)">
                <div class="box" *ngFor="let item of items" cdkDrag>{{item}}</div>
            </div>
        </div>

        <div class="container">
            <h2>Colonne Selezionate</h2>
        
            <div
                cdkDropList
                [cdkDropListData]="basket"
                class="list"
                (cdkDropListDropped)="drop($event)">
                <div class="box" *ngFor="let item of basket" cdkDrag>{{item}}</div>
            </div>
        </div>
    </div>
  </div>