
 
 <!-- **************************   MAT-TABLE   ******************* -->
    <table mat-table class="_table-row-low transparent w100" [dataSource]="matDataSource">


        
        <!-- **************************   NG-CONTAINERs: COLONNE   ******************* -->
        <ng-container matColumnDef="materia">
            <th mat-header-cell *matHeaderCellDef  class="w125px">Materia</th>
            <td mat-cell *matCellDef="let element">{{element.materia.descrizione}}</td>
            <!-- <td mat-cell *matCellDef="let element" [innerHTML]="element.alunno.nome|highlight:filterValue"></td> -->
        </ng-container>

<!--A seconda del tipo di voto (1,2,3) compare la input, la mat select oppure l'icona del (+) che apre la finestra di dialogo degli obiettivi-->
        <ng-container matColumnDef="multiVoto">

            

            <th mat-header-cell *matHeaderCellDef class="w125px">Voto</th>
            <td mat-cell *matCellDef="let element">    
                
                <input *ngIf="element.tipoVotoID == 1" 
                        matInput type="number" placeholder="voto" 
                        [value]="element.voto" 
                        (change)="changeVoto(element, voto.value)" 
                        maxlength="2" #voto>
                
                        

                <mat-select  *ngIf="element.tipoVotoID == 2"  [value]="element.tipoGiudizioID? element.tipoGiudizioID : 1" placeholder="giudizio"  (selectionChange)="changeSelectGiudizio(element, selectGiudizio.value)" #selectGiudizio> 
                    <mat-option *ngFor="let giudizio of (obsTipiGiudizio$ | async)"  [value]="giudizio.id">
                        {{giudizio.descrizione}}
                    </mat-option>
                </mat-select>

                <mat-icon *ngIf="element.tipoVotoID == 3" class="pointer" (click) = "openObiettivi(element)">add_circle_outline</mat-icon>
                <mat-label class="fs10" *ngIf="element.tipoVotoID == 3" [ngClass]="{'_col-red': element.countVotiObiettivi<element.countTotObiettivi}">{{element.countVotiObiettivi}}/{{element.countTotObiettivi}} </mat-label> 
            
                <mat-label class="_warning" *ngIf="element.tipoVotoID == null">Indicazione<br>tipo voto<br> mancante</mat-label>
            </td>
        </ng-container>

        <!-- <ng-container matColumnDef="voto">
            <th mat-header-cell *matHeaderCellDef class="w50px">Voto</th>
            <td mat-cell *matCellDef="let element">
                <input matInput type="number" placeholder="voto" [value]="element.voto" (change)="changeVoto(element, voto.value, 1)" maxlength="2" #voto>
            </td>
        </ng-container>

        <ng-container matColumnDef="tipoGiudizioID">
            <th mat-header-cell *matHeaderCellDef  class="w125px">Giudizio</th>
            <td mat-cell *matCellDef="let element">
                <mat-select  [value]="element.tipoGiudizioID? element.tipoGiudizioID : 1" placeholder="giudizio"  (selectionChange)="changeSelectGiudizio(element, selectGiudizio.value, 1)" #selectGiudizio> 
                    <mat-option *ngFor="let giudizio of (obsTipiGiudizio$ | async)"  [value]="giudizio.id">
                        {{giudizio.descrizione}}
                    </mat-option>
                </mat-select>
            </td>
        </ng-container> -->

        <!-- <ng-container matColumnDef="obiettivi">
            <th mat-header-cell *matHeaderCellDef  >Obiettivi</th>
            <td mat-cell class="h60px center" *matCellDef="let element"></td>
        </ng-container> -->

        <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef  >Note</th>
            <td mat-cell class="h60px _td-note1" *matCellDef="let element">
                <textarea class="h50px _noresize _text-area-note1" matInput (change)="changeNote(element, note.value)" #note>{{element.note}}</textarea>
            </td>
        </ng-container>

        <!-- **************************   MAT-HEADER-ROW   ******************* -->
        <tr mat-header-row  class="_table-title-low" *matHeaderRowDef="displayedColumns;"></tr>  

        <!-- **************************   MAT-ROW   ******************* -->
        <tr mat-row *matRowDef="let element;columns: displayedColumns"
            class="element-row">
        </tr>

    </table>

    
