<div class="w100 ma">
<form [formGroup] = "formConsensi">

        <mat-grid-list *ngFor="let element of (obsConsensi$ | async)" cols="3" rowHeight="60px">
            <mat-grid-tile >
                <textarea class="w100">{{ element.domanda }}</textarea>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="element.numOpzioni == 1">
                <mat-checkbox  [formControlName]="element.id">{{element.testo1}}</mat-checkbox>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="element.numOpzioni != 1" style="width: 300px !important">
                <mat-radio-group aria-label="Select an option" [formControlName]="element.id">
                    <mat-radio-button value="1">{{element.testo1}}</mat-radio-button>
                    <mat-radio-button value="2">{{element.testo2}}</mat-radio-button>
                    <mat-radio-button *ngIf="element.numOpzioni > 2" value="2">{{element.testo3}}</mat-radio-button>
                    <mat-radio-button *ngIf="element.numOpzioni > 3" value="3">{{element.testo4}}</mat-radio-button>
                    <mat-radio-button *ngIf="element.numOpzioni > 4" value="4">{{element.testo5}}</mat-radio-button>
                </mat-radio-group>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="element.file != null">
                <span class="_blue _underline pointer" (click) = "download(element.file!.id)">{{element.file!.nomeFile}}</span>
            </mat-grid-tile>
        </mat-grid-list>

  </form>
</div>
element.file?.nomeFil