<mat-card class="form-card">
    <mat-card-content>

        <div class="center">

            <img class="iconaMenuBig" src="../assets/voticompito_edit_T.svg">

            <button mat-icon-button aria-label="Back" matTooltip="Chiudi" class="_btn-toolbar-close" mat-dialog-close></button>

        </div>
        <div class="center mt20">
            <mat-label class="center fs14" *ngIf="data.id">Compito di:  <span class="fs18">{{data.materia.descrizione}}</span></mat-label>
        </div>
        <div class="center mt10">
            <mat-label class="center fs16" *ngIf="data.id">{{strDtStart | date: 'EEEE, d MMMM, y' : '+0100' : 'it' }} - Classe: {{strClasseSezioneAnno}}</mat-label>
        </div>
        <div class="center mt10">
            <mat-label class="center fs14" *ngIf="data.id">Argomento:  <span class="fs18">{{data.argomentoCompito}}</span></mat-label>
        </div>
           
        <div class="mt20">        

        <app-voti-list [lezioneID] = "data.id"> </app-voti-list>
        </div>


    </mat-card-content>
</mat-card>

