<mat-card appearance="outlined" class="form-card">
    <mat-card-content>
        <form class="data-form flex-form" [formGroup]="form1">
            <img class="iconaMenuBig" src="./assets/classeannomateria_duplica.svg">

            <div>
                <button mat-icon-button aria-label="Back" matTooltip="Chiudi" class="_btn-toolbar-close"
                    mat-dialog-close></button>
            </div>
            <mat-label class="center mt10">COPIA TUTTI I TIPI DI VOTO DA UN ANNO SCOLASTICO AD UN ALTRO</mat-label>

            <mat-grid-list class="mt10" [cols]="2" rowHeight="60px">
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Anno di origine</mat-label>
                        <mat-select required formControlName="selectAnnoFrom">
                            <mat-option *ngFor="let element of (obsAnni$ | async)" [value]="element.id">
                                {{element.annoscolastico}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Anno di destinazione</mat-label>
                        <mat-select required formControlName="selectAnnoTo">
                            <mat-option *ngFor="let element of (obsAnni$ | async)" [value]="element.id">
                                {{element.annoscolastico}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-label class="center mt10">La copia sostituirà eventuali Tipi Voto presenti per l'anno di destinazione</mat-label>

            
        

            <div mat-dialog-actions class="_btn-text-container mat-dialog-buttonsContainer">
                <button class="_btn-text" mat-button cdkFocusInitial [disabled]="!form1.valid" (click)="duplicaAnno()">Procedi</button>
            </div>

        </form>
        <mat-divider></mat-divider>
        <form class="data-form flex-form" [formGroup]="form2">

            <mat-label class="center mt10">COPIA TUTTI I TIPI DI VOTO DA UNA CLASSE AD UN'ALTRA DELLO STESSO ANNO</mat-label>

            <mat-grid-list class="mt10" [cols]="3" rowHeight="60px">
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Anno della classe di origine</mat-label>
                        <mat-select required formControlName="selectAnnoFromClasse">
                            <mat-option *ngFor="let element of (obsAnni$ | async)" [value]="element.id">
                                {{element.annoscolastico}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Classe di origine</mat-label>
                        <mat-select required formControlName="selectClasseFrom">
                            <mat-option *ngFor="let element of (obsClassi$ | async)" [value]="element.id">
                                {{element.descrizione2}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Classe di destinazione</mat-label>
                        <mat-select required formControlName="selectClasseTo">
                            <mat-option *ngFor="let element of (obsClassi$ | async)" [value]="element.id">
                                {{element.descrizione2}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-label class="center mt10">La copia sostituirà eventuali Tipi Voto presenti per la classe di destinazione</mat-label>

            <div mat-dialog-actions class="_btn-text-container mat-dialog-buttonsContainer">
                <button class="_btn-text" mat-button cdkFocusInitial [disabled]="!form2.valid" (click)="duplicaClasse()">Procedi</button>
            </div>
            
        </form>
        <mat-divider></mat-divider>
        <form class="data-form flex-form" [formGroup]="form3">

            <mat-label class="center mt10">MODIFICA TIPO VOTI PER TUTTE LE MATERIE DELLA CLASSE</mat-label>

            <mat-grid-list class="mt10" [cols]="3" rowHeight="60px">
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Anno della classe di origine</mat-label>
                        <mat-select required formControlName="selectAnnoClasse">
                            <mat-option *ngFor="let element of (obsAnni$ | async)" [value]="element.id">
                                {{element.annoscolastico}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Classe</mat-label>
                        <mat-select required formControlName="selectClasse">
                            <mat-option *ngFor="let element of (obsClassi$ | async)" [value]="element.id">
                                {{element.descrizione2}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Tipo di Voto</mat-label>
                        <mat-select required formControlName="selectTipo">
                            <mat-option *ngFor="let element of (obsTipiVoto$ | async)" [value]="element.id">
                                {{element.descrizione}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

            </mat-grid-list>

            <div mat-dialog-actions class="_btn-text-container mat-dialog-buttonsContainer">
                <button class="_btn-text" mat-button cdkFocusInitial [disabled]="!form3.valid" (click)="cambiaTipo()">Procedi</button>
            </div>
            
        </form>
    </mat-card-content>
</mat-card>