<mat-card appearance="outlined" class="form-card">
    <mat-card-content>
        <form *ngIf="(parametro$ | async) || emptyForm" class="data-form flex-form" [formGroup] = "form">
            <div class="center">

                <img class="iconaMenuBig" src="./assets/documento_edit_T.svg">

                <button mat-icon-button aria-label="Back" matTooltip="Chiudi" class="_btn-toolbar-close" mat-dialog-close></button>

                <button *ngIf="data.parametroID" mat-mini-fab aria-label="Back" matTooltip="Back" class="btn ml10"
                        [disabled]= "!form.valid" 
                        (click)="loadData()" >
                    <mat-icon>restart_alt</mat-icon>
                </button>

                <button mat-mini-fab aria-label="Salva" matTooltip="Salva" class="btn ml10"
                        [disabled]= "!form.valid" 
                        (click)="save()" >
                    <mat-icon>save</mat-icon>
                </button>

                <button *ngIf="data.parametroID" mat-mini-fab aria-label="Cancella" matTooltip="Cancella" class="btn ml10"
                        [disabled]= "!form.valid" 
                        (click)="delete()" >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

            <mat-grid-list class="mt10" [cols]="1" rowHeight="100px" >
                <mat-grid-tile>

                    <mat-form-field class="w100 h100px pl5 pt5" appearance="outline">
                        <mat-label>Descrizione</mat-label>
                        <textarea required class="w300px  _noresize" placeholder="Descrizione File" matInput formControlName="parDescr"></textarea>
                    </mat-form-field>

                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="_bordered-grey w100 h100px pl5 pt5" appearance="outline" appFileDrop>

                    </div>
                </mat-grid-tile>
            </mat-grid-list>



        </form>
    </mat-card-content>
</mat-card>
