/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
body { margin: 0; font-family: 'Titillium Web', sans-serif; }
* { font-family: 'Titillium Web', sans-serif;}
.mat-h1, .mat-headline, .mat-typography h1 {
    font-family: 'Titillium Web', sans-serif;
}
.mg20 {
    margin-left: 20px;
}

.mat-drawer-container { background-color: white; }

.spinner-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.32);
    z-index: 20000;
}


/*********** FORM MATERIAL ************/
.data-form {
    text-align: center;     /*NC*/
    max-width: 800px;
    margin: 0 auto;
}
  
.data-form mat-form-field {
    /*display: block;*/     /*NC*/
    margin-top: 10px;
    margin-right: 5px;      /*NC*/
    margin-left: 5px;       /*NC*/
}

.flex-form {
    display: flex;
    flex-direction: column;
}

.form-card {
    max-width: 600px;
    height: 425px;
    margin: 0px auto 10px auto;
    box-shadow: none !important; /*da togliere nel caso di dialog*/
    padding-top: 0px !important;
}

.form-dp {
    max-width: 180px;
}


.button-trash{
    cursor:pointer;
}

/* Bottone Nuovo record */
.button-add {
    position: fixed !important;
    right: 0px;
    margin-right: 20px !important;
}


/*********** FINE FORM MATERIAL ************/


.centerColumn {
    justify-content: center;
    flex: 0 0 200px;
  }

.green-snackbar {
    background-color: #018786;
    color: white;
}

.red-snackbar {
    background-color: #B00020;
    color: white;
}

/*********** DIALOG ************/

.mat-dialog-buttonsContainer {
    justify-content: space-evenly;
}

.mat-dialog-buttonsContainer button {
    width: 200px;
}

mat-dialog-container {
    text-align: center;
}

.cdk-overlay-pane.my-dialog {
    position: relative!important;
  }

.closeDialogButton{
    margin: 5px 5px ;
    position: absolute !important;
    top: 0 !important;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
    cursor: pointer;
}

/*********** FINE DIALOG ************/
/*********** SIDENAV ************/
.example-spacer {
    flex: 1 1 auto;
}

.leftSidenav {
    width:  250px;
    background-color: rgba(255,255,255,1);
}

.rightSidenav {
    width:  250px;
    background-color: rgba(255,255,255,1);
    color: rgb(10,10,10) !important;
}

mat-nav-list a{
    color: rgb(10,10,10) !important;

}

mat-nav-list a mat-icon {
    margin-right: 10px;
}

mat-nav-list a img {
    width: 30px;
    margin-right: 10px;
}


/*********** FINE SIDENAV ************/

.page-title {
    text-align: center;
    margin-top: 10px !important;
}