/************* GENERALI **********/
html, body { height: 100%; 
    /* background-image: lightblue url("../src/assets/background7.jpg") no-repeat fixed center; */

}


/*Font vari*/
body { 
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    
}

* { font-family: 'Titillium Web', sans-serif;
    }

h2 { font-family: 'Titillium Web', sans-serif !important;
}

h3 { font-family: 'Titillium Web', sans-serif !important;
}

.mat-h1, .mat-headline, .mat-typography h1 {
    font-family: 'Titillium Web', sans-serif;
}
/**********************************/

/*************** VARIE ***********/
.mat-button.mat-primary .mat-button-focus-overlay {
    background-color: transparent;
  }

.color-blue {
    background-color: #1B3663;
}


.flex-container {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
}

.flex-item {
    margin-top: 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%;
}



/*Colore sfondo*/
.mat-drawer-container { background-color: white;
    
/*background: white url("../src/assets/backgroundglass.svg") no-repeat center;
background-size: cover;*/

}

.mat-toolbar {
    font-family: 'Titillium Web', sans-serif;
    background: transparent url("../src/assets/backgroundglassToolbar.svg") no-repeat center;
    background-size: cover;
    color: white;
    z-index: 10000;
    /* box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.197); */
}

.mat-toolbar-single-row{
    padding-left: 8px !important;
    padding-right: 28px !important;
}
.position-fixed{
    position: fixed;
}

.fs16 {
    font-size: 16px;
}
/*Margine*/

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.ml2 {
    margin-left: 2px;
}

.ml3 {
    margin-left: 3px;
}

.ml4 {
    margin-left: 4px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px !important;
}

.ml12 {
    margin-left: 12px;
}

.ml15 {
    margin-left: 15px;
}
.ml20 {
    margin-left: 20px;
}

.ml100 {
    margin-left: 100px;
}

.ml130 {
    margin-left: 130px;
}

.ml140 {
    margin-left: 140px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt50 {
    margin-top: 50px;
}

.mt70 {
    margin-top: 70px;
}

.mt64 {
    margin-top: 64px;
}

.ma {
    margin: auto;
}

.ma-lr {
    margin-left: auto;
    margin-right: auto;
}

.pt20 {
    padding-top: 20px;
}

.pt50 {
    padding-top: 50px;
}

.pt60 {
    padding-top: 60px;
}

.mauto {
    margin: auto;
}

/*Width*/

.w20 {
    width: 20%;
}

.w50 {
    width: 50%;
}


.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w95 {
    width: 95%;
}

.w100 {
    width: 100%;
}

.w20px {
    width: 20px;
}

.w40px {
    width: 40px;
}

.w50px {
    width: 50px;
}

.w100px {
    width: 100px;
}

.w125px {
    width: 125px;
}

.w150px {
    width: 150px;
}

.w180px {
    width: 180px;
}

.w200px {
    width: 200px;
}

.h75 {
    height: 75%;
}

.h100px {
    height: 100px;
}

.h125px {
    height: 125px;
}

.h150px {
    height: 150px;
}

.h200px {
    height: 200px;
}

.no-padding {
    padding: 0px; 
}

.br5 {
    border-radius: 5px; 
}

.br20 {
    border-radius: 20px; 
}

.br200 {
    border-radius: 200px; 
}


.center {
    text-align: center;
}

/*Cursore*/
.pointer{
    cursor:pointer;
}

.defaultcursor{
    cursor:default;
}

/*Booh?*/
.centerColumn {
    justify-content: center;
    flex: 0 0 200px;
  }

/*Titolo Pagina*/
  .page-title {
    text-align: center;
    margin-top: 10px !important;
}

.rightMenuTitle {
    color: grey;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
    border-bottom: 1px grey solid;

}
/**********************************/


/*********** FORM MATERIAL ********/
.data-form {
    /* text-align: center;     NC */
    max-width: 800px;
    margin: 0 auto;
}
  
.flex-form {
    display: flex;
    flex-direction: column;
}

.form-card {
    /* max-width: 600px; */
    /*height: 425px;*/
    margin: 0px auto 10px auto;
    box-shadow: none !important; /*da togliere nel caso di dialog*/
    padding-top: 0px !important;
}

.tileCk mat-checkbox{
    position: absolute;
    left: 5px;
}

.data-form mat-form-field {
    /*display: block;*/     /*NC*/
    margin-top: 10px;
    margin-right: 5px;      /*NC*/
    margin-left: 5px;       /*NC*/
}

@media only screen and (max-width: 800px) {
    .data-form mat-form-field{
        margin-right: 45px;      /*NC*/
        margin-left: 45px;       /*NC*/
    }    
    .tileCk .mat-figure {
        justify-content:center !important;
    }
  }

/* .form-card mat-form-field {
    width: 100%;
} */



.btn {
    z-index: 1000;
    background-color: #044D7E !important;
}

.btn-addModal {
    position: absolute !important;
    top: 20px;
    right: 10px;
}

.btn-toolbar {
    position: absolute !important;
    top: 80px;
    left: 10px;
    background-color: #626262 !important;
}

.btn-add {
    position: absolute !important;
    top: 80px;
    right: 30px;
}

.btn-addYellow {
    position: absolute !important;
    left: 10px;
    top: 5px;
    background-color: #e0b20d !important;
}

.btn-addRed {
    position: absolute !important;
    left: 60px;
    top: 5px;
    background-color: #e00d0d !important;
}

.btn-addBlu {
    position: absolute !important;
    left: 110px;
    top: 5px;
    background-color: #1221af !important;
}

.btn-addGreen {
    position: absolute !important;
    left: 160px;
    top: 5px;
    background-color: #12af34 !important;
}

.btn-filter {
    position: absolute !important;
    top: 80px;
    right: 75px;
    z-index: 1000;
    background-color: #044D7E !important;
}

.user-container {
    width: 25%;
    margin:auto;
    text-align: center;
}




/*Detail: Gruppo Buttons sovrastanti*/
.buttonsDetail {
    margin: 5px;
    flex-wrap: nowrap !important;
    justify-content: center !important;
}
/*Detail: Buttons sovrastanti*/
.buttonsDetail button {
    width: 70px;
    margin-left: 5px;
}
/*Detail: Testo dei Buttons sovrastanti*/
.button-textDetail {
    margin-top: -10px;
    text-align: center;
}

/*Button chiusura di una dialog (tipo dashboard)*/
.closeDialogButton {
    margin: 5px 5px ;
    position: absolute !important;
    top: 0 !important;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
    cursor: pointer;
}

/*add-DetailDialog è la classe attribuita dinamicamente
in fase di creazione della Dialog addAlunno*/
.cdk-overlay-pane.add-DetailDialog {
    position: relative!important;
  }
  .app-full-bleed-dialog .mat-dialog-container{
      padding: 0px;
  }
/**********************************/

/*************** SNACKBAR *********/
.green-snackbar {
    background-color: #018786;
    color: white;
}

.red-snackbar {
    background-color: #B00020;
    color: white;
}
/**********************************/

/******** MINI-DIALOG **********/
/*QUI METTIAMO GLI STILI DELLE DIALOG TIPO YES NO OPPURE INSERIMENTO PASSWORD*/
/*Contenitore Buttons Yes/No*/
.mat-dialog-buttonsContainer {
    margin: 5px;
    flex-wrap: nowrap !important;
    justify-content: center !important;
}

/*Buttons Yes/No*/
.mat-dialog-buttonsContainer button {
    width: 70px;
    margin-left: 5px;
}

/**********************************/

/*********** SIDENAV ************/
.example-spacer {
    flex: 1 1 auto;
}

.leftSidenav {
    width:  250px;
    background-color: rgba(255,255,255,1);
}

.rightSidenav {
    width:  200px;
    background-color: rgba(255,255,255,1);
    color: rgb(10,10,10) !important;
}

.rightSidenav mat-form-feld{
font-size: 10px;
}

.leftSidenav2 {
    width:  60px;
    background: transparent url("../src/assets/backgroundglassToolbarVertical.svg") no-repeat;
    background-size: cover;
    color: rgb(10,10,10) !important;
    margin-top: 5px;
    border-radius: 50px 50px 0px 0px;
}

mat-nav-list a{
    color: rgb(10,10,10) !important;

}

mat-nav-list a mat-icon {
    margin-right: 10px;
}

mat-nav-list a img {
    width: 30px;
    margin-right: 10px;
}

.sidenav-expansion-panel-header {
    padding: 0 16px !important;
}

.closeIcon {
    margin-left: 5px;
    margin-top: 20px;
}

.descMenu{
    margin-left: 5px;
}

.iconaMenu{
    height: 24px;
}


.iconaMenuSidenav{
    width: 40px;
}
/* .miniButton {
    width: 5px !important;
    height: 5px !important;
} */

/**********************************/


.transparent {
    background: none;
}


/*  STILE SPOSTATO NEL LOADING COMPONENT.CSS

.spinner-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.32);
    z-index: 20000;
} */


.mat-paginator-container {
    position: absolute;
    margin-top: -60px;
    right: 0px;
}

.topZIndex {
    z-index: 1000;
}

/*Serve per togliere nelle checkbox delle table quella riga di base*/
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    border-bottom-style: none !important;
}


.mat-checkbox {
    /*color: red;*/
}


.material-icons.color_white { color: #FFFFFF; }

.button-transparent.mat-mini-fab.mat-accent   {
    margin-left: 10px;
    background-color: transparent !important;
    box-shadow: none;
    border: 0.5px solid rgba(255, 255, 255, 0.3);
}


/*le icone nei mat-mini-fab sono scentrate verso il basso: questo css rimedia*/
.mat-button-wrapper{
    line-height: 20px !important;
/* padding: 0px 0px 30px 0px; */
}

.mat-mini-fab.mat-button-disabled{
    background-color: #cfcfcf49 !important;
/* padding: 0px 0px 30px 0px; */
}


.border-left {
    border-left: 1px solid grey;
}


.no-overflowx {
    overflow-x:hidden;
}

.frameLabel{
    position: absolute;
    left: 10px;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11px;
    color: grey;
    z-index: 1000;
}

.frameLabelTransparent{
    position: absolute;
    left: 10px;
    top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11px;
    color: grey;
    z-index: 1000;
}

.relative {
    position: relative;
}

.le480 {
    left: 480px;
}


.cellBordered {
    border-radius: 2px;
    border: 0.5px solid rgba(86, 86, 86, 0.279) !important;
}


/* tutte le actionsColumn saranno larghe il 5%*/
.mat-column-actionsColumn {
    flex: 0 0 8% !important;
}

.mat-column-blank {
    flex: 0 0 8% !important; /*Colonne usate in rette sotto la actions column*/
}

.mat-column-tipo {
    flex: 0 0 5% !important; /* https://www.w3schools.com/css/css3_flexbox_items.asp#flex*/
}

.mat-column-addToFam {
    flex: 0 0 5% !important; /* https://www.w3schools.com/css/css3_flexbox_items.asp#flex*/
}

.mat-column-removeFromFam {
    flex: 0 0 5% !important; /* https://www.w3schools.com/css/css3_flexbox_items.asp#flex*/
}

.mat-column-addToAttended {
    flex: 0 0 5% !important; /* https://www.w3schools.com/css/css3_flexbox_items.asp#flex*/
}

.mat-column-removeFromAttended {
    flex: 0 0 5% !important; /* https://www.w3schools.com/css/css3_flexbox_items.asp#flex*/
}

/* tutte le email column saranno larghe 180px e andranno a capo se troppo lunghe */
.mat-column-email {
    flex: 0 0 180px !important; /* https://www.w3schools.com/css/css3_flexbox_items.asp#flex*/
    word-break: break-word; /*spezza l'email quando troppo lunga*/
}

.mat-column-ckAttivo {
    flex: 0 0 5% !important; /* https://www.w3schools.com/css/css3_flexbox_items.asp#flex*/
}

.mat-column-delete {
    flex: 0 0 8% !important; /* https://www.w3schools.com/css/css3_flexbox_items.asp#flex*/
}



  .mat-column-xxx {
    /* flex: 0 0 3% !important; */
    /* width: 5% !important; */

    /* white-space: unset !important; */
    /* overflow-wrap: break-word; */
    /* word-wrap: break-word; */
    /* word-break: break-word; */
  
    /* -ms-hyphens: auto; */
    /* -moz-hyphens: auto; */
    /* -webkit-hyphens: auto; */
    /* hyphens: auto; mette il segno di a capo*/
  }

.logo {

  width: 100%;
  padding-top: 5px;

}

.logo-img {
    width: 125px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.logo-img2{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    background:  url("../src/assets/solologoscrittacolor.png") no-repeat center;
    background-size: cover;
    height: 38px;
    width: 210px;
}

.logo-img2:hover {
    background: url("../src/assets/logoscritta.svg") no-repeat center;
    background-size: cover;
    height: 38px;
    width: 210px;
}



.logo-login {
    width: 200px;
}

.yellow {
    background-color: #FFFF00;
}

.bold {
    font-weight: bold;
}

.al-right {
    justify-content: flex-end;
}

.tx-right {
  text-align:right;
}

.grey {
    background-color: rgb(241, 241, 241);
}
  
.low-row {
    min-height: 30px;
}

.stroked {
    text-decoration: line-through;
}



.roundphoto {
    
    margin: 0 auto;
    height: 100%;
    position: relative;
    left: 0;
    /* width: auto; */
    /* object-fit: cover; */
}


.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    /* overflow: hidden; */
    /*border-radius: 50%;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bordered {
    border: 3px solid rgba(0, 0, 0, 0.1);
}

.bordered-white {
    border: 2px solid rgb(255, 255, 255);
}

.bordered-grey {
    border: 1px solid grey;
}

.big-border {
    border: 60px solid rgba(0,0,0, .3);
}


div.outer {
    width: 300px; 
    margin: 0 auto; 
    border: 1px solid red; /* for demo */
    overflow: visible;
    height: 102px;  /* for demo since child is floated */ 
}
div.inner {
    position:relative;
    float: right;
    right: 50%;
}
div.inner img {
    border: 1px solid blue; /* for demo */
    position: relative; 
    right:-50%;
    opacity: .5; /* for demo */
}

.shadowed {
    box-shadow: 0 3px 4px 0 rgba(149, 149, 149, 0.05), 4px 2px 10px  rgba(0, 0, 0, 0.1);
}