/************* GENERALI **********/
html, body { height: 100%; 
    /* background-image: lightblue url("../src/assets/background7.jpg") no-repeat fixed center; */

}

/*Font vari*/
body { 
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    
}

* { font-family: 'Titillium Web', sans-serif;
    }

.mat-h1, .mat-headline, .mat-typography h1 {
    font-family: 'Titillium Web', sans-serif;
}
/**********************************/

/*************** VARIE ***********/

/*Colore sfondo*/
.mat-drawer-container { background-color: white;
    background-image: url("../src/assets/backgroundglass.svg");
    background: white url("../src/assets/backgroundglass.svg") no-repeat center;
    background-size: cover;

    }

/*Margine*/
.ml20 {
    margin-left: 20px;
}
.ml5 {
    margin-left: 5px;
}
.ml12 {
    margin-left: 12px !important;
}
.mr5 {
    margin-right: 5px;
}

.mauto {
    margin: auto;
}

/*Width*/

.w90 {
    width: 90%;
}

/*Cursore*/
.pointer{
    cursor:pointer;
}

/*Booh?*/
.centerColumn {
    justify-content: center;
    flex: 0 0 200px;
  }

/*Titolo Pagina*/
  .page-title {
    text-align: center;
    margin-top: 10px !important;
}

.rightMenuTitle {
    color: grey;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
    border-bottom: 1px grey solid;

}
/**********************************/


/*********** FORM MATERIAL ********/
.data-form {
    text-align: center;     /*NC*/
    max-width: 800px;
    margin: 0 auto;
}
  
.flex-form {
    display: flex;
    flex-direction: column;
}

.form-card {
    max-width: 600px;
    height: 425px;
    margin: 0px auto 10px auto;
    box-shadow: none !important; /*da togliere nel caso di dialog*/
    padding-top: 0px !important;
}

.tileCk .mat-figure {
    justify-content:left !important;
}

.data-form mat-form-field {
    /*display: block;*/     /*NC*/
    margin-top: 10px;
    margin-right: 5px;      /*NC*/
    margin-left: 5px;       /*NC*/
}

@media only screen and (max-width: 800px) {
    .data-form mat-form-field{
        margin-right: 45px;      /*NC*/
        margin-left: 45px;       /*NC*/
    }    
    .tileCk .mat-figure {
        justify-content:center !important;
    }
  }

.form-card mat-form-field {
    width: 100%;
}

/* Bottone Nuovo record */
.button-add {
    position: fixed !important;
    right: 0px;
    margin-right: 20px !important;
    z-index: 1000;
}

/*Detail: Gruppo Buttons sovrastanti*/
.buttonsDetail {
    margin: 5px;
    flex-wrap: nowrap !important;
    justify-content: center !important;
}
/*Detail: Buttons sovrastanti*/
.buttonsDetail button {
    width: 70px;
    margin-left: 5px;
}
/*Detail: Testo dei Buttons sovrastanti*/
.button-textDetail {
    margin-top: -10px;
    text-align: center;
}

/*Button chiusura di una dialog (tipo dashboard)*/
.closeDialogButton {
    margin: 5px 5px ;
    position: absolute !important;
    top: 0 !important;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
    cursor: pointer;
}

/*add-DetailDialog è la classe attribuita dinamicamente
in fase di creazione della Dialog addAlunno*/
.cdk-overlay-pane.add-DetailDialog {
    position: relative!important;
  }

/**********************************/

/*************** SNACKBAR *********/
.green-snackbar {
    background-color: #018786;
    color: white;
}

.red-snackbar {
    background-color: #B00020;
    color: white;
}
/**********************************/

/******** MINI-DIALOG **********/
/*QUI METTIAMO GLI STILI DELLE DIALOG TIPO YES NO OPPURE INSERIMENTO PASSWORD*/
/*Contenitore Buttons Yes/No*/
.mat-dialog-buttonsContainer {
    margin: 5px;
    flex-wrap: nowrap !important;
    justify-content: center !important;
}

/*Buttons Yes/No*/
.mat-dialog-buttonsContainer button {
    width: 70px;
    margin-left: 5px;
}

/**********************************/

/*********** SIDENAV ************/
.example-spacer {
    flex: 1 1 auto;
}

.leftSidenav {
    width:  250px;
    background-color: rgba(255,255,255,1);
}

.rightSidenav {
    width:  250px;
    background-color: rgba(255,255,255,1);
    color: rgb(10,10,10) !important;
}

.rightSidenav mat-form-feld{
font-size: 10px;
}

mat-nav-list a{
    color: rgb(10,10,10) !important;

}

mat-nav-list a mat-icon {
    margin-right: 10px;
}

mat-nav-list a img {
    width: 30px;
    margin-right: 10px;
}

.closeIcon {
    margin-left: 5px;
    margin-top: 20px;
}

.descMenu{
    margin-left: 5px;
}

/* .miniButton {
    width: 5px !important;
    height: 5px !important;
} */

/**********************************/


.transparent {
    background: none;
}


/*  STILE SPOSTATO NEL LOADING COMPONENT.CSS

.spinner-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.32);
    z-index: 20000;
} */
