    <div class="w300px ma-lr mt20 center" >
        <mat-label>LOGO DELLA SCUOLA PER LE EMAIL</mat-label>
    </div>

    <div class="image-container ma-lr mt20 br10 shadowed" >
        <img #logoScuolaEmail class="img" *ngIf="imgFile" [src]="imgFile">
    </div>

    <div class="flex-container form-group mt20 ">
        <div class="form-group">
            <input type="file" class="form-control" id="file" accept=".gif,.jpg,.jpeg,.png" formControlName="file" (change)="onImageChange($event)"hidden #selectFile>
            <button type="button" mat-button matSuffix class="w180px ma" mat-stroked-button (click)="selectFile.click()" >Seleziona Immagine</button>
        </div>
    </div>


<!--
<div class="progress">
    <mat-progress-bar class="progress-bar" mode="determinate"
                      [value]="uploadProgress" *ngIf="uploadProgress">
    </mat-progress-bar>
  
    <mat-icon class="cancel-upload" (click)="cancelUpload()" 
              *ngIf="uploadProgress">delete_forever
    </mat-icon>
  
</div> -->