<form [formGroup]="form">

    <div class="center">
        <mat-form-field>
            <input matInput type="password" placeholder="Password Attuale" formControlName="password">
        </mat-form-field>
    </div>

    <div class="center">
        <mat-form-field>
            <input matInput type="password" placeholder="Nuova Password" formControlName="newPassword">
        </mat-form-field>
    </div>

    <div class="center">
        <mat-form-field>
            <input matInput type="password" placeholder="Ripeti Password" formControlName="repeatPassword">
        </mat-form-field>
    </div>
</form>

<div class="center mt10">
    <button type="button" mat-button matSuffix class="w180px ma mt10" mat-stroked-button (click)="save()">Salva</button>
</div>
