
<div class="pt60">

    <div style="text-align: center; margin-bottom: 10px;">
        Filtri Avanzati
    </div>
    <mat-grid-list class="_low-list-row no-overflowx" [cols]="1" rowHeight="60px">
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Nome Alunno</mat-label>
                <input matInput [formControl]="nomeFilter">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list class="_low-list-row no-overflowx" [cols]="1" rowHeight="60px">
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Cognome Alunno</mat-label>
                <input matInput [formControl]="cognomeFilter">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list class="_low-list-row no-overflowx" [cols]="1" rowHeight="60px">
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Classe</mat-label>
                <input matInput [formControl]="classeFilter">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list class="_low-list-row no-overflowx" [cols]="1" rowHeight="60px">
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Sezione</mat-label>
                <input matInput [formControl]="sezioneFilter">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list class="_low-list-row no-overflowx" [cols]="1" rowHeight="60px">
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Cod. Fiscale</mat-label>
                <input matInput [formControl]="cfFilter">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

    <!-- <mat-grid-list class="_low-list-row no-overflowx" [cols]="1" rowHeight="60px">
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>e-mail</mat-label>
                <input matInput [formControl]="emailFilter">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list class="_low-list-row no-overflowx" [cols]="1" rowHeight="60px">
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Telefono</mat-label>
                <input matInput [formControl]="telefonoFilter">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list> -->

    <mat-grid-list class="_low-list-row no-overflowx" [cols]="1" rowHeight="60px">
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Nato il</mat-label>
                <input matInput [formControl]="dtNascitaFilter">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

    <!-- <mat-grid-list class="_low-list-row no-overflowx" [cols]="1" rowHeight="60px">
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Indirizzo</mat-label>
                <input matInput [formControl]="indirizzoFilter">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list> -->

    <mat-grid-list class="_low-list-row no-overflowx" [cols]="1" rowHeight="60px">
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Comune</mat-label>
                <input matInput [formControl]="comuneFilter">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list class="_low-list-row no-overflowx" [cols]="1" rowHeight="60px">
        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Prov</mat-label>
                <input matInput [formControl]="provFilter">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>


    <div class="ml12 mt10">
        <button mat-button matSuffix class="w180px ml15" mat-stroked-button aria-label="Clear" (click)="resetAllInputsAndClearFilters()" >
            Pulisci Filtri
        </button>
    </div>

</div>


