<mat-card appearance="outlined" class="form-card">
    <mat-card-content>
        <div *ngIf="data">
            <div class="center">

                <img class="iconaMenuBig" src="./assets/risorsaclasse_edit_T.svg">

                <button mat-icon-button aria-label="Back" matTooltip="Chiudi" class="_btn-toolbar-close" mat-dialog-close></button>

                <button mat-mini-fab aria-label="Back" matTooltip="Back" class="btn ml10"

                        (click)="loadData()" >
                    <mat-icon>restart_alt</mat-icon>
                </button>

                <button mat-mini-fab aria-label="Salva" matTooltip="Salva" class="btn ml10"

                        (click)="save()" >
                    <mat-icon>save</mat-icon>
                </button>
            </div>
            <br>
            <div *ngIf="classeSezioneAnno" class="center">
                {{'Documenti della '+classeSezioneAnno.classeSezione.classe?.descrizione2 + ' sez.' + classeSezioneAnno.classeSezione.sezione}}
            </div>
            <!-- **************************   MAT-TABLE   ******************* -->
            <table mat-table class="_table-row-low transparent w100"
                [dataSource]="matDataSource"
                matSort>
        
                <!-- **************************   NG-CONTAINERs: COLONNE   ******************* -->
                <ng-container matColumnDef="actionsColumn">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell  *matCellDef="let element;"> 
                        <img class="iconaMenu pointer" src="./assets/risorsaclasse_edit.svg">
                    </td>
                </ng-container>
        
                <ng-container matColumnDef="fileName">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header >Nome File</th>
                    <td mat-cell *matCellDef="let element" [innerHTML]="element.risorsa.nomeFile | highlight:filterValue"></td>
                </ng-container>

                <ng-container matColumnDef="tipoDocumento">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header >Tipo Documento</th>
                    <td mat-cell *matCellDef="let element" [innerHTML]="element.tipoDocumento.descrizione |highlight:filterValue"></td>
                </ng-container>
        
                <!-- **************************   MAT-HEADER-ROW   ******************* -->
                <tr mat-header-row class="_table-title-low" *matHeaderRowDef="displayedColumns;"></tr>
                
                <!-- **************************   MAT-ROW   ******************* -->
                <tr mat-row *matRowDef="let element;columns: displayedColumns" class="element-row" ></tr>
            </table>


        </div>
    </mat-card-content>
</mat-card>
