<!-- style trasform funziona quando si ridimensiona -->
<!-- mousedown all'interno del div trasforma lo status in 2 (MOVE) -->
<!-- mouseup fuori dal div resetta a 0 lo status -->


<div 
    #box class="resizable-draggable" 
    [style.width.px]="width"
    [style.height.px]="height" 
    [style.background-color] = "blocco.color"
    [ngStyle]="{'border-top': blocco.borderTop? 'solid 1px grey':'none', 'border-right': blocco.borderRight? 'solid 1px grey':'none', 'border-bottom': blocco.borderBottom? 'solid 1px grey':'none', 'border-left': blocco.borderLeft? 'solid 1px grey':'none'}"

    [style.transform]="'translate3d('+ left + 'px,' + top + 'px,' + '0px)'"
    [class.active]="status === 1 || status === 2"
    (mousedown)="setStatus($event, 2)"
    (mouseup)="setStatus($event, 0)"
    (dblclick)="openDetail()"
    
>

<!-- [ngStyle] = "{'font-size': 10*zoom+'px'}" -->

<div class="ql-editor" *ngIf="blocco.bloccoTesto" 
    [innerHTML] ="blocco.bloccoTesto!.testo" 
    style="word-break: break-all; "
    >
</div>

<div *ngIf="blocco.bloccoFoto" class="center">
    <img class="_pos-relative ma" [style.height.px]="height" style="width: 100%; height: 100%; object-fit: contain !important" [src]="blocco.bloccoFoto.foto">
</div>

<!-- resize-action è il triangolino, classTipo dice se blu o giallo-->
    <div class="resize-action" [ngClass] = "classTipo" (mousedown)="setStatus($event, 1)"></div>
    <span class="w-legenda">{{width/zoom | number:'1.0-0'}}px</span>
    <span class="h-legenda">{{height/zoom | number:'1.0-0'}}px</span>
    <span class="size w100">{{(left/zoom | number:'1.0-0')}}-{{top/zoom | number:'1.0-0'}}</span>
<!-- </div> -->
</div>