<!-- style trasform funziona quando si ridimensiona -->
<!-- mousedown all'interno del div trasforma lo status in 2 (MOVE) -->
<!-- mouseup fuori dal div resetta a 0 lo status -->

<div 
    #box class="resizable-draggable" 
    [style.width.px]="width"
    [style.height.px]="height"
    
    [style.background-color] = "blocco.ckTraspFill? 'transparent': blocco.color"
    
    [ngStyle]="{
        'border-top': blocco.borderTop? blocco.typeBorders + ' ' + thicknBorders*zoom + 'px ' + blocco.colorBorders:'none', 
        'border-right': blocco.borderRight? blocco.typeBorders + ' ' +thicknBorders*zoom + 'px ' + blocco.colorBorders:'none', 
        'border-bottom': blocco.borderBottom? blocco.typeBorders + ' ' +thicknBorders*zoom + 'px ' + blocco.colorBorders:'none', 
        'border-left': blocco.borderLeft? blocco.typeBorders + ' ' +thicknBorders*zoom + 'px ' + blocco.colorBorders:'none'}"

    [style.transform]="'translate3d('+ left + 'px,' + top + 'px,' + '0px)'"
    [class.active]="status === 1 || status === 2"
    (mousedown)="setStatus($event, 2)"
    (mouseup)="setStatus($event, 0)"
    (dblclick)="openDetail()"

    (contextmenu)="onRightClick($event, blocco)"
    
>

    <!--La dimensione del font va adattata al livello di zoom...c'è però un fattore di adattamento ulteriore...perchè cambiando zoom cambiano gli a capo-->
    <!-- style="word-break: break-all; " -->
    <!-- [style.font-size]="zoom/4+'em'"  una alternativa: il 4 dà una proporzione "simile" a una pagina word-->

        <!-- [style.transform]= "'scale('+zoom+')'" -->
    <div class="blocco ql-container ql-snow" style="border-width: 0;" *ngIf="blocco.tipoBlocco!.descrizione == 'Text'">
        <div class="ql-editor"  
            style="word-break: normal; max-height: 100%; max-width: 100%;"
            [style.font-size.px]="fontSizeN/2.65*zoom"
            [style.padding]="3*zoom+'px !important'"
            [innerHTML] ="blocco._BloccoTesti? blocco._BloccoTesti[0].testo: ''"
            >
        </div>
    </div>

    <app-table-show
        *ngIf="blocco.tipoBlocco!.descrizione == 'Table'"
        [bloccoID] = "blocco.id!"
        [adapt] = "zoom"
        
        >
    </app-table-show>


    <div 
        *ngIf="blocco.tipoBlocco!.descrizione == 'Image'"
        class="center">
        <img class="_pos-relative ma" 
            [style.height.px]="height" 
            style="width: 100%; height: 100%; object-fit: contain !important" 
            [src]="blocco._BloccoFoto? blocco._BloccoFoto[0].foto: ''"
        >
    </div>


    <div class="resize-action" [ngClass] = "classTipo" (mousedown)="setStatus($event, 1)"></div>
    <span class="w-legenda">{{width/zoom | number:'1.0-0'}}px</span>
    <span class="h-legenda">{{height/zoom | number:'1.0-0'}}px</span>
    <span class="size w100">{{(left/zoom | number:'1.0-0')}}-{{top/zoom | number:'1.0-0'}}</span>



    

</div>

    <!-- right click menu -->
    <div style="visibility: hidden; position: fixed;" 
        [style.left]="menuTopLeftPosition.x" 
        [style.top]="menuTopLeftPosition.y" 
        [matMenuTriggerFor]="rightMenu">
    </div> 

    <mat-menu #rightMenu="matMenu" style="position: fixed;"> 
        <ng-template matMenuContent let-item="item"> 
            <!-- <mat-label class="_titolo-filtri-avanzati">MENU</mat-label>  -->
            <button mat-menu-item (click)="portaInPrimoPiano(item)">
                <img class="iconaMenu mr15" src="./assets/bring_to_front.svg">Porta davanti
            </button> 
            <button mat-menu-item (click)="portaInSecondoPiano(item)">
                <img class="iconaMenu mr15" src="./assets/bring_to_back.svg">Porta dietro
            </button> 
            <button mat-menu-item (click)="duplica(item)">
                <img class="iconaMenu mr15" src="./assets/duplicate.svg">Duplica
            </button> 
            <button mat-menu-item (click)="delete(item)">
                <mat-icon>delete</mat-icon>Elimina
            </button> 
            <button mat-menu-item (click)="openDetail()">
                <mat-icon>edit</mat-icon>Modifica
            </button> 
        </ng-template> 
    </mat-menu> 