
  
  
  <!-- <mat-form-field >
  <mat-label>Figli</mat-label>
  <mat-select formControlName="figlio" #selectFiglio>
      <mat-option *ngFor="let element of (obsFigli$ | async)" [value]="element.id">
          {{element.persona.nome}} {{element.persona.cognome}}
      </mat-option>
  </mat-select>
</mat-form-field> -->
ccccc
  <mat-stepper  #stepper animationDuration="200" labelPosition="bottom" >
    <ng-template matStepperIcon="edit">
      <mat-icon>done</mat-icon>
    </ng-template>
    <!-- [stepControl]="apppersonaformG.form" -->
    <mat-step *ngFor="let element of genitoriArr; let i= index"  >


      <ng-template matStepLabel >Dati del Genitore {{i+1}}</ng-template>
      <h3>{{element.tipoGenitore!.descrizione}}: {{element.persona.nome}} {{element.persona.cognome}}</h3>
      <app-persona-form
        [personaID]="element.personaID"
        [dove]="'procedura-iscrizione'"

        
      #apppersonaformG>
      </app-persona-form> 
       <div class="center">
        <button *ngIf="i!=0" mat-stroked-button matStepperPrevious>Indietro</button>
        <button mat-stroked-button class="ml10" matStepperNext (click)="salvaPersona(3)">Salva e procedi</button>
      </div>
    </mat-step>

    <mat-step >
      <ng-template matStepLabel>Dati dell'alunno</ng-template>
      <h3>Alunno: {{iscrizione.alunno.persona.nome}} {{iscrizione.alunno.persona.cognome}}</h3>
      <app-persona-form
      [personaID]="iscrizione.alunno.personaID"
      #apppersonaform>
      </app-persona-form> 
      <div class="center">
        <button mat-stroked-button matStepperPrevious>Indietro</button>
        <button mat-stroked-button class="ml10" matStepperNext (click)="salvaPersona(1)">Salva e procedi</button>
      </div>    
    </mat-step>
    

    <mat-step >

      <ng-template matStepLabel>Consensi</ng-template>
      <div class="center">
        <button mat-stroked-button matStepperPrevious>Indietro</button>
        <button mat-stroked-button class="ml10" matStepperNext>Salva e procedi</button>
      </div>

    </mat-step>


    <mat-step >

      <ng-template matStepLabel>Dati economici</ng-template>
      <div class="center">
        <button mat-stroked-button matStepperPrevious>Indietro</button>
        <button mat-stroked-button class="ml10" matStepperNext>Salva e procedi</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Fine</ng-template>
      Hai completato l'iscrizione
      <div class="center">
        <button mat-stroked-button matStepperPrevious>Indietro</button>
      </div>
    </mat-step>

    <ng-template matStepperIcon="genitori">
      <mat-icon>call_end</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template>
  </mat-stepper>