
  
  <!-- <mat-form-field >
  <mat-label>Figli</mat-label>
  <mat-select formControlName="figlio" #selectFiglio>
      <mat-option *ngFor="let element of (obsFigli$ | async)" [value]="element.id">
          {{element.persona.nome}} {{element.persona.cognome}}
      </mat-option>
  </mat-select>
</mat-form-field> -->

  <mat-stepper  linear="true" #stepper animationDuration="200" labelPosition="bottom" >
    <ng-template matStepperIcon="edit">
      <mat-icon>done</mat-icon>
    </ng-template>
    <!-- [stepControl]="apppersonaformG.form" -->
    <mat-step *ngFor="let element of genitoriArr; let i= index"  [stepControl]="appGenitoreForm.form" >
      <ng-template matStepLabel >Dati del Genitore {{i+1}}</ng-template>
      <h3 *ngIf="iscrizione">{{element.tipoGenitore!.descrizione}}: {{element.persona.nome}} {{element.persona.cognome}}</h3>
      <app-persona-form  [personaID]="element.personaID" 
                         [dove]="'procedura-iscrizione'"
                         #appGenitoreForm>
      </app-persona-form> 
       <div class="center mt20">
        <button *ngIf="i!=0" mat-stroked-button matStepperPrevious>Indietro</button>
        <button mat-stroked-button 
                class="ml10" 
                matStepperNext 
                [disabled]="!appGenitoreForm.form.valid"
                (click)="salvaPersona(3)">
            Salva e procedi
        </button>
      </div>
    </mat-step>

    <!-- NON SI CAPISCE PERCHE' QUI NON FUNZIONA [stepControl]="appAlunnoForm.form" e [disabled]="!appAlunnoForm.form.valid" -->
    <mat-step *ngIf="iscrizione" [stepControl]="appAlunnoForm.form">
      <ng-template matStepLabel>Dati dell'alunno</ng-template>
      <h3 *ngIf="iscrizione">Alunno: {{iscrizione.alunno.persona.nome}} {{iscrizione.alunno.persona.cognome}}</h3>
      <app-persona-form  [personaID]="iscrizione.alunno.personaID" 
                         [dove]="'procedura-iscrizione'"
                         #appAlunnoForm>
      </app-persona-form> 

      <div class="center mt20">
        <button mat-stroked-button matStepperPrevious>Indietro</button>
        <button mat-stroked-button 
                class="ml10" 
                matStepperNext 
                [disabled]="!appAlunnoForm.form.valid"
                (click)="salvaPersona(1)">
          Salva e procedi
        </button>
      </div>    
    </mat-step>
    
    <mat-step [stepControl]="formIscrizioneConsensi.formConsensi">
      <ng-template matStepLabel>Consensi</ng-template>
      <app-iscrizione-consensi  
        [iscrizioneID]="iscrizioneID"
        [tipo]="'Consensi'"
        #formIscrizioneConsensi>
      </app-iscrizione-consensi> 

      <div class="center mt20">
        <button mat-stroked-button matStepperPrevious>Indietro</button>
        <button mat-stroked-button 
                class="ml10" 
                matStepperNext
                [disabled]="!formIscrizioneConsensi.formConsensi.valid"
                (click)="salvaConsensi('Consensi')">
          Salva e procedi
        </button>
      </div>
    </mat-step>

    <mat-step [stepControl]="formIscrizioneDatiEconomici.formConsensi">
      <ng-template matStepLabel>Dati economici</ng-template>
      <app-iscrizione-consensi  
        [iscrizioneID]="iscrizioneID"
        [tipo]="'Dati Economici'"
        #formIscrizioneDatiEconomici>
      </app-iscrizione-consensi>

      <div class="center mt20">
        <button mat-stroked-button matStepperPrevious>Indietro</button>
        <button mat-stroked-button
                class="ml10"
                matStepperNext
                [disabled]="!formIscrizioneDatiEconomici.formConsensi.valid"
                (click)="salvaConsensi('Dati Economici')">
          Salva e procedi
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Fine</ng-template>
      <div class="center">Grazie, hai completato l'iscrizione!</div>
      <div class="center mt10">
        <button mat-stroked-button matStepperPrevious>Indietro</button>
        <button mat-stroked-button
                class="ml10"
                (click)="downloadModuloIscrizione()"

                >Stampa Modulo di iscrizione</button>
      </div>
    </mat-step>

    <ng-template matStepperIcon="genitori">
      <mat-icon>call_end</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template>
  </mat-stepper>