    <mat-card class="form-card">
        <mat-card-content>
            
<!-- ********************************    BOTTONI     ************************************* -->

            <div class="center">

                <!-- <button mat-mini-fab aria-label="Back" matTooltip="Back" class="btn" 
                mat-dialog-close>
                    <mat-icon>arrow_back</mat-icon>
                </button> -->
                <img class="iconaMenuBig" src="../assets/genitore_edit_T.svg">

                <button mat-icon-button aria-label="Back" matTooltip="Chiudi" class="_btn-toolbar-close" mat-dialog-close></button>
                <span [ngClass]="{'invisible': selectedTab != 0}">
                    <button *ngIf="genitoreID" mat-mini-fab aria-label="Back" matTooltip="Back" class="btn ml10"
                            [disabled]= "!formPersona.valid" 
                            (click)="loadData()" >
                        <mat-icon>restart_alt</mat-icon>
                    </button>

                    <button mat-mini-fab aria-label="Salva" matTooltip="Salva" class="btn ml10"
                            [disabled]= "!formPersona.valid" 
                            (click)="save()" >
                        <mat-icon>save</mat-icon>
                    </button>

                    <button *ngIf="genitoreID" mat-mini-fab aria-label="Cancella" matTooltip="Cancella" class="btn ml10"
                            [disabled]= "!formPersona.valid" 
                            (click)="delete()" >
                        <mat-icon>delete</mat-icon>
                    </button>
                </span>
            </div>
                
            
                <mat-tab-group mat-align-tabs="center" (selectedTabChange)="selectedTabValue($event)">
<!-- ********************************    MAT TAB ANAGRAFICA *********************************** -->
                    <mat-tab  label="Dati Anagrafici">
                        <form *ngIf="(genitore$ | async) || emptyForm" class="data-form flex-form" [formGroup] = "formPersona">    
                            <mat-grid-list class="mt10" [cols]="breakpoint" rowHeight="60px" (window:resize)="onResize($event)">    
                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput type="text" required placeholder="Nome" minlength= "3" formControlName="nome" #nome>
                                        <mat-error *ngIf="formPersona.controls.nome.errors?.required"> Campo obbligatorio</mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput required type="text" placeholder="Cognome" formControlName="cognome">
                                        <mat-error *ngIf="formPersona.controls.cognome.errors?.required"> Campo obbligatorio</mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile>
                                    <mat-checkbox color="primary" formControlName="ckAttivo">
                                        Anagrafica Attiva
                                    </mat-checkbox>
                                </mat-grid-tile>

                            </mat-grid-list>

                            <mat-grid-list [cols]="breakpoint" rowHeight="60px">

                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput required type="text" 
                                            placeholder="Tipo (P/M/T)" 
                                            formControlName="tipo">
                                        <mat-error>Inserire P (padre), M (madre) o T (tutore)</mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput required formControlName = "dtNascita" 
                                            [matDatepicker]= "dpDtNascita"
                                            placeholder="Data di Nascita"
                                            #date>
                                        <mat-datepicker-toggle matSuffix [for]="dpDtNascita" ></mat-datepicker-toggle>
                                        <mat-datepicker #dpDtNascita  ></mat-datepicker>
                                        <mat-error *ngIf="formPersona.controls.dtNascita.errors?.required"> Campo obbligatorio</mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Codice Fiscale" formControlName="cf">
                                        <mat-error>Campo errato</mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>

                            <mat-grid-list [cols]="breakpoint" rowHeight="60px">
                                <mat-grid-tile>
                                    <mat-form-field>
                                        <mat-label>Comune di Nascita</mat-label>
                                        <input type="text"
                                                placeholder="<Selezionare il Comune>"
                                                matInput
                                                formControlName="comuneNascita"
                                                [matAutocomplete]="auto1">
                                        <mat-autocomplete #auto1="matAutocomplete" >
                                            <mat-spinner *ngIf="comuniNascitaIsLoading" class="_spinner-is-loading-mini" diameter="40"></mat-spinner>
                                            <mat-option *ngFor="let element of (filteredComuniNascita$ | async)" [value]="element.comune" (click)="popolaProvNascita(element.provincia)">
                                                <small>{{element.comune}}</small>
                                                <!-- <small> - {{element.provincia}}</small> -->
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Prov di Nascita" formControlName="provNascita">
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Paese di Nascita" formControlName="nazioneNascita">
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile>
                                    <mat-form-field>
                                        <mat-label>Comune di Residenza</mat-label>
                                        <input type="text"
                                                placeholder="<Selezionare il Comune>"
                                                matInput
                                                formControlName="comune"
                                                [matAutocomplete]="auto2">
                                        <mat-autocomplete #auto2="matAutocomplete" >
                                            <mat-spinner *ngIf="comuniIsLoading" class="_spinner-is-loading-mini" diameter="40"></mat-spinner>
                                            <ng-container >
                                                <mat-option *ngFor="let element of (filteredComuni$ | async)" [value]="element.comune" (click)="popolaProv(element.provincia,  element.cap)">
                                                    <small>{{element.comune}}</small>
                                                    <!-- <small> - {{element.provincia}}</small> -->
                                                </mat-option>
                                            </ng-container>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Prov di Residenza" formControlName="prov">
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Paese di Residenza" formControlName="nazione">
                                    </mat-form-field>
                                </mat-grid-tile>
                                
                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input  matInput type="text" placeholder="Indirizzo e N. Civico" formControlName="indirizzo">
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="CAP" formControlName="cap">
                                    </mat-form-field>
                                </mat-grid-tile>

                            </mat-grid-list>  
                            <mat-grid-list [cols]="breakpoint" rowHeight="60px">
                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Telefono" formControlName="telefono">
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="altro Telefono" formControlName="telefono1">
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="e-mail" formControlName="email">
                                        <mat-error>Campo errato</mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </form>

                        <form *ngIf="(genitore$ | async) || emptyForm" class="data-form flex-form" [formGroup] = "formGenitore">
                            <mat-grid-list class="mt10" [cols]="3" rowHeight="60px" (window:resize)="onResize($event)">
                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Titolo di studio"   formControlName="titoloStudio" #titoloStudio>
                                    </mat-form-field>
                                </mat-grid-tile>
                                
                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Professione"   formControlName="professione" #professione>
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </form> 
                    </mat-tab>
<!-- ********************************    MAT TAB FIGLI ************************************ -->
                    <mat-tab  label="Famiglia">
                        <button mat-mini-fab aria-label="Nuova anagrafica Alunno" matTooltip="Nuova anagrafica Alunno" class= "_btn-addModal" (click)="addAlunno()">
                            <mat-icon>add</mat-icon>
                        </button>
                        <mat-label class="frameLabel">i figli di {{genitoreNomeCognome}}</mat-label>
                        <div class="_alunni-container cellBordered mt10">
                            <app-alunni-list 
                                [context]="'genitore-edit-famiglia'" 
                                [genitoreID] ="genitoreID" 
                                (removeFromFamily) = "removeFromFamily($event)" 
                                #alunniFamiglia>
                            </app-alunni-list>
                        </div>
                        <mat-accordion>
                            <mat-expansion-panel hideToggle>
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  Elenco di tutti gli alunni
                                </mat-panel-title>
                                <mat-panel-description>
                                  (fare click per aprire)
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                                <mat-label class="frameLabel">Elenco degli alunni </mat-label>
                                <div class="_alunni-list-container cellBordered mt10">
                                    <!-- <app-alunni-list [dove]="'genitore-edit-list'" (addToFamily) = "addToFamily($event)"></app-alunni-list> -->
                                    <app-alunni-list 
                                        [context]="'genitore-edit-list'" 
                                        (addToFamily) = "addToFamily($event)">
                                    </app-alunni-list>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>

                    </mat-tab>
                </mat-tab-group>
            

            <!-- <div>
                errori su campo nome: {{formPersona.controls.nome.errors?.required}}
            </div>
            <div>
                formPersona.valid: {{formPersona.valid}}
            </div> -->


            
        </mat-card-content>
    </mat-card>

